#top-container{
    width: 85%; 
    margin-top: 5%; 
    border-radius: 5px;
    background-color: transparent;
    margin-top: 6%;
}

#option{
    width: 30%; 
    border-radius: 5px;
    height: 130px;
    border:2px solid transparent;
    
}

#option:hover{
    border:2px solid #95C22B;
    cursor: pointer;
}

.option-title {
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-right: 15%;
}

.heading{
    margin-left: 9.5%;
    margin-top: 4%;
    font-size: 35px;
}

#option-img {
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10%;

}

