.ticket-title{
    text-align: center;
    font-family: 'Hind', sans-serif;
    margin-top: -4%;
    color: #95C22B;
    font-size: 30px;
  
  }

  .ticket-title-code{
    text-align: center;
    font-family: 'Hind', sans-serif;
    margin-top: 5%;
    color: #95C22B;
    font-size: 30px;
    padding-top: 50px;
  
  }
  
  .ticket-subtitle{
    margin-top: -1.5%;
    text-align: center;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
  }
  
  
  .ticket-thanks{
    margin-top: 4%;
    text-align: center;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
  }
  
  .ticket-code{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin-top: 5%;
    color: rgb(88, 88, 88);
  }
  
  .ticket-code-error{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin-top: 5%;
    color: rgb(88, 88, 88);
  }
  
  .ticket-code-subtitle{
    margin-top: 4%;
    text-align: center;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
  }
  
  .ticket-container{
    box-shadow:0 1px 1px 0 rgb(21 28 40 / 12%), 0 2px 4px 0 rgb(21 28 40 / 8%), inset 0 -1px 1px 0 rgb(23 26 31 / 4%), inset 0 1px 2px 0 rgb(255 255 255 / 24%);
    width: 80% !important; 
    height: auto; 
    border: 1px solid rgba(22,25,30,.12);
    padding-top: 40px;
  }
  
  #otro-deposito-btn{
    margin-top: 5%;
    width: 49%;
    border-radius: 10px !important;
    box-shadow: none;
    border: 2px solid rgb(236, 236, 236) !important;
  }
  
  #ecoasistente-btn{
    width: 49%;
    margin-top: 5%;
    border-radius: 10px !important;
    margin-left: 0.5%;
    margin-right: 1%;
    box-shadow: none !important;
    border: none !important;
  }

  
  
  #codPedido{
    letter-spacing: 3px;
  }
  
  .error-title{
    color:#f03939 !important;
  }
  
  .error-btn{
    background-color:#f03939 !important;
  }
  
  .error-btn:hover{
    background-color:#cf3838 !important;
  }
  
  #error-order-ep{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  
  }
  
  #error-order-stock{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  
  }
  
  #successful-order{
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
  
  }

  #table-container2{
    background-color: #fff;
    width: 90%; 
    margin-top: 4%;
    margin-bottom: 4%; 
    border-radius: 5px;;
    height: fit-content;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  }