.center-label{
  margin-left: 125px;
  margin-bottom: 10px;
}

.inline-label{
display:inline;
justify-self: right !important;
align-self: right !important;
margin-left: 250px;
}

.data-show-input{
border-bottom: none !important;
box-shadow:rgb(100, 100, 100) !important;
}

.btn {
  text-transform: none !important;
}

.btn-aceptar{
  background-color: #95C22B !important;
    color: #fff !important;
}

.btn-custom{
  cursor: default !important;
  background-color: #FFF !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  border-width: 0px !important;
  border: none !important;
  margin-top:8px !important;
  text-align: left !important;
  vertical-align: center;
  box-shadow:rgb(100, 100, 100) !important;
}

.btn {
    text-transform: none !important;
  }
  
  .btn-aceptar{
    background-color: #95C22B !important;
      color: #fff !important;
  }
  
  .btn-custom{
    cursor: default !important;
    background-color: #FFF !important;
    border-radius: 4px !important;
    border-color: transparent !important;
    border-width: 0px !important;
    border: none !important;
    margin-top:8px !important;
    text-align: left !important;
    vertical-align: center;
    box-shadow:rgb(100, 100, 100) !important;
  }
  
  .dropdown-li{
    list-style-position:inside;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    height:30px;
    margin-bottom:10px;
  
  }
  

.dropdown-link{
  color: #888;
  margin-left: 12px;
}

.custom-center-col{
  display: grid !important;
  justify-content: center !important;
}

.wide-input{
  width:400px !important;
}

.wide-bar{
  width: 400px !important;
}

#dd-art-btn-1{
width:230px;
}

#dd-fill-1{
width: 230px;
}

.primary-btn{
background-color: #95C22B !important;
color: #fff !important;
}

.primary-btn:hover{
background-color: #87af28 !important;
}

.primary-btn-mod{
background-color: #95C22B;
color: #fff;
}

.primary-btn-mod:hover{
background-color: #87af28;
}

.primary-btn-alert{
background-color: #f14e4e;
color: #fff;
}

.primary-btn-alert:hover{
background-color: #cf4545;
color: #fff;
}

.primary-btn{
  background-color: #95C22B !important;
  color: #fff !important;
}

.primary-btn:hover{
background-color: #87af28 !important;
}

.primary-btn-mod{
background-color: #95C22B;
color: #fff;
}

.primary-btn-mod:hover{
background-color: #87af28;
}

.primary-btn-alert{
background-color: #f14e4e;
color: #fff;
}

.primary-btn-alert:hover{
background-color: #cf4545;
color: #fff;
}

.secondary-btn:hover{
  background-color: #ebebeb;
}
.secondary-btn-mod:hover{
background-color: #ebebeb;
}

.secondary-btn-baja:hover{
background-color: #ebebeb;
}

.secondary-btn-mod:hover{
background-color: #ebebeb;
}

.secondary-btn-baja:hover{
background-color: #ebebeb;
}


.anterior-btn:hover{
  background-color: #ebebeb;
  }
  
.anterior-btn-mod:hover{
  background-color: #ebebeb;
  }
  
.anterior-btn-baja:hover{
  background-color: #ebebeb;
  }

#primary-btn{
  background-color: #95C22B;
  color: #fff;
}

#primary-btn:hover{
background-color: #87af28;
}

#primary-btn-mod{
background-color: #95C22B;
color: #fff;
}

#primary-btn-mod:hover{
background-color: #87af28;
}

#primary-btn-alert{
background-color: #f14e4e;
color: #fff;
}

#primary-btn-alert:hover{
background-color: #cf4545;
color: #fff;
}

#secondary-btn:hover{
  background-color: #ebebeb;
}

#secondary-btn-mod:hover{
background-color: #ebebeb;
}

#secondary-btn-baja:hover{
background-color: #ebebeb;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #c3f550;;
}
input:focus 		{ outline:none;   border-bottom:1px solid #95C22B;}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;

}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#95C22B;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#95C22B; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#95C22B; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#95C22B; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#95C22B; }
  to 	{ width:0; background:transparent; }
}

* { box-sizing:border-box; }



.custom-control-input{
  background-color: #95C22B !important;
  border-color: #95C22B !important;
  color: #95C22B !important;
}

.primary-btn{
    background-color: #95C22B !important;
    color: #fff !important;
}

.primary-btn:hover{
  background-color: #87af28 !important;

  }

.primary-btn-alert{
  background-color: #f14e4e !important;
  color: #fff !important;
}

.primary-btn-alert:hover{
  background-color: #cf4545 !important;
  color: #fff !important;
}

.secondary-btn:hover{
    background-color: #ebebeb !important;
}


/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #c3f550;;
  }
  input:focus 		{ outline:none;   border-bottom:1px solid #95C22B;}
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#95C22B;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#95C22B; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#95C22B; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#95C22B; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#95C22B; }
    to 	{ width:0; background:transparent; }
  }
  
  * { box-sizing:border-box; }

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.custom-control-input{
  background-color: #95C22B !important;
  border-color: #95C22B !important;
  color: #95C22B !important;
}

#fieldsRow1AltaPD2{
  margin-top: 2%;
}

#bottomAltaModalTextAltaPD{
  margin-top: -20px; 
  color: #888;
  margin-bottom: -20px;
  transition: width 0.4s, height 0.4s, transform 0.4s;
}

#bottomAltaModalTextModPD{
  margin-top: 0px; 
  color: #888;
  margin-bottom: -20px;
  transition: width 0.4s, height 0.4s, transform 0.4s;
}

#pdInactivo{
  display: none;
}

.time-input{
  width: 60px i !important;
}


/*Multiple Select Dropdown*/

.menu-option-box{
  border-radius: 10px;
  position: absolute; 
  background-color:white; 
  width: 600px;
  height: 200px;
  display: none;
  margin-top: -8px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  overflow-x: hidden;
  z-index: 9;
}

.menu-option-box-op{
  margin-left: 5%;
  margin-top: 10px;
  margin-right: 20px;
  height: 30px;
  color: rgb(92, 92, 92);
  transition: transform .2s; /* Animation */
}

.menu-option-box-op-suspended{
  margin-left: 5%;
  margin-top: 10px;
  margin-right: 20px;
  height: 30px;
  color: darkgray; 
  text-decoration:line-through;
}

.menu-option-box-op:hover{
  color: #95C22B;
  cursor: pointer;
  transform: scale(1.015); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#menu-option-box-op-1{
  margin-top: 10px !important;
}

#heading-option{
  position: relative;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  line-height: 38px;
  white-space: nowrap;
  margin-left: 5%;
}

.chevron {
  margin-top: -1px;
  width: 13px;
  height: 13px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  margin-left:65%;
}

.dropdown-box{
  width: 600px;
  height: 40px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  margin-left: 3% !important;

}

.dropdown-box:hover{
  cursor: pointer;
}

.dropdown-option-check{
  margin-right: 10px;
  margin-left: 5px;
}

.dropdown-option-check-info{
  color: rgb(189, 189, 189);
  margin-left: 10px;
}

.indicator-label{
  margin-left: 3%;
  margin-bottom: 3%;
  margin-top: -2%;
}

.indicator-label-2{
  margin-left: 8%;
  margin-bottom: 1%;
  margin-top: -3%;
}



#cards-row-materiales-mod{
  transition: width 0.4s, height 0.4s, transform 0.4s;
  margin-top: 5%; 
  margin-left: 2%; 
}
  
.cards-row-materiales{
  transition: width 0.4s, height 0.4s, transform 0.4s;
  margin-top: 10%; 
  margin-left: 2% !important; 
  width: 96.5%;
  margin-bottom: 7%;
}


.warning-label-altaPD{
  text-align: center;
  width: 100%;
  margin-top:-3%;
  display: none;
  margin-left: -2%;
}

.warning-icon-altaPD{
  font-size: 20px;
}

.margin-row{
  height: 30px;
  display: none;
}


.margin-row-mod{
  height: 20px !important;
}

.loadingRingAlta{
  margin-top: 30px !important;
}

#bottomAltaModalTextModPD{
  margin-top: 0px; 
  color: #888;
  margin-bottom: -20px;
  transition: width 0.4s, height 0.4s, transform 0.4s;
}

.costo-total-label{
  color: black !important;
}

.warning-label-altaPD{
  text-align: center;
  width: 100%;
  margin-top:-3%;
  display: none;
  margin-left: -2%;
}

.warning-icon-altaPD{
  font-size: 20px;
}

#bottomAltaModalText{
  color: #888;
  transition: width 0.4s, height 0.4s, transform 0.4s;
}
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 210px;
  text-align: center;
}
.card-product{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: width 0.2s, height 0.2s, transform 0.2s;
  margin-left: -5% !important;  
  margin-right: -5% !important;
  margin-top: 4% !important;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1) !important; 
  border: none !important;
} 

.card-product:hover{
  transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  cursor: pointer;
}

.img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;

}
.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}

.img-wrap{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: 1px solid  rgb(231, 231, 231);
}

.product-card-cart{
  color: #95C22B !important;
}

.price-wrap{
  text-align: center;
  margin-top: 20px;
}

.bottom-wrap{
  border-top: none !important;
}

.price-new{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 23px;
  margin-top: 2px !important;
}

.price-old{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  margin-top: -7px;
}

.title-wrap{
  text-align: center !important;
  margin-top: -10px;
}

.title{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px !important;
}

.desc{
  color: #95C22B !important;
  font-size: 17px;
  margin-left: 8px;
}

#product-container{
  margin-left: 4%;
}



/*Slider*/
.range {
  display: table;
  position: relative;
  height: 5px;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  background-color: white;

}

.range input[type="range"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;

  display: table-cell;
  width: 100%;
  background-color: transparent;
  height: 5px;
  cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;

  width: 15px;
  height: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  background-color: #95C22B;
}

.range input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  
  width: 11px;
  height: 55px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0px;
  background-color: white;

}

.range output {
  display: table-cell;
  padding: 3px 5px 2px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  background-color: white;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.range input[type="range"] {
  outline: none;
  background-color: #cecece;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 5px;
  width: 100%;
  margin-left: 5%;

}

#cantEP{
  margin-top: 15px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif !important;
}

#cantMoney{
  margin-top: 15px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif !important;
}

.z-depth-1{
  margin-top: 1.1% !important;
}

.price-product-page{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 25px;
}

.product-page-img{
  width: 26px;
  padding-left: 3px;
  padding-top: -5px;
  margin-top: -1.3%;
  margin-right: 5px;
}

.product-page-total-price-label{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 24px;
}

.product-page-total-price{
  float: right;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 24px;
}

.product-page-img-total{
  width: 26px;
  margin-left: 1px;
  margin-top: -3px;
}

.product-page-prod-title{
  margin-top: 0.5%;
  font-family: 'Work Sans', sans-serif !important;
  font-size: 28px;
}

.product-info{
  display:none;
}

.price-old-product-page{
  color: rgb(184 184 184 / 69%);
  margin-right: 3px;
  font-size: 19px;
}

.product-save{
  font-size: 12px; 
  margin-top: -22px; 
  color: #888 !important; 
  top: -12px !important;
  position: relative;
}

.other-product-img-container{
  height: 250px;
}

.other-product-img{
  height: 90%;
  margin-top: 10%; 
}

.other-product-card{
  
}

.other-product-card:hover{
  cursor: pointer;
}

.product-card{

}

.carrito-price-img{
  width: 26px;
  padding-left: 3px;
  padding-top: -6px;
  margin-top: -3%;
  margin-right: 5px;
}

.carrito-price-img-total{
  width: 26px;
  padding-left: 3px;
  padding-top: -6px;
  margin-top: -3%;
  margin-right: 2px;
}

.carrito-price{
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 0.2%;
}

.carrito-content{
  width: 95%;
  margin-left: 2.5%;
  display: none;
}

.card-link-secondary{
  color: #6c757d !important;
  animation-duration: 4s;
}

.card-link-secondary:hover{
  color: #3d3f41 !important;
}

.info-label-carrito{
  color: #6c757d !important;
}

#cantEP:hover{
  cursor: default;
}

#cantMoney:hover{
  cursor: default;
}

#priceError{
  display: none;
  margin-left: 5%;
}

.card-link-secondary:hover{
  text-decoration: none;
}

.pr-card{
  width: 100% !important;
  margin-left: 0% !important; 
  border-radius: 5px;
  height: 90px;
  border:2px solid transparent;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  margin-top: 7px;
}

.pr-card:hover{
  cursor: pointer;
  border:2px solid #9dcc2faf !important;
}

.option-title-cards-pr {
  margin: 0;
  position: relative;
  font-size: 17px !important;
  font-family: 'Work Sans', sans-serif !important;
  text-align: left;
  margin-left: 15%;
  margin-right: 14%;
  margin-top:15px;

}

.option-description-pr{
  text-align: left;
  margin: 0;
  margin-left: 15%;
  position: relative;
  margin-top: 8px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px !important;
  font-family: 'Work Sans', sans-serif !important;
  margin-right: 14%;
}

.option-img-pr{
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 2%;
}

.map-pr{
  width: 100%;
  height:345px;
}

.cards-pr-col{
  max-height: 410px;
  overflow: auto;
}

#punto-retiro-content{
  display: none;
  padding-top: 30px;
  padding-bottom: 10px;
}