 ::-webkit-scrollbar {
	width: 8px;
  }

/*Modo noche*/
body,#heading-container,.subheading,#content,#loadingRowPuntos,#top-container,#products-container{
	background-color: #161b21ff !important;
}

h1,h2,h3,h4,h5,h6,h7,p,a,textarea,input,li,.nav-link,.nav-item,tr,th,td,.nav-link,option,select,#cantEP,.nav-link,#home-tab,#profile-tab,#security-tab{
	color: #d3d9e2 !important;
}

label{
	color: #95C22B !important;
}

.material-card-subtitle{
	color: rgb(177, 177, 177) !important;
}

thead tr th{
	border-bottom: 3px solid #3c4652 !important;
}

tbody td{
	border-top: 2px solid #3c4652 !important;
}

tbody th{
	border-top: 2px solid #3c4652 !important;
}

.container, #sidebar,#up-bar,.modal-body,.modal-footer,.modal-header,input,select,.modal-content,select,.numberCircle,#table-container,#content-table,.menu-option-box,.card-product,#nombreArtInput,.list-group,li,ul,.electpicker,.selectpicker-nooutline,textarea,.data-show-input,#dateInputSM,#dateInputSE,#slideInput,.range{
  background-color:#1f2630 !important;
}

.nav-item,.nav-link.active{
	background-color:#1f2630 !important;
}

.ed-tabs .ed-link:hover, .ed-tabs .ed-link:hover,.nav-tabs .nav-link:focus:hover, .nav-tabs .nav-link:hover{
	background:#2d323a !important;
}

.modal-large-card-sm, .modal-large-card{
	border: 1px solid rgb(66, 66, 66) !important;
}

.nav-item:active{
	background-color:#1f2630 !important;
}

#night-mode:hover{
	cursor: pointer;
	color: lightgray;
}

span{
	color: white;
}

#night-mode{
	padding-top: 17px;
}

#theme-label,.fa-sun{
	color: #95C22B;
}

.info-result{
	color: #95C22B !important;
}

.secondary-btn{
	color: white;
}

.secondary-btn.hover{
	color:#1f2630;
}

#content-table,.content-table-main{
	border-top: 2px solid #1f2630 !important;
}

#up-bar{
	border-bottom: 2px solid #1f2630 !important;
}

.img-wrap{
	border-bottom: 2px solid #1f2630 !important;
}

  /* Track */
  ::-webkit-scrollbar-track {
	background: #1f2630; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(202, 202, 202); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(177, 177, 177); 
  }
  
/*Fin Modo noche*/

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(202, 202, 202); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(177, 177, 177); 
  }

  
  #up-bar{
	background-color: rgb(255, 255, 255); 
	width: calc(100%-16rem); 
	margin-left: calc(16rem - 8px); 
	height: 3.7rem; 
	box-shadow: none !important; 
	z-index: 9; 	
	box-shadow: none !important; 
	border-bottom: 1px solid rgb(240, 240, 240);
	position: relative;
  }


/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:0px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


#reference{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#user-username{
	margin-left: auto; 
	margin-right: 2.4%; 
	display: flex;
	width: 90%;
	min-width: 255px;
}

.user-username-text{
	font-size: 14px;
}



#reference:hover{
	color:#fff
  }

  .vertical-nav {
	min-width: 15.5rem;
	width: 15.5rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}
  
  .page-content {
	width: calc(100% - 15.5rem);
	margin-left: 15.5rem;
	transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
	margin-left: -15.5rem;
  }
  
  #content.active {
	width: 100%;
	margin: 0;
  }
  .baja-modal-text{
	margin-top: 1%;
	font-size: 50px;
	margin-left:4%;
  }
  @media (max-width: 768px) {
	#sidebar {
	  margin-left: -15.5rem;
	}
	#sidebar.active {
	  margin-left: 0;
	}
	#content {
	  width: 100%;
	  margin: 0;
	}
	#content.active {
	  margin-left: 15.5rem;
	  width: calc(100% - 15.5rem);
	}
  }

  body {
	background: #95C22B;

	min-height: 100vh;
	overflow-x: hidden;
  }
  
  .separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
	letter-spacing: 0.1em;
  }
  
  .text-gray {
	color: #aaa;
  }
  
.fa{
	color:#95C22B;
}

#upper-navbar{
	margin-top: 2.5%; 
	margin-right: 7%;
}

#navbar-questions{
    margin-right: 1%;
}

#navbar-title{
	cursor: pointer;
}

#sidebar{
	background-color: #fff;
}

.nav-item:hover{
	background-color: #d1f089e1;
}

html {
	scroll-behavior: smooth;
  }

.fa-sign-out-alt,.fa-barcode,.fa-map-marked-alt,.fa-lightbulb,.fa-boxes, .fa-user-tie, .fa-box,.fa-pallet,.fa-users,.fa-recycle,.fa-paper-plane,.fa-money-check-alt,.fa-file-invoice-dollar,.fa-dollar-sign,.fa-user-check,.fa-compass,.fa-map-marked-alt{
	color: #95C22B !important;
}


#carrito-navbar{
	font-size: 19px;
	color: #95c22bb9;
	margin-top: 1px;
}

#carrito-navbar:hover{
	color: #badd93cb;
	cursor: pointer;
}

.numberCircle:hover{
	cursor: pointer;
}

#carrito-navbar-container:hover{
	cursor: pointer;
	color: #a5d173;
}

.vl-heading {
	height: 30px;
	color: rgb(241, 240, 240);
	margin-right: 15px;
	margin-top: 0px;
  }

#user-profile-img-navbar{
	border-radius:50%;
	width: 28px;
}

.numberCircle {
	margin-top: -17px !important;
	margin-left: 3px;
    width: 18px;
	height: 18px;
    line-height: 15px;
    border-radius: 50%;
	color: grey;
    text-align: center;
    font-size: 9px;
    border: 2px solid #95c22bb9;
	background-color: white;
}


