#user-container{
    width: 100%;
    margin-left: 0%; 
    border-radius: 5px;
    min-height: 105px;
    height: fit-content;
    border:2px solid transparent;
    background-color: #fff;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: left
}


.circle {
    width: 200px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
  }
  
  .circle canvas {
    vertical-align: top;
    width: 200px !important;
  }
  
  .circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
  }
  
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  
  .circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
  }

  .second circle{
      background-color: transparent !important;
  }

  #cantEP{
    margin-top: 22%;
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: gray;
  }

  #label-ep{
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: -4px;

  }

  #label-nivel{
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    color: rgb(85, 85, 85);
  }

  .info-result{
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #95C22B;
  }

  .info-label{
    font-family: 'Hind', sans-serif;
    color: gray;
    font-size: 14px;
    margin-top: -30px;
  }

  .mi-cuenta{
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: -0.5%;
  }