.modal-title{
  margin-top: 1%;
  font-size: 25px;
  margin-left:4%;
}

#headingModalHorarios{
margin-left:5.4%;
}

#headingModalMat{
margin-left:5.7%;
}

#headingModalHorarios{
  margin-left:5.4%;
}

#headingModalMat{
  margin-left:5.7%;
}

.modalErrorMessage{
  font-size: 15px;
  color: tomato;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}

.bottom-modal-text{
  text-align: center;
  width: 100%;
}

.b-modal-text-baja{
text-align: center;
width: 100%;
color: rgb(100, 100, 100);
font-size: 16.5px;
margin-bottom: 4% !important;
margin-top: 1% !important;
}

.bottom-modal-text-baja{
text-align: center;
width: 100%;
font-size: 16.5px;
margin-top: 1.5%;
font-weight: 500;

}

.top-modal-text-baja{
text-align: center;
width: 100%;
font-size: 16.5px;
text-align: left; 
margin-left:8.5%;
font-weight: 500;
}

.bottom-modal-text-baja-mods{
text-align: center;
width: 100%;
font-size: 16px;
text-align: left; 
margin-left:10%;
}

.modal{
margin-left: 31%;
height: fit-content;
}

div.modal-content{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: white;
}

.modal-body {
  margin-top:5%
}

.modal-body-baja{
margin-top: 4%;
}

.subheader{
font-size: large;
color: #aaa;
}

.subheader-row{
height:80px !important;
margin-top: -5% !important;
margin-left: 5% !important;
}


#bottomBajaModalText{
  display: none;
}

#bottomAltaModalTextError{
margin-left: 5%;
width: 90%;
margin-top: 2%;
}

.modal-large-card{
position: relative;
border-radius: 5px;;
min-height: 100px;
height: fit-content;
box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
background-color: #fff;
width: 90% !important;
margin-top: 20px;
margin-bottom: 15px; 
}

#modal-large-card-2{
margin-top: 4%;
}

.modal-large-card-sm{
position: relative;
border-radius: 5px;;
min-height: 50px;
height: fit-content;
box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
background-color: #fff;
width: 85% !important;
margin-top: 17px;
margin-bottom: 10px; 
}

.modal-large-card-img{
width: 70px;
margin-top: 15px;
margin-left: 10px;
}

.open-letter{
font-size: 25px;
color:  #7cc22b;
}

.vl {
border-left: 1px solid lightgray;
height: 80px;
margin-top: 10px;
margin-left: 10px;
}

.modal-card-col{
position: relative;
width: 100px;
margin-left: 10px;
margin-right: 10px;
}

#modal-card-col-1{
margin-right: -15px;
}

.modal-info-img{
margin-right: 5px;
}

.info-container-modal{
justify-content: left;
align-items: left;
vertical-align: middle;
width: 300px; 
margin-left: 20px;
margin-top: 15px;
}

#info-modal-1-neg{
margin-left: 2px;
margin-right: 8px;
font-size: 15px;
color: #f52926;
}

#info-modal-2-neg{
margin-left: 2px;
margin-right: 8px;
font-size: 15px;
color: #f52926;
}

#modal-row-2{
margin-top: 25px;
}

#info-modal-3{
color: rgb(158, 158, 158);
}

#estado-apertura-neg{
color: #f52926;
}

#estado-apertura-inac{
color: rgb(77, 77, 77);
}


#cant-horas-cierre-neg{
color: rgb(77, 77, 77);
}

#fines-semana-neg{
display: none;
}

#fines-semana-pos{
display: none;
}

.card-second-row{
margin-top: -20px;
}

.card-first-row{
margin-top: 20px;
}

.modal-body-card{
margin-top: 0px;
}

.card-first-row-sm{
margin-top: 12px;
}

.material-card-title{
font-size: 20px;
}

.material-card-subtitle{
font-size: 13px;
}

.materiales-large-card-img{
margin-top: 8px;
margin-left: 10px;
}

.modal-card-col-sm{
position: relative;
width: 100px;
margin-left: 20px;
margin-right: 20px;
}

.card-first-row-sm{
  margin-top: 12px;
}


.subheader{
font-size: large;
color: #aaa;
}

.subheader-row{
height:80px !important;
margin-top: -5% !important;
margin-left: 5% !important;
}

#subheader-alta-pd{
margin-left: 7% !important;
margin-top: 1% !important;
}

#subheader-alta-salida{
  margin-top: -2% !important;
  margin-bottom: -2% !important;
}

#bottomAltaModalTextAltaPD{
margin-bottom: 2% !important;
}


#modalModPDBody{
margin-top: -17px ;
}

.button-row{
display: none;
}

.mapouter{position:relative;text-align:right;height:354px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:354px;width:600px;}


.modal-large-card{
  position: relative;
  border-radius: 5px;;
  min-height: 100px;
  height: fit-content;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90% !important;
  margin-top: 20px;
  margin-bottom: 15px; 
}

#modal-large-card-2{
  margin-top: 4%;
}

.modal-large-card-sm{
  position: relative;
  border-radius: 5px;;
  min-height: 50px;
  height: fit-content;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 85% !important;
  margin-top: 17px;
  margin-bottom: 10px; 
}

.modal-large-card-img{
  width: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

.open-letter{
  font-size: 25px;
  color:  #7cc22b;
}

.vl {
  border-left: 1px solid lightgray;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.modal-card-col{
  position: relative;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

#modal-card-col-1{
  margin-right: -15px;
}

.modal-info-img{
  margin-right: 5px;
}

.info-container-modal{
  justify-content: left;
  align-items: left;
  vertical-align: middle;
  width: 300px; 
  margin-left: 20px;
  margin-top: 15px;
}

#info-modal-1-neg{
  margin-left: 2px;
  margin-right: 8px;
  font-size: 15px;
  color: #f52926;
}

#info-modal-2-neg{
  margin-left: 2px;
  margin-right: 8px;
  font-size: 15px;
  color: #f52926;
}

#modal-row-2{
  margin-top: 25px;
}

#info-modal-3{
  color: rgb(158, 158, 158);
}

#estado-apertura-neg{
  color: #f52926;
}

#estado-apertura-inac{
  color: rgb(77, 77, 77);
}


#cant-horas-cierre-neg{
  color: rgb(77, 77, 77);
}

#fines-semana-neg{
  display: none;
}

#fines-semana-pos{
  display: none;
}

.card-second-row{
  margin-top: -20px;
}

.card-first-row{
  margin-top: 20px;
}

.modal-body-card{
  margin-top: 0px;
}

.card-first-row-sm{
  margin-top: 12px;
}

.material-card-title{
  font-size: 20px;
}

.material-card-subtitle{
  font-size: 13px;
}

.materiales-large-card-img{
  margin-top: 8px;
  margin-left: 10px;
}

.modal-card-col-sm{
  position: relative;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.subheader{
  font-size: large;
  color: #777;
}

.subheader-row{
  height:80px !important;
  margin-top: -5% !important;
  margin-left: 4% !important;
  margin-bottom: 2%;
}

#subheader-alta-pd{
  margin-left: 8% !important;
  margin-top: 1% !important;
}



#bottomAltaModalTextAltaPD{
  margin-bottom: 2% !important;
}

  
#bottomAltaModalTextError{
  margin-left: 5%;
  width: 90%;
  margin-top: 2%;
}

.modal-large-card{
  position: relative;
  border-radius: 5px;;
  min-height: 100px;
  height: fit-content;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 90% !important;
  margin-top: 20px;
  margin-bottom: 15px; 
}

#modal-large-card-2{
  margin-top: 4%;
}

.modal-large-card-sm{
  position: relative;
  border-radius: 5px;;
  min-height: 50px;
  height: fit-content;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 85% !important;
  margin-top: 17px;
  margin-bottom: 10px; 
}

.modal-large-card-img{
  width: 70px;
  margin-top: 15px;
  margin-left: 10px;
}

.open-letter{
  font-size: 25px;
  color:  #7cc22b;
}

.vl {
  border-left: 1px solid lightgray;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.modal-card-col{
  position: relative;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

#modal-card-col-1{
  margin-right: -15px;
}

.modal-info-img{
  margin-right: 5px;
}

.info-container-modal{
  justify-content: left;
  align-items: left;
  vertical-align: middle;
  width: 300px; 
  margin-left: 20px;
  margin-top: 15px;
}

#info-modal-1-neg{
  margin-left: 2px;
  margin-right: 8px;
  font-size: 15px;
  color: #f52926;
}

#info-modal-2-neg{
  margin-left: 2px;
  margin-right: 8px;
  font-size: 15px;
  color: #f52926;
}

#modal-row-2{
  margin-top: 25px;
}

#info-modal-3{
  color: rgb(158, 158, 158);
}

#estado-apertura-neg{
  color: #f52926;
}

#estado-apertura-inac{
  color: rgb(77, 77, 77);
}


#cant-horas-cierre-neg{
  color: rgb(77, 77, 77);
}

#fines-semana-neg{
  display: none;
}

#fines-semana-pos{
  display: none;
}

.card-second-row{
  margin-top: -20px;
}

.card-first-row{
  margin-top: 20px;
}

.modal-body-card{
  margin-top: 0px;
}

.card-first-row-sm{
  margin-top: 12px;
}

.material-card-title{
  font-size: 20px;
}

.material-card-title-grey{
  font-size: 20px;
  color: rgb(160, 160, 160);
}

.material-card-subtitle{
  font-size: 13px;
}

.materiales-large-card-img{
  margin-top: 8px;
  margin-left: 10px;
}

.grey-card{
  background-color: rgb(243, 243, 243) !important;
}

.gray-mat-img{
  background-color: rgb(165, 165, 165) !important;
}

.modal-card-col-sm{
  position: relative;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.warning-label-mat{
  text-align: center;
  width: 100%;
  margin-top:-3%;
  margin-left: -2%;
}

.subheader{
  font-size: large;
  color: #aaa;
}

.subheader-row{
  height:80px !important;
  margin-top: -5% !important;
  margin-left: 5% !important;
}

#subheader-alta-pd{
  margin-left: 8% !important;
  margin-top: 1% !important;
}


#bottomAltaModalTextAltaPD{
  margin-bottom: 2% !important;
}


#modalModPDBody{
  margin-top: -17px ;
}

.button-row{
  display: none;
}


#no-mats{
  text-align: center;
  width: 100%;
  margin-top:3%;
  display: none;
  margin-left: -2%;
}

#no-deps{
  text-align: center;
  width: 100%;
  margin-top:1%;
  display: none;
  margin-left: -2%;
  margin-bottom: 2%;
}

.advert-icon-no-mats{
  font-size: 70px;
  margin-bottom: 1%;
}

.mapouter{position:relative;text-align:right;height:354px;width:600px;}
.gmap_canvas {overflow:hidden;background:none!important;height:354px;width:600px;}

.margin-bottom-row{
  margin-bottom: 2%;
}


 .delete-exlamation-mark{
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.less-margin-top{
  margin-top: -1%;
}

.modal-title{
  font-family: 'Hind', sans-serif;
}

#ver-pedidos-btn{
  width: 80%;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 10px !important;
  box-shadow: none;
  border: 2px solid rgb(245, 245, 245) !important;
  background-color: rgb(245, 245, 245);
}

.modal-hr-separator{
  border: 1px solid rgb(235, 235, 235);
  width: 100% !important;
}

.subheader-info{
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  margin-top: 2%;
  color: rgb(61, 61, 61);
}

.hr-row{
  width:75% !important; 
  margin-left: 10% !important; 
  margin-top: -3% !important; 
  margin-bottom: 5% !important;
}

#ep-logo-modal-info{
  position: absolute;
  width: 23px;
}

#submenu-modal-btn{
  font-size: 14px;
  margin-top: 2%;
  margin-left: 20%;
  width: 60%;
}

#heading-submenu-modal{
  font-family: 'Hind', sans-serif;
  width: 100%;
  text-align: center;
}

#fieldsRow1Alta1-er{
  margin-top: -2% !important;
}

#fieldsRow1Alta2-er{
  margin-top: 1%;
}

#modal-form-sed{
  display: none;
}

#pantalla-1, #pantalla-2{
  display: none;
}

#ent-select-picker-sm{
  font-size: 15px;
}