@import url("modals.css"); 
@import url("loading-elements.css"); 

.navbar-brand{
    margin-top: -10px;
}

.navbar-nav{
    margin-top: 10px;
}

#initial-page{
  display: none;
}

#main-container{
    position: relative; 
    margin-left: 20%;
    margin-right: 20%; 
    margin-top: 5%;
    background-color: white !important;
    min-height: auto;
    margin-bottom: 0% !important;
}

.button-row{
    margin-top: 10% !important;
}

.main-img{
    width: 70%;
    min-width: 300px;
}

.title{
    width: 100%;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size:38px;
    color: rgb(82, 82, 82);
}

.page-content-subtitle{
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
    font-family: 'Hind', sans-serif;

}

#main-button{
    width: 60%;
    margin-left: 20%;
    margin-top: 8%;
    border-radius: 10px !important;

}

#otro-deposito-btn{
  width: 100%;
  margin-top: 8%;
  width: 49%;
  border-radius: 10px !important;


}

#ecoasistente-btn{
  width: 49%;
  margin-top: 8%;
  border-radius: 10px !important;
  margin-left: 0.5%;
  margin-right: 0.5%;


}

.circle {
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 58px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(226, 192, 128);
}

#lds-ring-big div {
    border-color: #0275d8 transparent transparent transparent !important;
}

.ticket-title{
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin-top: 7%;
  color: #95C22B;

}

.ticket-subtitle{
  margin-top: -1.5%;
  text-align: center;
  font-size: 17px;
  font-family: 'Hind', sans-serif;
}

#ticket{
  display: none;
  margin-top: -5%;
}

.ticket-thanks{
  margin-top: 4%;
  text-align: center;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
}

.ticket-code{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
  letter-spacing: 7px;
  margin-top: 2%;
  color: rgb(88, 88, 88);
}

.ticket-code-subtitle{
  margin-top: 4%;
  text-align: center;
  font-size: 17px;
  font-family: 'Hind', sans-serif;
}

.ticket-container{
  box-shadow:0 1px 1px 0 rgb(21 28 40 / 12%), 0 2px 4px 0 rgb(21 28 40 / 8%), inset 0 -1px 1px 0 rgb(23 26 31 / 4%), inset 0 1px 2px 0 rgb(255 255 255 / 24%);
  width: auto !important; 
  height: auto; 
  border: 1px solid rgba(22,25,30,.12);
}

#multisteps-form{
    display: none;
}
.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  
.multisteps-form__content{
    margin-top: 5%;
}

.btn-row{
    margin-top: 10%;
    margin-left: 0% !important;
    margin-right: -0.5% !important;
}
  .multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
  }
  
  .multisteps-form__progress:hover{
    cursor: auto !important;

  }

  .multisteps-form__progress-btn:hover{
    cursor: auto !important;
  }

  @media (min-width: 500px) {
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
  }
  
  
  .multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
  }
  
  .multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
  }

  .multisteps-form__title{
    font-family: 'Hind', sans-serif;
  }
  
  .multisteps-form__progress-btn:first-child:after {
    display: none;
  }
  
  .multisteps-form__progress-btn.js-active {
    color: #007bff;
  }
  
  .multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
  }
  
  .multisteps-form__form {
    position: relative;
  }
  
  .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .button-row{
    margin-top: 40px;
  }

  #unidadMedida{
    font-family: 'Hind', sans-serif;
    font-size: 29px;
  }

  .material-card-subtitle{
    color: rgb(116, 116, 116);
  }