#content-table{
    position: relative;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-top:2px solid white !important
}

.filert-row-button{
  position: relative;
  width: 90%;
  margin-bottom: -3%;
  margin-top: 2%;
}

.filert-row{
  position: relative;
  width: 100%;
  padding-left: 2.5%;
  margin-bottom: -5%;
  margin-top: 4%;
}

.filter-label{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: grey;
  margin-bottom: 4%;
}

#filter-btn{
  font-size: 14px;
  margin-top: 6%;
  margin-left: 3%;
}

.filter-label-2{
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  color: rgb(39, 39, 39);
  margin-top: 1.6%;
}

.filter-label:hover{
  cursor: pointer;
  color: #95C22B;
}

.filter-input{
  font-size: 14px !important;
}

.content-table-main{
  position: relative;
  width: 85%;
  margin-top: 0%;
  margin-bottom: 3%;
  margin-left: 6%;
  border-top:2px solid white !important
}

#content-table-modal{
  position: relative;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-top:2px solid white !important
}

#content-table-modal-pedidos{
  position: relative;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-top:2px solid white !important
}

.table-heading{
    border-top: none !important;
}

.delete-row{
    display: none;
  }
  
  .delete-th{
    display: none;
  }
  
  .modify-row{
    display: none;
  }
  
  .modify-th{
    display: none;
  }

  #delete-table-icon:hover{
  color: #d1f089e1;
  cursor: pointer;
}


#modify-table-icon:hover{
  color: #d1f089e1;
  cursor: pointer;
}

.table-title{
  margin-left:4%;
  padding-top:3%;
  font-family: 'Hind', sans-serif;

}

.depositos-ep-img{
  width: 23px !important;
  padding-left: 0px;
  padding-top: -4px;
  margin-top: -1.9%;
  margin-right: 5px;
}

.caret-up{
  font-size: 20px;
}

.color-negativo{
  color: #ca2222;
}