#content-table{
    position: relative;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-top:2px solid white !important
}

.content-table-main{
  position: relative;
  width: 85%;
  margin-top: 0%;
  margin-bottom: 3%;
  margin-left: 6%;
  border-top:2px solid white !important
}

#content-table-modal{
  position: relative;
  width: 95%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-top:2px solid white !important
}

.table-heading{
    border-top: none !important;
}

.delete-row{
    display: none;
  }
  
  .delete-th{
    display: none;
  }
  
  .modify-row{
    display: none;
  }
  
  .modify-th{
    display: none;
  }

  #delete-table-icon:hover{
  color: #d1f089e1;
  cursor: pointer;
}


#modify-table-icon:hover{
  color: #d1f089e1;
  cursor: pointer;
}

.table-title{
  margin-left:4%;
  padding-top:3%;
  font-family: 'Hind', sans-serif;

}