.ed-tabs-item{
    width: 250px;
    text-align: center;
  }
  
  .ed-tabs .ed-link.active, .ed-tabs .ed-link.active:focus {
    box-shadow: inset 0 -2px 0 #95C22B !important;
    color: #95C22B !important;
  }
  
  
  .ed-tabs .ed-link:hover, .ed-tabs .ed-link:hover{
    box-shadow: inset 0 -2px 0 #95C22B !important;
    background: #fff !important;
  }
  
  .ed-tabs .ed-link, .ed-tabs .ed-link{
    color: #888 !important;
  }


 

  .pd-tabs-item{
    width: 187px;
    text-align: center;
  }

  .pd-tabs-item:hover{
    cursor: pointer;
  }
  
  .pd-tabs .pd-link.active, .pd-tabs .pd-link.active:focus {
    box-shadow: inset 0 -2px 0 #95C22B !important;
    color: #95C22B !important;
  }
  
  
  .pd-tabs .pd-link:hover, .pd-tabs .pd-link:hover{
    box-shadow: inset 0 -2px 0 #95C22B !important;
    background: #fff !important;
  }
  
  .pd-tabs .pd-link, .pd-tabs .pd-link{
    color: #888 !important;
  }

  .modal-content-tabs{
    border-top: 0 none;
  }