<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EcoAsitente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/ayuda-usuario.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap" rel="stylesheet">    
</head>


<body style="background-color: white;">

<!--Sección Principal-->
<div class="top" id="page-top-content" style="background-color: white;">
    <div class="row" id="page-heading">
            <h4 id="heading-title" onclick="window.location.href='/'" style="margin-left: 10%;">
                <img src="/static/img/logo-gris.png" id="heading-title-img">
            </h4>
            <h4 id="heading-option" onmouseover="headingOptionHover(); openMenu()" onmouseleave="headingOptionLeave();closeMenu()">
                Info 
                <img src="/static/img/chevron.svg" class="chevron"></img>
                <div class="menu-option-box" id="menu-option-box-1" onmouseover="menuMouseOver()" onmouseleave="menuMouseLeave()">
                    <p class="menu-option-box-op" id="menu-option-box-op-1" onclick="redirect('/ayuda-faq');">Centro de Ayuda</p>
                    <p class="menu-option-box-op">Documentación</p>
                    <p class="menu-option-box-op" onclick="redirect('/quienes-somos');">Quienes somos</p>
                    <p class="menu-option-box-op">¿Por qué un EcoAsistente?</p>                
                </div>
            </h4> 
            <h4 id="heading-option-right" onclick="redirect('/login')">Iniciar Sesión</h5>
            <h4 id="heading-option-right2" onclick="redirect('/register')">Registrate</h5>
    </div>
</div>

<div class="container-fluid" style="background-color: #f8f9fa;">
  <div class="row" style="width: 100%;">
    <img src="/static/img/centroayuda3.png" style="width: 102.2%; margin-bottom: 3%;">
  </div>
  <h3 class="page-content-title">Centro de Ayuda para Administradores de EcoAsistente</h3>
  <div class="row">
    <div class="col-sm-4" >
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-help" id="item">
                <div>
                  <h6 class="my-0">Categorias</h6>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-1" onclick="setItemColor(1);">
                <div>
                  <p class="my-0"><i class="fa fa-recycle fa-1x mr-3"></i>Depósitos y Pedidos</p>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-2" onclick="setItemColor(2);">
                <div>
                  <p class="my-0"><i class="fa fa-boxes fa-1x mr-3"></i>Gestión de Stock</p>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-3" onclick="setItemColor(3);">
                <div>
                  <p class="my-0"><i class="fa fa-industry fa-1x mr-3"></i>Producción</p>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-4" onclick="setItemColor(4);">
                <div>
                  <p class="my-0"><i class="fa fa-users fa-1x mr-3"></i>Usuarios</p>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-5" onclick="setItemColor(5);">
                <div>
                  <p class="my-0"><i class="fa fa-cogs fa-1x mr-3"></i>Configuración y Reportes</p>
                  <small class="text-muted"></small>
                </div>
              </li>
            </li>
        </ul>
    </div>

    <div class="col-sm-7 content-faq"  style="background-color: white; height: auto;">
        <!--Preguntas sección Depósitos y Pedidos-->
        <div class="col question-col" id="questions-col-1" style="margin-left: 5%;">
            <h2 id="top-questions-title">Depósitos y Pedidos</h2>
            <hr style="width: 95%; margin-left: -2.5%; margin-bottom: 5% !important;">
            <div class="row question-row" onclick="slideAnswer(1,1);" id="question-row-1-1">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-1-1"></img>
                <p class="question" id="question-1-1">Visualizar y actualizar Depósitos</p>
            </div>
            <div class="question-answer" id="answer-1-1"><p>Los <strong style="font-weight: bold !important;">Depósitos</strong> son aquellos materiales depositados por los usuarios en las Puntos de Depósito de EcoAsistente. Para visualizarlos, puede dirigirse a la sección de <em>Gestión de Depósitos</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_140221.png" alt=""></p>
                <p>Una vez dentro de la sección de <em>Gestión de Depósitos</em>, puede observar una serie de botones, correspondiendo a los puntos de depósito cargados en el sistema, donde se puede gestionar los depósitos de puntos de depósito en particular, junto con uno para el depósito central, donde se pueden gestionar todos los depósitos en un mismo lugar.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(3).png" style="width:100%;" /></p>
                <p>Una vez que seleccione la opción deseada, podrá visualizar una lista de los depósitos realizados, dividida en depósitos <strong style="font-weight: bold !important;">acreditados</strong>, aquellos ya han sido acreditados a un usuario, y depósitos <strong style="font-weight: bold !important;">no acreditados</strong>, junto con botones para cambiar el estado de un depósito si es necesario.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(4).png" style="width:100%;" /></p>
                </div>
            
            <div class="row question-row" onclick="slideAnswer(2,1);" id="question-row-2-1">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-2-1"></img>
                <p class="question" id="question-2-1">Acreditar Depósito a un Usuario</p>
            </div>
            <div class="question-answer" id="answer-2-1"><p>Un depósito está <strong style="font-weight: bold !important;">acreditado</strong> cuando ha sido asignado a un usuario. Los administradores con permiso para acceder al módulo de <em>gestión de depósitos</em> pueden acreditar depósitos a un usuario manualmente. Para hacer esto, debe buscar el depósito en la lista de depósitos.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(4).png" alt="" style="width:100%;"></p>
                <p>Una vez encontrado el depósito correspondiente, debe seleccionar el botón <em>Acreditar</em>, tras lo cual se abrirá la pantalla de acreditar depósito.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(52).png" alt="" style="width:100%;"></p>
                <p>En esta pantalla, puede buscar un usuario según su número de ID, su número de Documento, o su email, y acreditar el depósito a dicho usuario utilizando el botón de <em>Acreditar</em>.</p>
                </div>

            <div class="row question-row" onclick="slideAnswer(3,1);" id="question-row-3-1">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-3-1"></img>
                <p class="question" id="question-3-1">Visualizar y actualizar Pedidos</p>
            </div>
            <div class="question-answer" id="answer-3-1"><p>Los <strong style="font-weight: bold !important;">Pedidos</strong> son aquellas compras realizadas los usuarios en la EcoTienda de EcoAsistente. Para visualizarlos, puede dirigirse a la sección de <em>Gestión de Pedidos</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_144842.png" alt=""></p>
                <p>Una vez dentro de la sección de <em>Gestión de Pedidos</em>, puede observar una serie de botones, correspondiendo a los puntos de retiro cargados en el sistema, donde se puede gestionar los depósitos de puntos de depósito en particular, junto con uno para el depósito central, donde se pueden gestionar todos los depósitos en un mismo lugar.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(3).png" style="width:100%;" /></p>
                <p>Una vez que seleccione la opción deseada, podrá visualizar una lista de los depósitos realizados, dividida en depósitos <strong style="font-weight: bold !important;">acreditados</strong>, aquellos ya han sido acreditados a un usuario, y depósitos <strong style="font-weight: bold !important;">no acreditados</strong>, junto con botones para cambiar el estado de un depósito si es necesario.</p></div>

            <div class="row question-row" onclick="slideAnswer(4,1);" id="question-row-4-1">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-4-1"></img>
                <p class="question" id="question-4-1">¿Qué estados puede tener un Pedido?</p>
            </div>
            <div class="question-answer" id="answer-4-1"><p>Los pedidos tienen un ciclo de vida, durante el cual transitan múltiples estados que representan los pasos desde preparar el pedido hasta que lo retira el usuario. Los posibles estados son los siguientes:</p>
                <ul>
                <li><strong style="font-weight: bold !important;">Pendiente</strong> (En preparación): El estado inicial de un pedido cuando el usuario lo crea. Este estado indica que el pedido todavía no se ha preparado para enviar al Punto de Retiro. </li>
                <li><strong style="font-weight: bold !important;">Preparado</strong> (En Tránsito): Indica que el pedido ya fue preparado para ser enviado a un Punto de Retiro. El pedido puede ser marcado como <em>preparado</em> desde la sección de <em>Depósito Central</em>, dentro de <em>Gestión de Pedidos</em>.</li>
                <li><strong style="font-weight: bold !important;">Listo</strong> (Listo para Retiro): Indica que el pedido ya fue recibido por el Punto de Retiro, y está listo para ser retirado por el usuario. El pedido puede ser marcado como <em>listo</em> desde la sección del Punto de Retiro, dentro de <em>Gestión de Pedidos</em>.</li>
                <li><strong style="font-weight: bold !important;">Retirado</strong>: Indica que el pedido ya fue retirado por el usuario. Este es el final del ciclo de vida de un pedido exitoso. El pedido puede ser marcado como <em>retirado</em> desde la sección del Punto de Retiro, dentro de <em>Gestión de Pedidos</em>.</li>
                <li><strong style="font-weight: bold !important;">Cancelado</strong>: Indica que el pedido, por algún motivo, ha tenido que cancelarse. Esto se puede deber a un error durante el proceso, o al usuario habiendo cometido un error al realizar el pedido, en cual caso se podría contactar con la organización para que un administrador cancele el pedido. Un pedido se puede marcar como cancelado desde cualquier sección dentro de <em>Gestión de Pedidos</em>, siempre y cuando esté en los estados <em>Pendiente</em>, <em>Preparado</em>, o <em>Listo</em>. Al cancelar un pedido, se le reembolsarán los EcoPuntos al Usuario automáticamente, pero no el dinero utilizado para pagar por el pedido.</li>
                <li><strong style="font-weight: bold !important;">Reembolsado</strong>: Indica que el dinero utilizado en pedido cancelado ha sido reembolsado al usuario. Una vez cancelado un pedido, este se puede marcar como <em>reembolsado</em> cuando se le devuelve el dinero al usuario. Esto marca el final del ciclo de vida de un pedido fallido.</li>
                </ul>
                </div>

            <div class="row question-row" onclick="slideAnswer(5,1);" id="question-row-5-1">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-5-1"></img>
                <p class="question" id="question-5-1">Gestionar Puntos de Depósito y Puntos de Retiro</p>
            </div>
            <div class="question-answer" id="answer-5-1"><p>Los <strong style="font-weight: bold !important;">Puntos de Depósito</strong> son aquellas ubicaciones donde un ciudadano puede depositar materiales. A su vez, los <strong style="font-weight: bold !important;">Puntos de Retiro</strong> son aquellas ubicaciones donde un ciudadano puede retirar los pedidos realizados a través de EcoAsistente. Ambos tipos de punto pueden ser visualizados, agregados, modificados, o eliminados en la sección <em>Gestión de Puntos. Para acceder, puede dirigirse a la sección de </em>Gestión de Puntos* en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_164116.png" alt=""></p>
                <p>Una vez ahí, seleccione <strong style="font-weight: bold !important;">Puntos de Depósito</strong> o <strong style="font-weight: bold !important;">Puntos de Retiro</strong> según desee.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(38).png"style="width:100%;" alt=""></p>
                <p>Una que haya seleccionado el tipo de punto a gestionar, verá una lista de los puntos correspondientes, junto con botones para ver sus detalles, y agregar, modificar y eliminarlos. Siga las instrucciones de cada pantalla para realizar estas acciones.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(45).png"style="width:100%;" alt=""></p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(39).png"style="width:100%;" alt=""></p>
                <p>Podrá ver los horarios de todos los puntos, si se encuentran activos o inactivos, y podrá visualizar los pedidos de cada Punto de Retiro,  los materiales que acepta cada Punto de Depósito.</p>
                </div>
        </div>


         <!--Preguntas sección Gestión de Stock-->
         <div class="col question-col" id="questions-col-2" style="margin-left: 5%;">
            <h2 id="top-questions-title">Gestión de Stock</h2>
            <hr style="width: 95%; margin-left: -2.5%; margin-bottom: 5% !important;">
            <div class="row question-row" onclick="slideAnswer(1,2);" id="question-row-1-2">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-1-2"></img>
                <p class="question" id="question-1-2">Visualizar Niveles y Movimientos de Stock</p>
            </div>
            <div class="question-answer" id="answer-1-2"><p>Para visualizar la información correspondiente al <strong style="font-weight: bold !important;">stock</strong> de materiales, insumos, y artículos, debemos acceder a la sección de <em>Gestión de Stock</em>. Para visualizarlos, debemos seleccionar <em>Gestión de Stock</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_165238.png" alt=""></p>
                <p>Una vez dentro del módulo, podremos ver una pantalla con las siguientes opciones</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(19).png" alt="" style="width:100%;"></p>
                <p>Aquí, podemos seleccionar <em>Visualizar Niveles de Stock</em> para obtener una lista de todos los materiales, insumos, y artículos, y sus niveles de stock, o <em>Ver Movimientos de Stock</em>, para obtener una lista de todas las entradas y salidas de stock del sistema, ya sea por depósitos, pedidos, entradas y salidas manuales, o producciones.</p>
                </div>
            
            <div class="row question-row" onclick="slideAnswer(2,2);" id="question-row-2-2">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-2-2"></img>
                <p class="question" id="question-2-2">Registrar una Entrada de Material</p>
            </div>
            <div class="question-answer" id="answer-2-2"><p>Una <strong style="font-weight: bold !important;">Entrada de Material</strong> es una entrada de stock de un material por un medio distinto a los depósitos del usuario. Esto permite integrar otras fuentes de recolección al sistema. Para acceder, puede dirigirse a la sección de <em>Gestión de Stock</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_165238.png" alt=""></p>
                <p>Una vez ahí, verá las siguientes opciones</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(19).png" alt="" style="width:100%;"></p>
                <p>Al seleccionar <em>Registrar Entrada Material</em>, se abrirá la siguiente pantalla, donde se podrán ingresar los detalles de la entrada.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(20).png" alt="" style="width:100%;"></p>
                <p>Una vez completados, puede seleccionar <em>Registrar entrada</em> para completar el registro.</p>
                </div>

            <div class="row question-row" onclick="slideAnswer(3,2);" id="question-row-3-2">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-3-2"></img>
                <p class="question" id="question-3-2">Registrar una Entidad de Destino</p>
            </div>
            <div class="question-answer" id="answer-3-2"><p>Las <strong style="font-weight: bold !important;">Entidad de Destino</strong> son aquellas a las que se pueden registrar salidas de artículos, es decir, ventas externas a la EcoTienda de EcoAsistente. Para visualizarlas, debemos seleccionar <em>Entidades Destino</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder </p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_173826.png" alt=""></p>
                <p>Al ingresar a este módulo, puede ver un listado de las Entidades de Destino registradas, junto con controles para crearlas, modificarlas, y eliminarlas.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(34).png" alt="" style="width: 100%;"></p>
                <p>Para añadir una Entidad de Destino, puede seleccionar <em>Añadir Entidad</em>, tras lo cual se abrirá la siguiente pantalla</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(35).png" alt="" style="width: 100%;"></p>
                <p>Una vez registrado el nombre de la entidad, seleccione <em>Crear Entidad</em> para registrarla.</p>
            </div>

            <div class="row question-row" onclick="slideAnswer(4,2);" id="question-row-4-2">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-4-2"></img>
                <p class="question" id="question-4-2">Registrar una Salida de Artículo</p>
            </div>
            <div class="question-answer" id="answer-4-2"><p>Una <strong style="font-weight: bold !important;">Salida de Artículo</strong> es una salida de stock de un artículo por un medio distinto a las ventas de la EcoTienda, ya sea a una Entidad de Destino, o para uso del Municipio. Esto permite crear otras fuentes de ingreso de dinero al sistema. Para acceder, puede dirigirse a la sección de <em>Gestión de Stock</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_165238.png" alt=""></p>
                <p>Una vez ahí, verá las siguientes opciones</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(19).png" alt="" style="width:100%;"></p>
                <p>Al seleccionar <em>Registrar Salida Artículo</em>, se abrirá la siguiente pantalla, donde se podrá seleccionar si se trata de una salida a una Entidad de Destino, o al Municipio.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(21).png" alt="" style="width:100%;"></p>
                <p>Una vez seleccionado, puede completar los datos en la siguiente pantalla para terminar el registro.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(22).png" alt="" style="width:100%;"></p>
            </div>        
        </div>


         <!--Preguntas sección Producción-->
         <div class="col question-col" id="questions-col-3" style="margin-left: 5%;">
            <h2 id="top-questions-title">Producción</h2>
            <hr style="width: 95%; margin-left: -2.5%; margin-bottom: 5% !important;">
            <div class="row question-row" onclick="slideAnswer(1,3);" id="question-row-1-3">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-1-3"></img>
                <p class="question" id="question-1-3">Crear un nuevo Material</p>
            </div>
            <div class="question-answer" id="answer-1-3"><p>Los <strong style="font-weight: bold !important;">Materiales</strong> son aquellos que los usuarios depositan en los Puntos de Depósito, y se utilizan para producir Insumos. Para crear un nuevo Material, debemos seleccionar <em>Gestión de Materiales</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_185335.png" alt=""></p>
                <p>Una vez dentro del módulo, puede ver la siguiente pantalla con un listado de los materiales, y controles para crear, modificar, y eliminar materiales</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(17).png" alt="" style="width: 100%;"></p>
                <p>Para agregar un material, seleccione <em>Añadir Material</em>, tras lo cual se abrirá la siguiente pantalla.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(18).png" alt="" style="width: 100%;"></p>
                <p>Complete los datos y presione <em>Crear Material</em> para registrar el nuevo material.</p>
                </div>
            
            <div class="row question-row" onclick="slideAnswer(2,3);" id="question-row-2-3">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-2-3"></img>
                <p class="question" id="question-2-3">Crear un nuevo Insumo</p>
            </div>
            <div class="question-answer" id="answer-2-3"><p>Los <strong style="font-weight: bold !important;">Insumos</strong> son producidos utilizando Materiales, y se utilizan para producir Artículos. Para crear un nuevo Insumo, debemos seleccionar <em>Gestión de Insumos</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_185944.png" alt=""></p>
                <p>Una vez dentro del módulo, puede ver la siguiente pantalla con un listado de los Insumos, y controles para crear, modificar, y eliminar Insumos</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(11).png" style="width: 100%;" alt=""></p>
                <p>Para agregar un insumo, seleccione <em>Añadir Insumo</em>, tras lo cual se abrirá la siguiente pantalla.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(12).png" style="width: 100%;" alt=""></p>
                <p>Complete los datos y presione <em>Siguiente</em> para seleccionar los materiales con los cual se produce el insumo.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(15).png" style="width: 100%;" alt=""></p>
                <p>Utilice el selector denominado <em>Seleccionar Materiales</em> para seleccionar los materiales que se utilizan para producir el insumo, e ingrese las cantidades. Presione <em>Siguiente</em> para ingresar los costos.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(16).png" style="width: 100%;" alt=""></p>
                <p>Ingrese los costos asociados a la producción del insumo. Una vez completados todos los datos, presione <em>Crear Insumo</em> para registrar el nuevo Insumo.</p>
                </div>

            <div class="row question-row" onclick="slideAnswer(3,3);" id="question-row-3-3">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-3-3"></img>
                <p class="question" id="question-3-3">Crear un nuevo Artículo</p>
            </div>
            <div class="question-answer" id="answer-3-3"><p>Los <strong style="font-weight: bold !important;">Artículos</strong> son producidos utilizando Insumos, y se venden a usuarios en la EcoTienda, y a Entidades de Destino. Para crear un nuevo Artículos, debemos seleccionar <em>Gestión de Artículos</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_190923.png" alt=""></p>
                <p>Una vez dentro del módulo, puede ver la siguiente pantalla con un listado de los Artículos, y controles para crear, modificar, y eliminar Artículos</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(5).png" style="width: 100%;" alt=""></p>
                <p>Para agregar un artículo, seleccione <em>Añadir Artículo</em>, tras lo cual se abrirá la siguiente pantalla.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(6).png" style="width: 100%;" alt=""></p>
                <p>Complete los datos y presione <em>Siguiente</em> para seleccionar los insumos con los cual se produce el artículo.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(8).png" style="width: 100%;" alt=""></p>
                <p>Utilice el selector denominado <em>Seleccionar Insumos</em> para seleccionar los insumos que se utilizan para producir el artículo, e ingrese las cantidades. Presione <em>Siguiente</em> para ingresar los costos.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(9).png" style="width: 100%;" alt=""></p>
                <p>Ingrese los costos asociados a la producción del artículo. Una vez completados todos los datos, presione <em>Siguiente</em> para completar el margen de ganancia.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(10).png" style="width: 100%;" alt=""></p>
                <p>Ingrese el margen de ganancia del artículo, como porcentaje, y verá el precio final en el campo de la derecha. Presione <em>Crear Artículo</em> para registrar el nuevo artículo.</p>
                </div>

            <div class="row question-row" onclick="slideAnswer(4,3);" id="question-row-4-3">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-4-3"></img>
                <p class="question" id="question-4-3">Registrar la Producción de un Insumo</p>
            </div>
            <div class="question-answer" id="answer-4-3"><p>Una <strong style="font-weight: bold !important;">Producción de Insumo</strong> registra la conversión de cierta cantidad de stock de materiales, a stock de un insumo. Para registrar la producción de un Insumo, debemos seleccionar <em>Producción</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_193951.png" alt=""></p>
                <p>Al acceder, se le dará la opción entre Producción de Insumos y Producción de Artículos.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(25).png" style="width: 100%;" alt=""></p>
                <p>Seleccione <em>Insumos</em>, y aparecerá la siguiente pantalla con una lista de las producciones de insumos realizadas, y un espacio para ingresar el insumo a producir, y la cantidad.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(26).png" style="width: 100%;" alt=""></p>
                <p>Una vez completados los datos, presione <em>Siguiente</em>, tras lo cual el sistema mostrará las consecuencias de esta producción en los niveles de stock del insumo a crear, y de los materiales a utilizar.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(27).png" style="width: 100%;" alt=""></p>
                <p>Presione <em>Confirmar Producción</em> para registrar la producción y actualizar los stocks.</p>
                </div>

            <div class="row question-row" onclick="slideAnswer(5,3);" id="question-row-5-3">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-5-3"></img>
                <p class="question" id="question-5-3">Registrar la Producción de un Artículo</p>
            </div>
            <div class="question-answer" id="answer-5-3"><p>Una <strong style="font-weight: bold !important;">Producción de Artículo</strong> registra la conversión de cierta cantidad de stock de insumos, a stock de un artículo. Para registrar la producción de un Insumo, debemos seleccionar <em>Producción</em> en la barra lateral de Eco Asistente, si su usuario tiene permisos de acceder</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_20210421_193951.png" alt=""></p>
                <p>Al acceder, se le dará la opción entre Producción de Insumos y Producción de Artículos.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(25).png" style="width: 100%" alt=""></p>
                <p>Seleccione <em>Artículos</em>, y aparecerá la siguiente pantalla con una lista de las producciones de artículos realizadas, y un espacio para ingresar el artículo a producir, y la cantidad.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(28).png" style="width: 100%" alt=""></p>
                <p>Una vez completados los datos, presione <em>Siguiente</em>, tras lo cual el sistema mostrará las consecuencias de esta producción en los niveles de stock del artículo a crear, y de los insumos a utilizar.</p>
                <p><img src="/static/img/screenshots-admin/Screenshot_2021-04-21 EcoAsitente(29).png" style="width: 100%" alt=""></p>
                <p>Presione <em>Confirmar Producción</em> para registrar la producción y actualizar los stocks.</p>
                </div>
        </div>


         <!--Preguntas sección Usuarios-->
        <div class="col question-col" id="questions-col-4" style="margin-left: 5%;">
            <h2 id="top-questions-title">Usuarios</h2>
            <hr style="width: 95%; margin-left: -2.5%; margin-bottom: 5% !important;">
            <div class="row question-row" onclick="slideAnswer(1,4);" id="question-row-1-4">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-1-4"></img>
                <p class="question" id="question-1-4">Visualizar los Usuarios Registrados</p>
            </div>
            <p class="question-answer" id="answer-1-4">EcoAsistente es un sistema diseñado para hacer a tu ciudad más sustentable, premiando y fomentando el reciclaje de residuos a través de EcoPuntos que podés usar para adquirir productos reciclados en nuestra tienda. A su vez, podés informarte sobre cómo hacer tu hogar más ecológico, generando como resultado una sociedad más concientizada. Con EcoAsistente, cuanto más reciclas, más ganás.</p>
            
            <div class="row question-row" onclick="slideAnswer(2,4);" id="question-row-2-4">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-2-4"></img>
                <p class="question" id="question-2-4">Modificar los Datos de un Usuario</p>
            </div>
            <p class="question-answer" id="answer-2-4">Utilizar EcoAsistente es súper fácil y 100% gratuito. Para comenzar, primero debés crear una cuenta registrándote con un email, tu nombre y tu dni. Luego, selecciona tu contraseña, ¡Y listo! Ya podés comenzar a realizar depósitos y a sumar EcoPuntos con cada uno de ellos. Luego, podés canjearlos por artículos hechos a partir de materiales reciclados en nuestra tienda.</p>

            <div class="row question-row" onclick="slideAnswer(3,4);" id="question-row-3-4">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-3-4"></img>
                <p class="question" id="question-3-4">Visualizar los Tipos de Usuario y sus permisos</p>
            </div>
            <p class="question-answer" id="answer-3-4">Los EcoPuntos se obtienen ingresando en tu cuenta el código que obtenés cuando realizás un depósito de residuos en un Punto de Depósito. La cantidad de EcoPuntos dependerá del material y de la cantidad que deposites. Cuanto más depositás, más EcoPuntos obtenés.</p>

            <div class="row question-row" onclick="slideAnswer(4,4);" id="question-row-4-4">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-4-4"></img>
                <p class="question" id="question-4-4">Modificar los Permisos de un Tipo de Usuario</p>
            </div>
            <p class="question-answer" id="answer-4-4">Los depósitos de residuos pueden realizarse en cualquier Punto de Depósito, que se encuentran en distribuídos por distintos sectores de la ciudad. Podés conocer cuáles son los puntos de depósito de tu ciudad, su estado, sus horarios y qué materiales acpetan cada uno de ellos ingresando con tu usuario en EcoAsistente.</p>

            <div class="row question-row" onclick="slideAnswer(5,4);" id="question-row-5-4">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-5-4"></img>
                <p class="question" id="question-5-4">Visualizar y editar los Niveles</p>
            </div>
            <p class="question-answer" id="answer-5-4">Recordá que no todos los Puntos de Depósito aceptan todos los materiales, sino que cada uno de ellos acepta una determinada variedad específica de materiales. Para consultar que materiales acepta cada Punto de Depósito, ingresá con tu cuenta de EcoAsistente y chequea eso y más info. en tiempo real.</p>
        </div>


         <!--Preguntas sección Configuración y Reportes-->
         <div class="col question-col" id="questions-col-5" style="margin-left: 5%;">
            <h2 id="top-questions-title">Configuración y Reportes</h2>
            <hr style="width: 95%; margin-left: -2.5%; margin-bottom: 5% !important;">
            <div class="row question-row" onclick="slideAnswer(1,5);" id="question-row-1-5">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-1-5"></img>
                <p class="question" id="question-1-5">Visualizar y modificar el valor de los EcoPuntos</p>
            </div>
            <p class="question-answer" id="answer-1-5">EcoAsistente es un sistema diseñado para hacer a tu ciudad más sustentable, premiando y fomentando el reciclaje de residuos a través de EcoPuntos que podés usar para adquirir productos reciclados en nuestra tienda. A su vez, podés informarte sobre cómo hacer tu hogar más ecológico, generando como resultado una sociedad más concientizada. Con EcoAsistente, cuanto más reciclas, más ganás.</p>
            
            <div class="row question-row" onclick="slideAnswer(2,5);" id="question-row-2-5">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-2-5"></img>
                <p class="question" id="question-2-5">Visualizar y modificar el porcentaje de recompensa de Depósitos</p>
            </div>
            <p class="question-answer" id="answer-2-5">Utilizar EcoAsistente es súper fácil y 100% gratuito. Para comenzar, primero debés crear una cuenta registrándote con un email, tu nombre y tu dni. Luego, selecciona tu contraseña, ¡Y listo! Ya podés comenzar a realizar depósitos y a sumar EcoPuntos con cada uno de ellos. Luego, podés canjearlos por artículos hechos a partir de materiales reciclados en nuestra tienda.</p>

            <div class="row question-row" onclick="slideAnswer(3,5);" id="question-row-3-5">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-3-5"></img>
                <p class="question" id="question-3-5">Generar y visualizar Reportes</p>
            </div>
            <p class="question-answer" id="answer-3-5">Los EcoPuntos se obtienen ingresando en tu cuenta el código que obtenés cuando realizás un depósito de residuos en un Punto de Depósito. La cantidad de EcoPuntos dependerá del material y de la cantidad que deposites. Cuanto más depositás, más EcoPuntos obtenés.</p>

            <div class="row question-row" onclick="slideAnswer(4,5);" id="question-row-4-5">
                <img src="/static/img/chevron.svg" class="chevron-faq" id="chevron-faq-4-5"></img>
                <p class="question" id="question-4-5">Descargar reportes como Planilla de Cálculo</p>
            </div>
            <p class="question-answer" id="answer-4-5">Los depósitos de residuos pueden realizarse en cualquier Punto de Depósito, que se encuentran en distribuídos por distintos sectores de la ciudad. Podés conocer cuáles son los puntos de depósito de tu ciudad, su estado, sus horarios y qué materiales acpetan cada uno de ellos ingresando con tu usuario en EcoAsistente.</p>

           </div>
        
    </div>
  </div>
</div>
<div class="row" style="height: 40px; background-color:#f8f9fa; width: 101.1%;">

</div>
</body>
</html>


<script src="/static/js/ayuda-admin.js"></script>