<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/codigo.css')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Canjear Código de Depósito</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Canjeá tu código de depósito y ganá EcoPuntos.</span></h6>
    </div>



    <!-- Tabla Entidades-->

    <div class="container" id="table-container">
        <h3 class="ticket-title-code mb-2" style="padding-top: 50px;">Ingresá el código que recibiste al realizar el depósito:</h3>          
        <div class="row d-flex justify-content-center mt-4">
            {%for i in range(0,16)%}
            <div class="group mt-2" style="width:3.6rem !important; margin: 0 !important;">
                <input maxlength="1" class="code-input" type="text" id="{{i}}" name="codigo">
                <span class="highlight" style="width: 51px !important"></span>
                <span class="bar wide-bar" style="width: 51px !important"></span>
                
            </div>
            {%endfor%}
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <p id="codigoError" class="modalErrorMessage" style="color:#aaa !important;">El código de depósito tiene 16 caracteres.</p>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn" id="ecoasistente-btn-code" data-mdb-ripple-color="dark" onclick="validarCodigo();" disabled>
                Validar código de depósito
            </button>
        </div>
    </div>

    <div class="container" id="table-container2">
        <div class="row" style="padding-top: 50px;" id="invalid-row">
            <div class="container ticket-container">
                <h3 class="ticket-title error-title">¡Ups! Parece que el código no es válido.</h3>          
                <p class="ticket-code-error" id="code">
                   Acá va el código</span>
                </p>
                <p class="ticket-thanks">Si te has equivocado, puedes intentarlo nuevamente</p>
                <p class="ticket-subtitle">Recordá llevar tus residuos a los Puntos de depósito para obtener nuevos códigos y sumar EcoPuntos.</p> 
            </div>
            <div class="row" style="width: 80%; margin-left: 10%; margin-bottom: 3%;">
                <button type="button" class="btn primary-btn error-btn" id="ecoasistente-btn" data-mdb-ripple-color="dark" onclick="redirect('/codigo')">
                    Ingresar otro código
                  </button>
                  <button type="button" class="btn secondary-btn" id="otro-deposito-btn" data-mdb-ripple-color="dark" onclick="redirect('/main')">
                    Volver a Mi Panel 
                  </button>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;" id="repeated-row">
            <div class="container ticket-container">
                <h3 class="ticket-title error-title">¡Ups! Parece que el código ya fue utilizado.</h3>          
                <p class="ticket-code-error" id="code-1">
                   Acá va el código</span>
                </p>
                <p class="ticket-thanks">Lamentamos mucho la situación</p>
                <p class="ticket-subtitle">Recordá que los EcoPuntos de un código solo pueden ser acreditados una sola vez.</p> 
            </div>
            <div class="row" style="width: 80%; margin-left: 10%; margin-bottom: 3%;">
                <button type="button" class="btn primary-btn error-btn" id="ecoasistente-btn" data-mdb-ripple-color="dark" onclick="redirect('/codigo')">
                    Ingresar otro código
                  </button>
                  <button type="button" class="btn secondary-btn" id="otro-deposito-btn" data-mdb-ripple-color="dark" onclick="redirect('/main')">
                    Volver a Mi Panel 
                  </button>
            </div>
        </div>
        <div class="row" id="successful-row">
            <div class="container ticket-container">
              <h3 class="ticket-title">¡Su código se ha validado con éxito!</h3>          
              <p class="ticket-code" id="code">
                  Hemos acreditado a su cuenta <span id="cantEPdep">22</span> EcoPuntos
              </p>
              <p class="ticket-thanks">¡Muchas gracias por su depósito!</p>
              <p class="ticket-subtitle">Ya podés ver los EcoPuntos reflejados en tu cuenta, y están disponibles para su utilización.</p>
  
            </div>
            <div class="row" style="width: 80%; margin-left: 10%; margin-bottom: 3%;">
                <button type="button" class="btn primary-btn" id="ecoasistente-btn" data-mdb-ripple-color="dark" onclick="redirect('/codigo')">
                    Ingresar otro código
                  </button>
                  <button type="button" class="btn secondary-btn" id="otro-deposito-btn" data-mdb-ripple-color="dark" onclick="redirect('/depositos/usuario')">
                    Ir a mis depósitos
                  </button>
            </div>
            
          </div>
        </div>
        
    </div>
    <div class="row" id="loadingRowCodigo" style="display: none;">
        <div id="lds-ring-big" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="row d-flex justify-content-center" id="loading-text-row">
        <p id="loading-text-codigo"></p>
    </div>
    

        
</div>
<script src="/static/js/codigo.js"></script>
{% endblock %}