<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Pedidos - Depósito Central</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Visualice y gestione todos los pedidos.</span></h6>
    </div>
    


    <!-- Loading Modal -->
    <!-- Para mostrar mientras se carga un modal-->

    <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <br><br><br><br><br><br><br><br>
            <div class="row" id="loadingRow">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>




    <!-- Articulos Modal -->
    <div class="modal fade modal-lg" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="headingModalMat"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-card" id="materiales-modal-body">
                    <div class="container modal-large-card-sm" id="material-card">
                        <div class="row">
                            <div class="modal-card-col-sm">
                                <div class="circle materiales-large-card-img" id="material-img">I</div>
                            </div>
                            <div class="modal-card-col-sm" >
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="nombre-material">Nombre</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Nombre artículo</p>
                                </div>
                            </div>
                            <div class="modal-card-col-sm">
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="unidad-medida">-</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Unidad de medida</p>
                                </div>
                            </div>
                            <div class="modal-card-col-sm">
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="cantidad">-</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Cantidad</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
                </div>
            </div>      
        </div>
    </div>



    <button id="open-modal-mat" href='#'data-toggle="modal" data-target="#materialesModal"hidden="true"></button>
    <button id="open-modal-info" href='#'data-toggle="modal" data-target="#infoModal"hidden="true"></button>
    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true"></button>


    <!-- Tabla Pedidos Pendientes-->
    <form action="{{url_for('update_estado_pedido')}}" method="POST" id="modUpdateEstado" autocomplete="off" hidden>
        <input id ="idInput" name="idInput">
        <input id ="idPRInput" name="idPRInput" value=0>
        <input id ="estadoInput" name="estadoInput">
    </form>
    <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos en Preparación</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                    <th class="table-heading"></th>
                    <th class="table-heading"></th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'pendiente'%}      
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}                  
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa" style="color: rgb(167, 167, 167) !important;"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>   
                            <td scope="row"><button class="btn btn-outline-primary" style="box-shadow:none;font-size:12px;border-radius:30px;" onclick="update_estado({{p.id}},'preparado')">Preparado</button></td>
                            <td scope="row"><button class="btn btn-outline-danger" style="box-shadow:none;font-size:12px;border-radius:30px;" onclick="update_estado({{p.id}},'cancelado')">Cancelar</button></td>
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <hr style="width:70%">

    <!-- Tabla Pedidos Preparados-->

    <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos Preparados (En Tránsito)</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                    <th class="table-heading"></th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'preparado'%}
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa" style="color: rgb(167, 167, 167) !important;"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>   
                            <td scope="row"><button class="btn btn-outline-danger" style="box-shadow:none;font-size:12px;border-radius:30px;" onclick="update_estado({{p.id}},'cancelado')">Cancelar</button></td>
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <hr style="width:70%">

    <!-- Tabla Pedidos Listos-->

    <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos Listos para Retiro</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                    <th class="table-heading"></th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'listo'%}
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa" style="color: rgb(167, 167, 167) !important;"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>   
                            <td scope="row"><button class="btn btn-outline-danger" style="box-shadow:none;font-size:12px;border-radius:30px;" onclick="update_estado({{p.id}},'cancelado')">Cancelar</button></td>
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <hr style="width:70%">




    <!-- Tabla Pedidos Retirados-->

    <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos Retirados</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                    <th class="table-heading"></th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'retirado'%}
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa" style="color: rgb(167, 167, 167) !important;"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>   
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <hr style="width:70%">

    <!-- Tabla Pedidos Cancelados-->

    <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos Cancelados</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'cancelado'%}
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-box custom-link-fa"></i> Ver info</a></td>   
                            <td scope="row"><button class="btn btn-outline-secondary" style="box-shadow:none;font-size:12px;border-radius:30px;" onclick="update_estado({{p.id}},'devuelto')">Devuelto</button></td>
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <hr style="width:70%">

     <!-- Tabla Pedidos Devueltos-->

     <div class="container" id="table-container">
        <h4 style="margin-left:4%;padding-top:3%;">Pedidos Reembolsados</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">EP</th>
                    <th scope="col" class="table-heading">ARS</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Articulos</th>
                    <th scope="col" class="table-heading">Info</th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == 'devuelto'%}
                    {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa" style="color: rgb(167, 167, 167) !important;"></i> Ver artículos</a></td>  
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openInfoModal({{p.id}});"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>   
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Info Modal -->
<div class="modal fade modal-lg" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" style="height: fit-content;"id="altaPDModalContent">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Información del pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-card" style="height: fit-content;overflow-x:hidden;" id="modalAltaPDBody">
            <!--Loading Ring -->
            <div class="row" id="loadingRow">
                <div class="lds-ring loadingRingAlta"><div></div><div></div><div></div><div></div></div>
            </div>            
            <div class="row subheader-row" id="subheader-alta-pd">
                <div class="col">
                    <label class="subheader-info" id="subheader-alta">Datos del Pedido</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%;display: inline-block;">
                <div class="group" style="width: 25%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="idPedidoModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">ID del pedido</label>
                </div>
                <div class="group" style="width: 25%;">
                    <input type="text" id="totalEPModal" class="data-show-input" readonly> 
                    <img src="/static/img/econpuntos-logo.png" id="ep-logo-modal-info">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Total en EcoPuntos</label>
                </div>
                <div class="group" style="width: 25%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="totalARSModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Total en Pesos</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%; display: inline-block;">
                <div class="group" style="width: 25%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="estadoModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Estado actual</label>
                </div>
                <div class="group" style="width: 25%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="fecha_encModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Fecha de Encargo</label>
                </div>
                <div class="group" style="width: 25%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="fecha_retModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Fecha de Retiro</label>
                </div>
            </div>
            <div class="row d-flex justify-content-center hr-row">
                <hr class="modal-hr-separator" style="width: 100%;">
            </div>
            <div class="row subheader-row" id="subheader-alta-pd" style="margin-top: -4% !important;">
                <div class="col">
                    <label class="subheader-info" id="subheader-alta">Datos del Usuario</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%;display: inline-block;">
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="IDusuarioModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">ID del usuario</label>
                </div>
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="nombreCompletoModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Nombre completo</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%; display: inline-block;">
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="tipoNroDocModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Tipo y número de documento</label>
                </div>
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="emailModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Email</label>
                </div>
            </div>
            <div class="row d-flex justify-content-center hr-row">
                <hr class="modal-hr-separator">
            </div>
            <div class="row subheader-row" id="subheader-alta-pd" style="margin-top: -4% !important;">
                <div class="col">
                    <label class="subheader-info" id="subheader-alta">Datos del Punto de Retiro</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%; display: inline-block;">
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="idPRModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">ID del Punto de Retiro</label>
                </div>
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="nombrePRModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Nombre</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between" style="width: 84%; margin-left: 8.5%; display: inline-block;">
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="direccionPRModal">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Dirección</label>
                </div>
                <div class="group" style="width: 50%;">  
                    <input type="text" class="data-show-input" width="25%" readonly value="Test" id="direccionPRModal2">
                    <input type="text" id="" name="id" hidden>
                    <label class="">Ciudad, Provincia y País</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn primary-btn" data-dismiss="modal" id="primary-btn-alta">Listo</button>
        </div>
      </div>
    </div>
</div>


<script src="/static/js/pedidos.js"></script>
{% endblock %}