<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/eco-tienda.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <script src="/static/js/encontrar-pr.js"></script>



</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <div class="container" id="heading-container">
        <h1 class="heading">Encontrar Punto de Retiro</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Seleccione un punto de retiro para ver su ubicación.</span></h6>
    </div>
    <div class="container" id="table-container">
        <!--Grid column-->
            <div id="punto-retiro-content" style="display: block;">
        
                <!-- Card -->
                <div class="mb-3" style="width: 95%; margin-right: 2.5%; margin-left: 2.5%;">
                    <div class="row">
                        <div class="col cards-pr-col" style="width:100% !important; min-width: 400px;">
                            {%set pr_id = []%}
                            {%for pr in puntos_ret%}
                                <!-- {{pr_id.append(pr.id)}} -->
                            {%endfor%}
                            {%for pr in puntos_ret%}
                            <div class="container pr-card" id="{{pr.id}}-pr-card" onclick="disableEnableButton({{pr.id}},{{pr_id}}, '{{pr.direccion.calle}}', '{{pr.direccion.altura}}','{{pr.direccion.ciudad}}','{{pr.direccion.provincia}}','{{pr.direccion.pais}}');">
                                <i class="fa fa-map-marker-alt fa-3x option-img-pr" style="float: left;" id=""></i>
                                <p class="option-title-cards-pr">{{pr.nombre}}</p>
                                <p class="option-description-pr">{{pr.direccion.calle + ' '}}{{pr.direccion.altura}}</p>
                                <p class="option-description-pr text-muted"  style="margin-top: 0.2%;">{{pr.direccion.ciudad}}</p>
                                <div style="float: right;" class="horarios-container-ecnontrar-punto">
                                    <i class="far fa-clock horarios-img-ecnontrar-punto" id="{{pr.id}}-img" onmouseover="changeColor({{pr.id}});" onmouseout="restablishColor({{pr.id}});" onclick="openLoadingRing();openModalHorarios('{{pr.id}}', '{{pr.nombre}}', '{{pr.estado}}');"></i>
                                    <p class="option-description-pr horarios-desc-ecnontrar-punto" id="{{pr.id}}-desc" onmouseover="changeColor({{pr.id}});" onmouseout="restablishColor({{pr.id}});" onclick="openLoadingRing();openModalHorarios('{{pr.id}}', '{{pr.nombre}}', '{{pr.estado}}');">Ver horarios</p>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                        
                        <div class="col" style="float: right; min-width: 300px;">
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Rosario&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" class="map-pr-encontrar"></iframe>
                        </div>
                        <input type="text" hidden name="idPuntoRetiro" id="idPuntoRetiro">
                    </div>
                        
                </div>
            </div>
    </div>
    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal" hidden="true"></button>
    <button id="close-loading-modal" href='#' onclick="cierraModal('loadingModal');" hidden="true"></button>
    <button id="open-loading-modal" href='#'data-toggle="modal"  data-backdrop="static" data-keyboard="false" hidden="true">
</div>

<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->
<div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <br><br><br><br><br><br><br><br>
      <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<!-- Horarios Modal -->
<div class="modal fade modal-lg" id="tablaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalHorarios"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card">
                <div class="container modal-large-card">
                    <div class="row">
                        <div class="modal-card-col" id="modal-card-col-1">
                            <img src="/static/img/open-circle-icon.jpg" class="modal-large-card-img" id="open-img">
                            <img src="/static/img/closed-circle-icon.png" class="modal-large-card-img" id="close-img">
                            <img src="/static/img/inactive-circle-icon.png" class="modal-large-card-img" id="inactive-img">
                        </div>
                        <div class="modal-card-col" >
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="estado-apertura-pos">Abierto</p>
                                <p class="open-letter" id="estado-apertura-neg">Cerrado</p>
                                <p class="open-letter" id="estado-apertura-inac">Inactivo</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Estado Actual</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="cant-horas-cierre-pos">-</p>
                                <p class="open-letter" id="cant-horas-cierre-neg">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Tiempo para cierre</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="vl">
                                <div class= "info-container-modal">
                                    <span class="text-muted" id="toda-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-1-pos"></i>Abre de lunes a viernes<br></span>
                                    <span class="text-muted" id="toda-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-1-neg"></i>No abre de lunes a viernes<br></span>

                                    <span class="text-muted" id="fines-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-2-pos"></i>Abre fines de semana<br></span>
                                    <span class="text-muted" id="fines-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-2-neg"></i>No abre fines de semana<br></span>

                                    <i class="fa fa-clock modal-info-img" id="info-modal-3"></i><span class="text-muted" id="horarios-apertura">Hoy abre 08:00hs y cierra 20:00hs</span>                                                                        
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
                    <div class="container modal-large-card d-flex justify-content-center" id="modal-large-card-2">
                        <table class="table" id="content-table-modal">
                            <thead>
                            <tr id=headerRow>
                            </tr>
                            </thead>
                            <tbody id="modalTableBody">
                            </tbody>
                    
                        </table>
                    </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>

  {% endblock %}