<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Ha ocurrido un error</h1>
    </div>
    <hr>
    <div class="container" id="top-container">
        <p style="font-size:large;"><b>Detalles del error: </b> {{err.nombre}}</p>
        <p><b>Mensaje: </b>{{err.msj}}</p>
        <p><b>Mensaje Adicional: </b>{{err.msj_adicional}}</p>
        <p><b>Origen: </b>{{err.origen}}</p>
        <hr>
        <br>
        <h4> Información para desarrolladores: </h4>
        <table class="table" id="content-table" style="margin-left:0% !important;margin-right:0% !important;">
            <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">#</th>
                    <th scope="col" class="table-heading">Stacktrace</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(aditional|length)%}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{aditional[aditional|length - i - 1]}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <hr>
        <p style="font-size:large;"><b>Error completo: </b> {{err}}</p>
    </div>


    {% endblock %}