<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Insumos</h1>
    </div>
    



    <!-- Botones Opciones-->

    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" onclick="openAltaModal();">
                    <div class="option-text">
                        <p class="option-title">Añadir Insumo</p>
                        <p class="text-box">Añadir un nuevo Insumo al sistema</p>
                    </div>
                    <i class="fa fa-plus option-img" id="option-img-1"></i>
            </div>
            <div class="container" id="option-middle" onclick="modifyEntidad()">
                <div class="option-text">
                    <p class="option-title">Modificar Insumo</p>
                    <p class="text-box">Modificar los datos de un Insumo</p>
                </div>
                <i class="fa fa-edit option-img" id="option-img-2"></i>
            </div>
            <div class="container" id="option-right" onclick="removeEntidad()">
                <div class="option-text">
                    <p class="option-title">Eliminar Insumo</p>
                    <p class="text-box">Eliminar un Insumo ya registrado en el sistema</p>
                </div>
                <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>





    <!-- Tabla Insumos-->

    <div class="container" id="table-container">
        <div class="row">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading"></th>
                    <th scope="col" class="table-heading">Nombre</th>
                    <th scope="col" class="table-heading">Costo</th>
                    <th scope="col" class="table-heading">Stock</th>
                    <th scope="col" class="table-heading">Unidad</th>
                </tr>
                </thead>
                <tbody>
                {%set nombres = []%}
                {%for ins in insumos%}
                <!-- Jinja funciona en comentarios... sin esto imprime None en pantalla.-->
                <!--{{nombres.append(ins.nombre)}} -->
                <tr>
                    <th><div><i class="fas fa-circle" style="color:{{ins.color}}"></i></div></th>
                    <th scope="row">{{ins.nombre}}</th>
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true">
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                    <td scope="row">{{ins.costoTotal}}</td>
                    <td scope="row">{{ins.stock}}</td>
                    <td scope="row">{{ins.unidadMedida}}</td>

                    <td class="modify-row"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon" onclick="openEditModal('{{ins.id}}','{{ins.nombre}}','{{ins.costoProduccion}}','{{ins.costoMateriales}}','{{ins.unidadMedida}}','{{ins.otrosCostos}}','{{ins.color}}')"></i></td>
                    <td class="delete-row"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon" onclick="openBajaModal('{{ins.id}}','{{ins.nombre}}')"></i></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>





<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->

  <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <br><br><br><br><br><br><br><br>
        <div class="row" id="loadingRow">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </div>
        </div>
      </div>
  </div>
</div>


<!--Alta Modal -->

<div class="modal fade modal-lg" id="altaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un nuevo Insumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_insumo')}}" method="POST" class="modal-body" id="altaInsumoForm" autocomplete="off">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row" id="row-to-hide-1">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="nombreInput" required onkeyup = "validaNuevoNombre({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre del Insumo</label>
                        <p id="nombreInsError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="unidadInput" required name="unidad" onkeyup = "validaUnidad();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Unidad Medida</label>
                        <p id="unidadInsError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-to-hide-2">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cmInput" name="costoMateriales" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("mat")' onkeyup='document.getElementById("costoMInsError").innerHTML="";calcularCosto("mat");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Materiales</label>
                        <p id="costoMInsError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cpInput" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("prod")' onkeyup='document.getElementById("costoPInsError").innerHTML="";calcularCosto("prod");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Producción</label>
                        <p id="costoPInsError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-to-hide-3">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ocInput" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("otros")' onkeyup='document.getElementById("costoOInsError").innerHTML="";calcularCosto("otros");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Otros Costos</label>
                        <p id="costoOInsError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="colorInput" required name="color" onkeyup = "checkColorAlta()" style="display: inline;" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 70) || (event.charCode >= 97 && event.charCode <= 102) || (event.charCode == 35)'>
                        <i id="color-marker" style="margin-left:-8%; color:red;display: inline;" class="fas fa-circle" onclick='randomColorAlta();'></i>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Color</label>
                        <p id="colorError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText"></p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn">Cancelar</button>
          <button type="button" class="primary-btn btn" onclick="alta_insumo()" id="alta-btn" name ="add-btn" disabled>Crear Insumo</button>
        </div>
      </div>
    </div>
</div>






<!--Edit Modal -->

<div class="modal fade modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Actualizar un Insumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('edit_insumo')}}" method="POST" class="modal-body" id="editInsumoForm" autocomplete="off">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row" id="row-to-hide-1-mod">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input type="text" id="idInputMod" required hidden name="id" >
                        <input type="text" id="nombreInputMod" required onkeyup = "validaNuevoNombreMod({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre del Insumo</label>
                        <p id="nombreInsErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="unidadInputMod" required name="unidad" onkeyup = "validaUnidadMod();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Unidad Medida</label>
                        <p id="unidadInsErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-to-hide-2-mod">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cmInputMod" name="costoMateriales" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("mat")' onkeyup='document.getElementById("costoMInsErrorMod").innerHTML="";calcularCostoMod("mat");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Materiales</label>
                        <p id="costoMInsErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cpInputMod" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("prod")' onkeyup='document.getElementById("costoPInsErrorMod").innerHTML="";calcularCostoMod("prod");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Producción</label>
                        <p id="costoPInsErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-to-hide-3-mod">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ocInputMod" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("otros")' onkeyup='document.getElementById("costoOInsErrorMod").innerHTML="";calcularCostoMod("otros");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Otros Costos</label>
                        <p id="costoOInsErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="colorInputMod" required name="color" onkeyup = "checkColorMod()" style="display: inline;" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 70) || (event.charCode >= 97 && event.charCode <= 102) || (event.charCode == 35)'>
                        <i id="color-markerMod" style="margin-left:-8%; color:red;display: inline;" class="fas fa-circle" onclick='randomColorMod();'></i>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Color</label>
                        <p id="colorErrorMod" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalTextMod"></p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-mod">Cancelar</button>
          <button type="button" class="primary-btn btn" onclick="edit_insumo()" id="alta-btn-mod" name ="add-btn" disabled>Actualizar Insumo</button>
        </div>
      </div>
    </div>
</div>





<!--Delete Modal -->

<div class="modal fade modal-lg" id="bajaInsumodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un Insumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" >
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <p class="b-modal-text-baja" id="baja-custom-text">
            </p>
        </div>
        <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        <input type="text" name="" id="idInsumo" hidden>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn" onclick="baja_entidad();" id="primary-btn-alert">Eliminar</button>
        </div>
      </div>
    </div>
</div>

<script src="static/js/insumos.js"></script>
{% endblock %}