<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Artículos</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Cree, elimine, modifique y configure los Artículos de EcoAsistente.</span></h6>
    </div>
    



    <!-- Botones Opciones-->

    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" onclick="openAltaModal();">
                    <div class="option-text">
                        <p class="option-title">Añadir Artíclo</p>
                        <p class="text-box">Añadir un nuevo Artículo al sistema</p>
                    </div>
                    <i class="fa fa-plus option-img" id="option-img-1"></i>
            </div>
            <div class="container" id="option-middle" onclick="modifyEntidad()">
                <div class="option-text">
                    <p class="option-title">Modificar Artíclo</p>
                    <p class="text-box">Modificar los datos de un Artículo</p>
                </div>
                <i class="fa fa-edit option-img" id="option-img-2"></i>
            </div>
            <div class="container" id="option-right" onclick="removeEntidad()">
                <div class="option-text">
                    <p class="option-title">Eliminar Artíclo</p>
                    <p class="text-box">Eliminar un Artículo ya registrado en el sistema</p>
                </div>
                <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>





    <!-- Tabla Articulos-->

    <div class="container" id="table-container">
        <div class="row d-flex justify-content-center">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Nombre</th>
                    <th scope="col" class="table-heading">Costo</th>
                    <th scope="col" class="table-heading">Margen</th>
                    <th scope="col" class="table-heading">Precio</th>
                    <th scope="col" class="table-heading">Stock</th>
                    <th scope="col" class="table-heading">Unidad</th>
                    <th scope="col" class="table-heading">Desc.</th>
                    <th scope="col" class="table-heading">Insumos</th>
                    <th scope="col" class="table-heading">Público</th>
                </tr>
                </thead>
                <tbody>
                {%set nombres = []%}
                {%for art in articulos%}
                <!-- Jinja funciona en comentarios... sin esto imprime None en pantalla.-->
                <!--{{nombres.append(art.nombre)}} -->
                {%set ids_insumos = []%}
                {%set cantidades = []%}
                {%for ins in art.insumos%}
                    <!--{{ids_insumos.append(ins.idInsumo)}} -->
                    <!--{{cantidades.append(ins.cantidad)}} -->
                {%endfor%}
                {%set cantidades_totales = []%}
                {%for ins in insumos%}
                    <!--{{cantidades_totales.append(0)}} -->
                    {%for ins_art in art.insumos%}
                        {%if ins.id == ins_art.idInsumo%}
                            {%set temp = cantidades_totales.pop()%}
                            <!--{{cantidades_totales.append(ins_art.cantidad)}} -->
                        {%endif%}
                    {%endfor%}
                {%endfor%}
                <tr>
                    <th scope="row">{{art.nombre|truncate(25,true)}}</th>
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true">
                    <button id="open-modal-mat" href='#'data-toggle="modal" data-target="#materialesModal"hidden="true"></button>
                    <button id="open-modal-desc" href='#'data-toggle="modal" data-target="#descModal"hidden="true"></button>
                    <button id="open-mat-vacio" href='#'data-toggle="modal" data-target="#materialesVacioModal"hidden="true"></button>
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                    <td scope="row">{{art.costoTotal}}</td>
                    <td id="mg-{{art.id}}"scope="row">{{art.margenGanancia * 100}}%</td>
                    <script>$("#mg-{{art.id}}").text(parseFloat({{art.margenGanancia * 100}}.toFixed(2)) + "%")</script>
                    <td scope="row">{{art.valor}}</td>
                    <td scope="row">{{art.stock}}</td>
                    <td scope="row">{{art.unidadMedida}}</td>
                    <td><a class="custom-link" href='#' onclick="openModalDesc('{{art.id}}','{{art.nombre}}','{{art.desc}}');"><i class="fa fa-question-circle custom-link-fa"></i> Ver Descripción</a></td>
                    <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalInsumos('{{art.nombre}}',{{ids_insumos}},{{cantidades}});"><i class="fa fa-pallet custom-link-fa"></i> Ver insumos</a></td>
                    {% if art.ventaUsuario %}
                        <td scope="row">Si</td>
                    {% else %}
                        <td scope="row">No</td>
                    {% endif %}
                    <td class="modify-row"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon" onclick="openEditModal('{{art.id}}','{{art.nombre}}','{{art.costoProduccion}}','{{art.costoInsumos}}','{{art.costoTotal}}','{{art.valor}}','{{art.margenGanancia}}','{{art.unidadMedida}}','{{art.costoObtencionAlternativa}}','{{art.otrosCostos}}','{{art.imagen}}','{{art.ventaUsuario}}',{{ids_insumos}},{{cantidades}},{{cantidades_totales}})"></i></td>
                    <td class="delete-row"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon" onclick="openBajaModal('{{art.id}}','{{art.nombre}}')"></i></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>





<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->

  <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <br><br><br><br><br><br><br><br>
        <div class="row" id="loadingRow">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </div>
        </div>
      </div>
  </div>
</div>



<!-- Descripcion Modal -->
<div class="modal fade modal-lg" id="descModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalDesc"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" id="desc-modal-body" action="{{url_for('edit_desc_articulo')}}" method="POST" autocomplete="off">
                <div class="container" id="">
                    <div class="row" id="desc-row" style="display:none;justify-content: center;">
                        <p id="desc-label"></p>
                    </div>
                    <div class="row" id="loadingRow">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div class="row" id="edit-row" style="display:none;display:grid;margin-top:-2%;">
                        <div class="col">
                          <div class="group">
                            <p>Editar Descripción:</p>
                            <input hidden id="idDescInput" name="idArt">
                            <textarea type="text" class="form-control green-text-area" id="descEditInput" name="desc" style="width:100%"></textarea>
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <p id="descArtError" class="modalErrorMessage"></p>
                          </div>
                      </div>
                  </div>
                </div>
            </form>        
        <div class="modal-footer">
            <div type="button" class="btn secondary-btn" id="edit-btn-desc" style="display:none;" onclick="edit_desc();"><i class="fas fa-pen"></i> Editar</div>
            <div type="button" class="btn primary-btn" id="listo-desc-btn" style="display:none;" data-dismiss="modal">Listo</div>
            <div type="button" class="btn secondary-btn" id="cancel-btn" style="display:none;" onclick="cancel_edit_desc();">Cancelar</div>
            <div type="button" class="btn primary-btn" id="confirm-btn" style="display:none;" onclick="confirmar_desc_load();confirmar_desc();">Confirmar</div>
        </div>
    </div>

    </div>
</div>


<!-- Insumos Modal -->
<div class="modal fade modal-lg" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalMat"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card" id="materiales-modal-body">
                <div class="container modal-large-card-sm" id="material-card">
                    <div class="row">
                        <div class="modal-card-col-sm">
                            <div class="circle materiales-large-card-img" id="material-img">I</div>
                        </div>
                        <div class="modal-card-col-sm" >
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="nombre-material">Nombre</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Nombre insumo</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="unidad-medida">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Unidad de medida</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="cantidad">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Cantidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>




<!--Alta Modal -->

<div class="modal fade modal-lg" id="altaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="height: fit-content;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un nuevo Artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_articulo')}}" method="POST" class="modal-body modal-body-card" id="altaArticuloForm" autocomplete="off" enctype="multipart/form-data">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row subheader-row" id="subheader-pag-1" style="display:none;margin-top:1% !important;">
              <div class="col">
              <label class="subheader">Datos Básicos</label>
              </div>
            </div>
            <div class="row subheader-row" id="subheader-pag-2" style="display:none;margin-top:1% !important;">
              <div class="col">
              <label class="subheader">Insumos</label>
              </div>
            </div>
            <div class="row subheader-row" id="subheader-pag-3" style="display:none;margin-top:1% !important;">
              <div class="col">
              <label class="subheader">Costos</label>
              </div>
            </div>
            <div class="row subheader-row" id="subheader-pag-4" style="display:none;margin-top:1% !important;">
              <div class="col">
              <label class="subheader">Precio</label>
              </div>
            </div>
            <div class="row" id="row-pag-1-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="nombreInput" onkeyup = "validaNuevoNombre({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre del Artículo</label>
                        <p id="nombreArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="unidadInput" name="unidad" onkeyup = "validaUnidad();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Unidad Medida</label>
                        <p id="unidadArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-1-2" style="display:none;height: 50px;">
                  <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input id="fileInputAlta" type="file" name="file"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Imagen</label>
                        <p id="imgArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%">
                        <div class="form-check">
                          <label style="margin-top: 1%;">Venta a usuarios</label>
                          <input style="margin-left: -3%;margin-top: 6%;" class="form-check-input" type="checkbox" id="usuariosCheck" name="ventaUsuario">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-1-3" style="display:none;display:grid;margin-top:4%;">
                <div class="col">
                  <div class="group">
                    <p style="margin-left:5%">Descripción:</p> 
                    <textarea type="text"  id="descEditInput" class="form-control green-text-area" name="desc" style="width:90%;margin-left:5%;margin-right:5%;"></textarea>
                      <span class="highlight"></span>
                      <p id="descArtError" class="modalErrorMessage"></p>
                  </div>
              </div>
          </div>



            <!-- Insumos -->
            <div class="row" id="fieldsRow1Alta1" style="margin-left: 6.5%; margin-right: 8%; margin-top: 0px;">
                <h6 class="indicator-label">Seleccione los insumos que se requerirán para producir el articulos:</h6>
                <div class="dropdown-box" id="dropdown-altaPD">
                    <h4 id="heading-option" onclick="dropdownManager();">
                        Seleccionar Insumo 
                        <img src="/static/img/chevron.svg" class="chevron">
                    </h4>
                    <div class="menu-option-box" id="menu-option-box-1">
                        {%for insumo in insumos%}
                        <p class="menu-option-box-op" onclick="dropdownOptionSelect('{{insumo.id}}', '{{insumo.nombre}}','{{insumo.color}}');"><i class="fa fa-check dropdown-option-check" id="{{insumo.id|string + '-check'}}" style="display: none;"></i>{{insumo.nombre}}</p>
                        {%endfor%}
                    </div>       
                </div>                 
            </div>
            <div class="row cards-row-materiales" id="cards-row-materiales" style="margin-left: 2%;">
                <h6 class="indicator-label-2" id="se-req-msj">Se requerirán:</h6>
                <p class="warning-label-altaPD" id="warning-label-altaPD"><i class="fa fa-exclamation-triangle warning-icon-altaPD" id="warning-icon-altaPD"></i> No ha seleccionado ningún Insumo para este Articulo.</p>
                {% for insumo in insumos %}
                <div class="container modal-large-card-sm card-altaPD" id="{{insumo.id|string + '-card'}}" style="display: none;">
                    <div class="row">
                        <div class="modal-card-col-sm">
                            <div class="circle materiales-large-card-img" id="{{insumo.id|string + '-img'}}">{{insumo.nombre[0]}}</div>
                        </div>
                        <div class="modal-card-col-sm" >
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                {%if insumo.nombre|length < 15%}
                                    <p class="material-card-title" id="nombre-material">{{insumo.nombre}}</p>
                                {%elif insumo.nombre|length < 20%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:17px;text-align:center">{{insumo.nombre}}</p>
                                {%elif insumo.nombre|length < 25%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:15px;text-align:center">{{insumo.nombre}}</p>
                                {%else%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:13px;text-align:center">{{insumo.nombre}}</p>
                                {%endif%}
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Nombre insumo</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="unidad-medida">{{insumo.unidadMedida}}</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Unidad de insumo</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <input hidden name="id-{{insumo.id|string}}" value="{{insumo.id}}">
                                <input hidden class="cost-input" value={{insumo.costoTotal}}>
                                <input class="cant-input" style="width: 60%;top: -10px;position: relative;border-bottom: none;background: transparent;left: 20px;box-shadow:none;" type="number" value=0 id="cantidad-{{insumo.id|string}}" name="cantidad-{{insumo.id|string}}" required min=1 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='verificar_cantidad({{insumo.id}})' onkeyup='verificar_cantidad({{insumo.id}})'>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Cantidad</p>
                            </div>
                            <p id="error-{{insumo.id|string}}" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <input type="text" id="materiales-altaPD" name = "materiales-altaPD" hidden>
            </div>













            <div class="row" id="row-pag-2-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ciInput" readonly class="data-show-input" name="costoInsumos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("ins")' onkeyup='document.getElementById("costoIArtError").innerHTML="";calcularCosto("ins");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Insumos</label>
                        <p id="costoIArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cpInput" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("prod")' onkeyup='document.getElementById("costoPArtError").innerHTML="";calcularCosto("prod");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Producción</label>
                        <p id="costoPArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-2-2" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ocInput" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("otros")' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularCosto("otros");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Otros Costos</label>
                        <p id="costoOArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="coaInput" name="costoObtencionAlt" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("alt")' onkeyup='document.getElementById("costoOAArtError").innerHTML="";calcularCosto("alt");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Obtención Alternativa</label>
                        <p id="costoOAArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-3-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input style="width:60%;" id="margenInput" name="margen" required onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularValor()' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularValor();'>
                        <span class="highlight"></span>
                        <span class="bar" style="width:60%;"></span>
                        <label>Margen Ganancia</label>
                        <p id="margenArtError" class="modalErrorMessage"></p>
                    </div>
                    <label style="margin-left: 65%;">%</label>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input readonly type="text" id="valorInput" name="valor" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Precio</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText"></p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn" style="display:none;">Cancelar</button>
          <button type="button" class="btn" onclick="pasar_pagina(-1)" id="atras-btn" style="display:none;">Atrás</button>
          <button type="button" class="primary-btn btn" onclick="pasar_pagina(1)" id="siguiente-btn" name ="add-btn" disabled>Siguiente</button>
          <button type="button" class="primary-btn btn" onclick="alta_articulo()" id="alta-btn" name ="add-btn" disabled>Crear Artículo</button>
        </div>
      </div>
    </div>
</div>






<!--Edit Modal -->

<div class="modal fade modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
      <div class="modal-header" style="border-bottom:none">
          <ul class="nav nav-tabs ed-tabs" id="myTab" role="tablist">
            <li class="nav-item ed-tabs-item" style="width:188px !important">
              <a class="nav-link ed-link active" id="entidad-tab" data-toggle="tab" href="#datos-basicos" role="tab" aria-controls="datos-basicos" aria-selected="true">Datos Basicos <p hidden id="error-mark-db" style="display:inline" class="error">*</p></a>
            </li>
            <li class="nav-item ed-tabs-item" style="width:188px !important">
              <a class="nav-link ed-link " id="insumos-tab" data-toggle="tab" href="#insumos" role="tab" aria-controls="insumos" aria-selected="false">Insumos <p hidden id="error-mark-c" style="display:inline" class="error">*</p></a>
            </li>
            <li class="nav-item ed-tabs-item" style="width:188px !important">
              <a class="nav-link ed-link " id="demandas-tab" data-toggle="tab" href="#costos" role="tab" aria-controls="costos" aria-selected="false">Costos <p hidden id="error-mark-c" style="display:inline" class="error">*</p></a>
            </li>
            <li class="nav-item ed-tabs-item" style="width:188px !important">
              <a class="nav-link ed-link " id="nuevademanda-tab" data-toggle="tab" href="#precio" role="tab" aria-controls="precio" aria-selected="false">Precio <p hidden id="error-mark-p" style="display:inline" class="error">*</p></a>
            </li>
          </ul>
        </div>
            <form action="{{url_for('edit_articulo')}}" style="margin-top: 0px !important;overflow-x: hidden;" method="POST" id="editArticuloForm" autocomplete="off" class="tab-content modal-body modal-body-card" enctype="multipart/form-data">
                <div class="row" id="loadingRow" style="margin-top: 4%;">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <!-- TAB 1 -->
                <div class="tab-pane active" role="tabpanel" id="datos-basicos">
                    <div class="row" id="row-pag-1-1-mod">
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">
                                <input type="text" name="idArticulo" id="idArticuloMod" hidden>
                                <input type="text" id="nombreInput-mod" onkeyup = "validaNuevoNombreMod({{nombres|safe}})" name="nombre" >
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre del Artículo</label>
                                <p id="nombreArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">      
                                <input type="text" id="unidadInput-mod" name="unidad" onkeyup = "validaUnidadMod();">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Unidad Medida</label>
                                <p id="unidadArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-pag-1-2-mod">
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">      
                                <input id="imagenInput-mod" type="file" name="file" oninput="check_imagen()"/>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Imagen</label>
                                <p id="imgArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-left: 10%">
                                <div class="form-check">
                                    <label style="margin-top: 1%;">Venta a usuarios</label>
                                    <input style="margin-left: -3%;margin-top: 6%;" class="form-check-input" type="checkbox" id="usuariosCheck-mod" name="ventaUsuario" onClick='check_venta_u();'></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>










            <!-- TAB 2 -->
        <div class="tab-pane" role="tabpanel" id="insumos">
            <div class="row cards-row-materiales" id="fieldsRow1Mod" style="margin-left: 6.5%; margin-right: 8%; margin-top: 0px;">
                <h6 class="indicator-label">Seleccione los insumos que se requerirán para producir el artículo:</h6>
                <div class="dropdown-box" id="dropdown-mod">
                    <h4 id="heading-option" onclick="dropdownManagerMod();">
                        Seleccionar Insumos 
                        <img src="/static/img/chevron.svg" class="chevron">
                    </h4>
                    <div class="menu-option-box" id="menu-option-box-2">
                        {%for material in insumos%}
                        <p class="menu-option-box-op" onclick="dropdownOptionSelectMod({{material.id}},1);"><i class="fa fa-check dropdown-option-check" id="{{material.id|string + '-check-mod'}}" style="display: none;"></i>{{material.nombre}}</p>
                        {%endfor%}
                    </div>       
                </div>                 
            </div>
            <div class="row cards-row-materiales" id="cards-row-materiales-mod">
                <h6 class="indicator-label-2">Se requerirán:</h6>
                <p class="warning-label-altaPD" id="warning-label-mod"><i class="fa fa-exclamation-triangle warning-icon-altaPD" id="warning-icon-altaPD"></i> No ha seleccionado ningún Insumo para este Articulo.</p>
                {% for material in insumos %}  
                <div class="container modal-large-card-sm card-mod" id="{{material.id|string + '-card-mod'}}" style="display: none;">
                    <div class="row">
                        <div class="modal-card-col-sm">
                            <div class="circle materiales-large-card-img" id="{{material.id|string + '-img-mod'}}" style="background-color:{{material.color}}">{{material.nombre[0]}}</div>
                        </div>
                        <div class="modal-card-col-sm" >
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                {%if material.nombre|length < 15%}
                                    <p class="material-card-title" id="nombre-material">{{material.nombre}}</p>
                                {%elif material.nombre|length < 20%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:17px;text-align:center">{{material.nombre}}</p>
                                {%elif material.nombre|length < 25%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:15px;text-align:center">{{material.nombre}}</p>
                                {%else%}
                                    <p class="material-card-title" id="nombre-material" style="font-size:13px;text-align:center">{{material.nombre}}</p>
                                {%endif%}
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Nombre insumo</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="unidad-medida-mod">{{material.unidadMedida}}</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Unidad de medida</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <input hidden name="id-{{material.id|string}}" value="{{material.id}}">
                                <input hidden class="cost-input-mod" value={{material.costoTotal}}>
                                <input class="cant-input-mod" style="width: 60%;top: -10px;position: relative;border-bottom: none;background: transparent;left: 20px;box-shadow:none;" type="number" value=0 id="cantidad-mod-{{material.id}}" name="cantidad-{{material.id|string}}" required min=1 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='verificar_cantidad_mod({{material.id}})' onkeyup='verificar_cantidad_mod({{material.id}})'>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Cantidad</p>
                            </div>
                            <p id="error-mod-{{material.id|string}}" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <input type="text" id="materiales-mod" name = "materiales-altaPD" hidden>
            </div>
            <div class="row">
                <span class="bottom-modal-text costo-total-label" id="bottomMatText"></span>
                </p>
                
            </div>
            <div class="row margin-row-mod" style="height:20px !important;"></div>
        </div>













            <!-- TAB 3 -->
            <div class="tab-pane" id="costos" role="tabpanel">
                <div class="row" id="row-pag-2-1-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden> 
                            <input class="data-show-input" readonly type="text" id="ciInput-mod" name="costoInsumos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("ins")' onkeyup='document.getElementById("costoIArtError").innerHTML="";calcularCostoMod("ins");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Insumos</label>
                            <p id="costoIArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="cpInput-mod" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("prod")' onkeyup='document.getElementById("costoPArtError").innerHTML="";calcularCostoMod("prod");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Producción</label>
                            <p id="costoPArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
                <div class="row" id="row-pag-2-2-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="ocInput-mod" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("otros")' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularCostoMod("otros");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Otros Costos</label>
                            <p id="costoOArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="coaInput-mod" name="costoObtencionAlt" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("alt")' onkeyup='document.getElementById("costoOAArtError").innerHTML="";calcularCostoMod("alt");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Obtención Alternativa</label>
                            <p id="costoOAArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                <span class="bottom-modal-text costo-total-label" id="bottomMatText3"></span>
                </p>
            </div>
            </div>


            <!-- TAB 4 -->
            <div class="tab-pane" id="precio" role="tabpanel">
                <div class="row" id="row-pag-3-1-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input style="width:60%;" id="margenInput-mod" name="margen" required onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularValorMod()' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularValorMod();'>
                            <span class="highlight"></span>
                            <span class="bar" style="width:60%;"></span>
                            <label>Margen Ganancia</label>
                            <p id="margenArtError-mod" class="modalErrorMessage"></p>
                        </div>
                        <label style="margin-left: 65%;">%</label>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input class="data-show-input" readonly type="text" id="valorInput-mod" name="valor" >
                            <label>Precio</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText-mod">Una vez realizados los cambios, presionar el botón "Confirmar Cambios"</p>
            </div>
            
            </form>
        
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-mod">Cancelar</button>
          <button type="button" class="primary-btn btn" onclick="edit_articulo()" id="edit-btn" name ="add-btn" disabled>Confirmar Cambios</button>
        </div>
      </div>
    </div>
</div>





<!--Delete Modal -->

<div class="modal fade modal-lg" id="bajaArticulodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un Artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" >
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <p class="b-modal-text-baja" id="baja-custom-text">
            </p>
        </div>
        <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        <input type="text" name="" id="idArticulo" hidden>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn" onclick="baja_entidad();" id="primary-btn-alert">Eliminar</button>
        </div>
      </div>
    </div>
</div>

<script src="static/js/articulos.js"></script>
{% endblock %}