<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Artículos</h1>
    </div>
    



    <!-- Botones Opciones-->

    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option1" onclick="openAltaModal()" style="margin-bottom:0% !important">
                <i class="fa fa-plus fa-4x" style="float: left;" id="option-img-puntos"></i>
                <p class="option-title option-title-puntos">Alta artículo</p>
                <p class="option-description">Cargar un nuevo artículo en EcoAsistente.</p>
            </div>
        </div>
      </div>





    <!-- Tabla Articulos-->

    <div class="container" id="table-container">
        <div class="row">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Nombre</th>
                    <th scope="col" class="table-heading">Costo</th>
                    <th scope="col" class="table-heading">Margen</th>
                    <th scope="col" class="table-heading">Stock</th>
                    <th scope="col" class="table-heading">Unidad</th>
                    <th class="table-heading see-th"></th>
                </tr>
                </thead>
                <tbody>
                {%set nombres = []%}
                {%for art in articulos%}
                <!-- Jinja funciona en comentarios... sin esto imprime None en pantalla.-->
                <!--{{nombres.append(art.nombre)}} -->
                <tr>
                    <th scope="row">{{art.nombre}}</th>
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true">
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                    <td scope="row">{{art.costoTotal}}</td>
                    <td scope="row">{{art.margenGanancia * 100}}%</td>
                    <td scope="row">{{art.stock}}</td>
                    <td scope="row">{{art.unidadMedida}}</td>
                    <td class="row"><i class="far fa-eye" style="font-size: 23px;" id="modify-table-icon" onclick="fichero('{{art.id}}')"></i></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>





<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->

  <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <br><br><br><br><br><br><br><br>
        <div class="row" id="loadingRow">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </div>
        </div>
      </div>
  </div>
</div>


<!--Alta Modal -->

<div class="modal fade modal-lg" id="altaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un nuevo Artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_entidad_destino')}}" method="POST" class="modal-body" id="altaEntidadForm" autocomplete="off">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row subheader-row">
              <div class="col">
              <label class="subheader">Datos Básicos</label>
              </div>
            </div>
            <div class="row" id="row-to-hide-alta">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="nombreInput" onkeyup = "validaNuevoNombre({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre del Artículo</label>
                        <p id="nombreArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="unidadInput" name="unidad" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Unidad Medida</label>
                        <p id="unidadArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText">Una vez completados todos los datos, presione el botón "Siguiente".</p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn">Cancelar</button>
          <button type="button" class="btn" onclick="alta_entidad()" id="primary-btn" name = "add-btn" disabled>Siguiente</button>
        </div>
      </div>
    </div>
</div>


<script src="static/js/gestion-ed.js"></script>
{% endblock %}