<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href=""/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/choice.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de niveles</h1>
    </div>
    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" data-toggle="modal" data-target="#altaNivelModal" onclick="setModalValues('{{max_level}}', '{{maxEP}}', '{{maxDescuento}}')">
                <i class="fa fa-plus fa-3x" style="float: left;" id="option-img"></i>
                <p class="option-title">Añadir nivel</p>
            </div>
            <div class="container" id="option-middle" onclick="modifyLevel()">
                <i class="fa fa-edit fa-2x" style="float: left;" id="option-img"></i>
                <p class="option-title">Modificar nivel</p>
            </div>
            <div class="container" id="option-right" onclick="removeLevel()">
                <i class="fa fa-trash fa-2x" style="float: left;" id="option-img"></i>
                <p class="option-title">Eliminar nivel</p>
            </div>
        </div>
    </div>
    <div class="container" id="table-container">
        <div class="row">
            <table class="table" id="content-table">
                <thead style="border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Nivel</th>
                    <th scope="col" class="table-heading">EcoPuntos</th>
                    <th scope="col" class="table-heading">Descuento</th>
                    <th class="table-heading delete-th"></th>
                    <th class="table-heading modify-th"></th>
                </tr>
                </thead>
                <tbody>
                {%for nivel in niveles%}
                <tr>
                    <th scope="row">{{nivel.nombre}}</th>
                    {%if nivel.nombre|int != niveles|length%}
                        <td>Desde los {{nivel.minimoEcoPuntos}} hasta los {{nivel.maximoEcoPuntos}} EcoPuntos.</td>
                    {%else%}
                        <td>Desde los {{nivel.minimoEcoPuntos}} EcoPuntos en adelante.</td>
                    {%endif%}
                    <td>{{nivel.descuento}}%</td>
                    <td class="delete-row"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon" onclick="openBajaModal('{{nivel.nombre}}', '{{niveles|length}}', '{{nivel.minimoEcoPuntos}}', '{{nivel.maximoEcoPuntos}}', '{{nivel.id}}')"></i></td>
                    <td class="modify-row"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon" onclick="openModificarModal('{{nivel.nombre}}', '{{niveles|length}}', '{{nivel.minimoEcoPuntos}}', '{{nivel.maximoEcoPuntos}}', '{{nivel.id}}', '{{nivel.descuento}}')"></i></td>

                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>



<!--Alta Modal -->
<div class="modal fade modal-lg" id="altaNivelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un nuevo nivel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_nivel')}}" method="POST" class="modal-body" id="altaNivelForm">
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="row" id="fieldsRow1Alta1">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="numeroNivel" onkeyup="validaNumero('{{max_level}}', 'alta')" name="numeroNivel" autocomplete="off"> 
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Número de Nivel</label>
                        <p id="numeroNivelError" class="modalErrorMessage">* No se puede modificar el nivel.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="descuento" onkeypress="return isNumberKey(this, event);" onkeyup = "validaDescuento('{{maxDescuento}}', 'alta')" name="descuento" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Descuento (%)</label>
                        <p id="descuentoNivelError" class="modalErrorMessage">* El descuento debe estar entre 0 y 100.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="fieldsRow1Alta2">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="minEcoPuntos" onkeypress="return isNumberKey(this, event);" onkeyup="validaMinEP('{{maxEP}}', 'alta')" name="minEcoPuntos" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Mínimo EcoPuntos</label>
                        <p id="minEPNivelError" class="modalErrorMessage">* El mínimo de EcoPuntos debe ser {{maxEP + 1}}.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="maxEcoPuntos" onkeypress="return isNumberKey(this, event);" onkeyup="validaMaxEP('{{maxEP}}', 'alta')" name="maxEcoPuntos" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Máximo EcoPuntos</label>
                        <p id="maxEPNivelError" class="modalErrorMessage">* El máx. de EcoPuntos debe mayor {{maxEP + 1}}.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText">Una vez completados todos los datos, presione el botón "Crear nivel" para añadir el nuevo nivel.</p>
            </div>
            <div class="row" id="errorRow">
                <p id="warning-icon"><i class="fa fa-exclamation-triangle fa-6x"></i></p>
                <p class="bottom-modal-text" id="bottomAltaModalTextError"></p>
            </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn">Cancelar</button>
          <button type="button" class="btn" onclick="submitForm('altaNivelForm')" id="primary-btn">Crear nivel</button>
        </div>
      </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade modal-lg" id="bajaNivelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un nivel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" id="altaNivelForm">
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="row" id="fieldsRowBaja">
                <p class="top-modal-text-baja"></p>
                <p class="bottom-modal-text-baja-mods" id="modalBajaMod1"></p>
                <p class="bottom-modal-text-baja-mods" id="modalBajaMod2"></p>
                <p class="bottom-modal-text-baja-mods" id="modalBajaMod3"></p>
                <p class="bottom-modal-text-baja">¿Está seguro que desea eliminar el nivel? Una vez eliminado, el nivel no se podrá recuperar.</p>
            </div>
            <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        </div>
        <input type="text" name="" id="numNivel" hidden>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn" onclick="baja_nivel();" id="primary-btn-alert">Eliminar nivel</button>
        </div>
      </div>
    </div>
</div>

<!--Modify Modal -->
<div class="modal fade modal-lg" id="modificarNivelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModalMod"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_nivel')}}" method="POST" class="modal-body" id="altaNivelForm">
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="row" id="fieldsRow1">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="numeroNivelMod" onkeyup="validaNumero(false, 'mod')" name="numeroNivel" autocomplete="off"> 
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Número de Nivel</label>
                        <p id="numeroNivelErrorMod" class="modalErrorMessage">* No se puede modificar el nivel.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="descuentoMod" onkeypress="return isNumberKey(this, event);" onkeyup = "validaDescuento(false, 'mod')" name="descuento" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Descuento (%)</label>
                        <p id="descuentoNivelErrorMod" class="modalErrorMessage">* El descuento debe estar entre 0 y 100.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="fieldsRow2">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="minEcoPuntosMod" onkeypress="return isNumberKey(this, event);" onkeyup="validaMinEP('{{maxEP}}', 'mod')" name="minEcoPuntos" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Mínimo EcoPuntos</label>
                        <p id="minEPNivelErrorMod" class="modalErrorMessage">* El mínimo de EcoPuntos debe ser {{maxEP + 1}}.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" required id="maxEcoPuntosMod" onkeypress="return isNumberKey(this, event);" onkeyup="validaMaxEP(false, 'mod')" name="maxEcoPuntos" autocomplete="off">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Máximo EcoPuntos</label>
                        <p id="maxEPNivelErrorMod" class="modalErrorMessage">* El máx. de EcoPuntos debe mayor {{maxEP + 1}}.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomModModalText">Una vez completados todos los datos, presione el botón "Modificar nivel" para modificar el nivel.</p>
            </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-mod">Cancelar</button>
          <button type="button" class="btn" onclick="mod_nivel()" id="primary-btn-mod">Modificar nivel</button>
        </div>
      </div>
    </div>
</div>


<script src="static/js/gestion-niveles.js"></script>
{% endblock %}