<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <div class="container" id="heading-container">
        <h1 class="heading">Administrar Usuarios</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Visualice y modifique los datos de los usuarios registrados en EcoAsistente</span></h6>
    </div>
    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-middle"  onclick="modificarPunto()" style="width: 49%; margin-left: 0%;">
                <div class="option-text">
                    <p class="option-title">Modificar Usuario</p>
                    <p class="text-box">Modificar los datos de un usuario registrado en el sistema o su tipo de usuario</p>
                </div>
                <i class="fas fa-edit option-img" style="color: #95C22B !important;" id="option-img-1"></i>
            </div>
            <div class="container" id="option-right" onclick="removerPunto()" style="width: 49%;">
                <div class="option-text">
                    <p class="option-title">Eliminar Usuario</p>
                    <p class="text-box">Eliminar un usuario registrado en el sistema junto con sus datos y su tipo de usuario</p>
                </div>
                <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>
    <div class="container" id="table-container">
        <div class="row d-flex justify-content-center">
            <table class="table" id="content-table">
                <thead style="border-top:none">
                <tr>
                    <th scope="col" class="table-heading">ID</th>
                    <th scope="col" class="table-heading">Nombre Completo</th>
                    <th scope="col" class="table-heading">DNI</th>
                    <th scope="col" class="table-heading">Email</th>
                    <th scope="col" class="table-heading">Estado</th>
                    <th scope="col" class="table-heading">Información</th>
                    <th class="table-heading delete-th"></th>
                    <th class="table-heading modify-th"></th>
                </tr>
                </thead>
                <tbody>
                {%for usuario in usuarios%}
                <tr>
                    <th>{{usuario.id}}</th>
                    {%if usuario.estado == 'no-verificado'%}
                        <th scope="row">Usuario sin verificar</th>
                        <td>-</td>
                    {%elif usuario.estado == 'no-activo'%}
                        <th scope="row">Usuario sin activar</th>
                        <td>-</td>
                    {%else%}
                        <th scope="row">{{usuario.nombre}} {{usuario.apellido}}</th>
                        <td>{{usuario.nroDoc}}</td>
                    {%endif%}
                    <td>{{usuario.email}}</td>
                    {%if usuario.estado == 'habilitado'%}
                        <td>
                            <div>
                                <i class="fas fa-circle color-activo" id="estado-activo"></i>
                                Habilitado
                            </div>
                        </td>
                    {%elif usuario.estado == 'no-activo'%}
                        <td>
                            <div>
                                <i class="fas fa-circle color-alerta" id="estado-inactivo"></i>
                                No activo
                            </div>
                        </td>
                    {%else%}
                        <td>
                            <div>
                                <i class="fas fa-circle color-inactivo" id="estado-inactivo"></i>
                                Sin verificar
                            </div>
                        </td>
                    {%endif%}
                    <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales('{{usuario.id}}', '{{usuario.nombre}}');"><i class="fa fa-info-circle custom-link-fa"></i> Ver info</a></td>
                    <td class="delete-row" onclick="openBajaModal('{{usuario.nombre}}','{{usuario.id}}');"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon"></i></td>
                    {%if usuario.estado == 'habilitado'%}
                    <td class="modify-row" onclick="openModModal('{{usuario.nombre}}','{{usuario.estado}}', '{{usuario.direccion.calle}}', '{{usuario.direccion.altura}}', '{{usuario.direccion.ciudad}}', '{{usuario.direccion.provincia}}', '{{usuario.direccion.pais}}', '{{usuario.direccion}}' , '{{usuario.apellido}}','{{usuario.email}}','{{usuario.nroDoc}}','{{usuario.tipoDoc}}','{{usuario.idTipoUsuario}}','{{usuario.id}}');"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon"></i></td>
                    {%else%}
                    <td class="modify-row"></td>
                    {%endif%}
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true"></button>
                    <button id="open-modal-mat" href='#'data-toggle="modal" data-target="#materialesModal"hidden="true"></button>
                    <button id="close-loading-modal" href='#' onclick="cierraModal('loadingModal');" hidden="true"></button>
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->
<div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <br><br><br><br><br><br><br><br>
      <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<!-- Horarios Modal -->
<div class="modal fade modal-lg" id="tablaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalHorarios"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card">
                <div class="container modal-large-card">
                    <div class="row">
                        <div class="modal-card-col" id="modal-card-col-1">
                            <img src="/static/img/open-circle-icon.jpg" class="modal-large-card-img" id="open-img">
                            <img src="/static/img/closed-circle-icon.png" class="modal-large-card-img" id="close-img">
                            <img src="/static/img/inactive-circle-icon.png" class="modal-large-card-img" id="inactive-img">
                        </div>
                        <div class="modal-card-col" >
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="estado-apertura-pos">Abierto</p>
                                <p class="open-letter" id="estado-apertura-neg">Cerrado</p>
                                <p class="open-letter" id="estado-apertura-inac">Inactivo</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Estado Actual</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="cant-horas-cierre-pos">-</p>
                                <p class="open-letter" id="cant-horas-cierre-neg">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Tiempo para cierre</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="vl">
                                <div class= "info-container-modal">
                                    <span class="text-muted" id="toda-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-1-pos"></i>Abre de lunes a viernes<br></span>
                                    <span class="text-muted" id="toda-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-1-neg"></i>No abre de lunes a viernes<br></span>

                                    <span class="text-muted" id="fines-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-2-pos"></i>Abre fines de semana<br></span>
                                    <span class="text-muted" id="fines-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-2-neg"></i>No abre fines de semana<br></span>

                                    <i class="fa fa-clock modal-info-img" id="info-modal-3"></i><span class="text-muted" id="horarios-apertura">Hoy abre 08:00hs y cierra 20:00hs</span>                                                                        
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
                    <div class="container modal-large-card d-flex justify-content-center" id="modal-large-card-2">
                        <table class="table" id="content-table-modal">
                            <thead>
                            <tr id=headerRow>
                            </tr>
                            </thead>
                            <tbody id="modalTableBody">
                            </tbody>
                    
                        </table>
                    </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>

<!-- Materiales Modal -->
<div class="modal fade modal-lg" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalMat"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card" id="materiales-modal-body">
                <div class="row margin-bottom-row" id="no-mats">
                    <p id="" class="advert-icon-no-mats"><i class="fa fa-exclamation-triangle advert-icon-no-mats"></i></p>
                    <p class="bottom-modal-text-baja">Este Punto de Depósito aún no acepta ningún material</p>
                    <p class="bottom-modal-text less-margin-top">Para añadir materiales aceptados, ingrese a la opción "Modificar Punto".</p>
                </div>
                <div class="container modal-large-card-sm" id="material-card">
                    <div class="row">
                        <div class="modal-card-col-sm">
                            <div class="circle materiales-large-card-img" id="material-img">M</div>
                        </div>
                        <div class="modal-card-col-sm" >
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="nombre-material">Nombre</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Nombre material</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="unidad-medida">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Unidad de medida</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="id-material">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">ID material</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>


<!--Modify Modal -->
<div class="modal fade modal-lg" id="modPDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" id="modPDModalDialog">
      <div class="modal-content">
        <div id="edit-modal-header" class="modal-header" style="border-bottom:none;"> 

          <!-- Nav tabs -->
          <ul class="nav nav-tabs pd-tabs" id="myTab" role="tablist">
            <li class="nav-item pd-tabs-item">
              <a class="nav-link pd-link active" id="db-tab" onClick="configureModalTab(1);" data-toggle="tab" role="tab" aria-selected="true">Datos Personales<span class="error-tab" id="db-error-tab"> *</span></span></a>
            </li>
            <li class="nav-item pd-tabs-item">
                <a class="nav-link pd-link " onClick="configureModalTab(3);" data-toggle="tab" role="tab" aria-selected="false">Documento<span class="error-tab" id="doc-error-tab"> *</span></span></a>
              </li>
            <li class="nav-item pd-tabs-item">
              <a class="nav-link pd-link " onClick="configureModalTab(2);" data-toggle="tab" role="tab" aria-selected="false">Dirección<span class="error-tab" id="dir-error-tab"> *</span></span></a>
            </li>
            <li class="nav-item pd-tabs-item">
                <a class="nav-link pd-link " onClick="configureModalTab(4);" data-toggle="tab" role="tab" aria-selected="false">Tipo de Usuario<span class="error-tab" id="mat-error-tab"> *</span></span></a>
              </li>
          </ul>
        </div>

        
        <!-- Tab panes -->
        <!-- Contenido de las pestanas -->
        <div class="modal-body modal-body-card" style="height: fit-content;" id="modalModPDBody">
            <!--Loading Ring -->
            <div class="row " id="loadingRowMod">
                <div class="lds-ring loadingRingAlta"><div></div><div></div><div></div><div></div></div>
            </div>  
            <form action="{{url_for('mod_user')}}" method="POST" id="modPdForm">
                <div class="row subheader-row" id="subheader-alta-pd">
                    <div class="col">
                        <label class="subheader" id="subheader-mod">Datos Personales</label>
                    </div>
                </div>
                <!--Pestaña 1 - Datos Básicos-->
                <div id="modal-mod-p1">
                    <div>
                        <div class="row" id="fieldsRowAlta1">
                            <div class="col" style="margin-left: 8%;">
                                <div class="group" id="password-input-group">  
                                    <input required autocomplete="off" id="name-input" type="text" style="width: 85% !important;"  class="password-input" name="nombre" oninput="validaNombre(value)">
                                    <input type="text" id="idEntidadInput" name="id" hidden>
                                    <span class="highlight password-input" style="width: 85% !important;" ></span>
                                    <span class="bar password-input" style="width: 85% !important;" ></span>
                                    <label class="password-input">Nombre</label>
                                    <p id="name-error" class="modalErrorMessage" style="margin-bottom: 25px !important; width: 85% !important;" >* El nombre no puede quedar vacío.</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="group" id="password-input-group">  
                                    <input required autocomplete="off" id="apellido-input" style="width: 85% !important; margin-left: -9%;"  type="text" class="password-input" name="apellido" oninput="validaApellido(value)">
                                    <input type="text" id="idEntidadInput" name="id" hidden>
                                    <span class="highlight password-input"  style="width: 85% !important; margin-left: -9%;"></span>
                                    <span class="bar password-input" style="width: 85% !important; margin-left: -9%;"></span>
                                    <label class="password-input"  style="width: 85% !important; margin-left: -9%;">Apellido</label>
                                    <p id="apellido-error" class="modalErrorMessage" style="margin-bottom: 25px !important; width: 85% !important;margin-left: -9%;" >* El apellido no puede quedar vacío.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="fieldsRow1Alta1" style="margin-top: 2%;">
                            <div class="group" style="margin-left: 10%; width: 87%; margin-top: 2%;">
                                <input type="text" oninput="validateEmail(value)" required autocomplete="off" id="emailInput" class="email-input" name="email" style="width: 90%;">
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 90%;"></span>
                                <span class="bar" style="width: 90%;"></span>
                                <label style="margin-top: -5px;">Dirección de correo electrónico</label>
                                <p id="email-error" class="modalErrorMessage" style="display: none;">* Email inválido.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" id="nombrePDModAnt" name = "nombrePDModAnt" hidden>
                <input type="text" id="idPDMod" name="idPDMod" hidden>
                <!--Pestaña 2 - Dirección-->
                <div id="modal-mod-p2" style="display: none;">
                    <div class="row" id="fieldsRow1Alta1" style="margin-left: 6.5%; margin-right: 8%; margin-top: 0px;">
                        <div class="col">
                            <div class="group" style="margin-top: 2%;">
                                <input type="text" required id="callePDMod" onkeyup="updateMap('mod'); validaDireccion('mod','calle');" name="callePDMod" autocomplete="off" style="width: 215%;"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 215%;"></span>
                                <span class="bar" style="width: 215%;"></span>
                                <label>Calle</label>
                                <p id="error-calle-mod" class="modalErrorMessage" style="display: none; width: 215%;">* La calle no puede quedar vacía.</p>

                            </div>
                        </div>
                        <div class="col" style="margin-left: 33.3%;">
                            <div class="group" style=" margin-top: 2%;">
                                <input type="text" required id="alturaPDMod" onkeypress="return isNumberKey(this, event);" onkeyup="updateMap('mod'); validaDireccion('mod','altura');" name="alturaPDMod" autocomplete="off" style="width: 100%;" autocomplete="off"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 100%;"></span>
                                <span class="bar" style="width: 100%;"></span>
                                <label>Altura</label>
                                <p id="error-altura-mod" class="modalErrorMessage" style="display: none;">* Complete la altura.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="fieldsRow1AltaPD2" style="margin-left: 6.5%; margin-right: 8%;">
                        <div class="col">
                            <div class="group" style="margin-top: 2%;">
                                <input type="text" required id="ciudadPDMod" onkeyup="updateMap('mod'); validaDireccion('mod','ciudad');" name="ciudadPDMod" autocomplete="off" style="width: 100%;"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 100%;"></span>
                                <span class="bar" style="width: 100%;"></span>
                                <label>Ciudad</label>
                                <p id="error-ciudad-mod" class="modalErrorMessage" style="display: none;">* Complete la ciudad.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-top: 2%;">
                                <input type="text" required id="provinciaPDMod" onkeyup="updateMap('mod'); validaDireccion('mod','provincia');" name="provinciaPDMod" autocomplete="off" style="width: 100%;" autocomplete="off"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 100%;"></span>
                                <span class="bar" style="width: 100%;"></span>
                                <label>Provincia</label>
                                <p id="error-provincia-mod" class="modalErrorMessage" style="display: none;">* Complete la provincia.</p>

                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-top: 2%;">
                                <input type="text" required id="paisPDMod" onkeyup="updateMap('mod'); validaDireccion('mod','pais');" name="paisPDMod" autocomplete="off" style="width: 100%;" autocomplete="off"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 100%;"></span>
                                <span class="bar" style="width: 100%;"></span>
                                <label>País</label>
                                <p id="error-pais-mod" class="modalErrorMessage" style="display: none;">* Complete el país.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="fieldsRow1AltaPD2" style="margin-bottom: -10px;">
                        <div class="mapouter" style="margin-left: 10%;">
                            <div class="gmap_canvas">
                                <iframe width="603" height="280" id="gmap_canvas_mod" src="https://maps.google.com/maps?q=Rosario&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" id="idDireccionUser" name="idDireccionUser" hidden>
                <input type="text" id="idUsuario" name="idUsuario" hidden>
                <!--Pestaña 3 - Horarios-->
                <div id="modal-mod-p3" style="display: none;">
                    <div class="row mb-4" id="fieldsRow1Alta1" style="margin-left: 6.5%; margin-right: 8%; margin-top: 0px;">
                        <div class="col">
                            <div class="group" style="margin-top: 5%;">
                                <input type="text" style="width: 200%;" required id="documentoInput" onkeyup="validaDoc(value);" name="documentoInput" autocomplete="off" style="width: 100%;" autocomplete="off"> 
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <span class="highlight" style="width: 200%;"></span>
                                <span class="bar" style="width: 200%;"></span>
                                <label style="margin-top: -3%;">Número de Documento</label>
                                <p id="error-doc" class="modalErrorMessage" style="display: none; width: 200%;">* El documento no puede quedar vacío.</p>
                            </div>
                        </div>
                        <div class="col" style="margin-left: 33.3%; height: auto;">
                            <div class="group" style="margin-top: 2%;">
                                <input type="text" id="idEntidadInput" name="id" hidden>
                                <label>Tipo de Documento</label>             
                            </div>
                            <div class="form-group" style="margin-top: -15%;">
                                <select class="form-control" id="tipoDocSelect" name="tipoDocSelect" oninput="validaTipoDoc(value);" style="text-align-last:left !important;padding-top: 6px !important;">
                                    {%for td in tiposDoc%}
                                        <option value="{{td.id}}">&nbsp {{td.nombre}}</option>
                                    {%endfor%}                        
                                </select>
                            </div>           
                            
                        </div>
                    </div>
                </div>
                <!--Pestaña 4 - Materiales-->
                <div id="modal-mod-p4" style="display: none;">
                    <div class="row" id="fieldsRow1Alta1" style="margin-left: 10%; margin-right: 10%; margin-bottom: 10%; margin-top: -2%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 15px; border-bottom: 2px solid #cfec8c;" id="tipo-usuario" name = "id_tipo_usuario" class="selectpicker selectpicker-nooutline" oninput="validaTU(value);" data-live-search="true">
                            {%for tu in tipos_usuario%}
                                <option value='{{tu.id}}'>{{tu.nombre}}</option>
                            {%endfor%}    
                        </select>               
                    </div>
                </div>
            </form>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalTextModPD">Una vez finalizadas las modificaciones, presione "Confirmar Cambios".</p>
                <p class="bottom-modal-text" id="bottomModModalText"></p>
            </div>
            <div class="row margin-row-mod" style="display: none;"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn secondary-btn" id="secondary-btn-mod" data-mdb-ripple-color="dark" onclick="closeModModal();">Cancelar</button>
          <button type="button" class="btn primary-btn" onclick="submitFormMod();" id="primary-btn-mod"></button>
        </div>
      </div>
    </div>
</div>


<!--Baja Modal -->
<div class="modal fade modal-lg" id="bajaPDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un Punto de Depósito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" id="altaNivelForm">
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <form action="{{url_for('baja_pd')}}" method="POST" id="bajaPDform">
                <div class="row margin-bottom-row" id="fieldsRowBaja">
                    <img src="/static/img/exclamation-mark.png" class="delete-exlamation-mark">
                    <p class="bottom-modal-text-baja" id="baja-question">¿Está seguro que desea eliminar el Punto? </p>
                    <p class="bottom-modal-text less-margin-top"> Una vez eliminado, el Usuario no se podrá recuperar.</p>
                    <input type="text" id="idPuntoBaja" name="idPuntoBaja" hidden>
                </div>
            </form>
            <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        </div>
        <input type="text" name="" id="numNivel" hidden>
        <div class="modal-footer">
          <button type="button" class="btn secondary-btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn primary-btn-alert" onclick="baja_PD();" id="primary-btn-alert">Eliminar Usuario</button>
        </div>
      </div>
    </div>
</div>

<script src="static/js/gestion-usuarios.js"></script>

{% endblock %}