<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Artículos</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Cree, elimine, modifique y configure los Artículos de EcoAsistente.</span></h6>
    </div>
    



    <!-- Botones Opciones-->

    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" onclick="openAltaModal();">
                    <div class="option-text">
                        <p class="option-title">Añadir Artíclo</p>
                        <p class="text-box">Añadir un nuevo Artículo al sistema</p>
                    </div>
                    <i class="fa fa-plus option-img" id="option-img-1"></i>
            </div>
            <div class="container" id="option-middle" onclick="modifyEntidad()">
                <div class="option-text">
                    <p class="option-title">Modificar Artíclo</p>
                    <p class="text-box">Modificar los datos de un Artículo</p>
                </div>
                <i class="fa fa-edit option-img" id="option-img-2"></i>
            </div>
            <div class="container" id="option-right" onclick="removeEntidad()">
                <div class="option-text">
                    <p class="option-title">Eliminar Artíclo</p>
                    <p class="text-box">Eliminar un Artículo ya registrado en el sistema</p>
                </div>
                <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>





    <!-- Tabla Articulos-->

    <div class="container" id="table-container">
        <div class="row d-flex justify-content-center">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Nombre</th>
                    <th scope="col" class="table-heading">Costo</th>
                    <th scope="col" class="table-heading">Margen</th>
                    <th scope="col" class="table-heading">Precio</th>
                    <th scope="col" class="table-heading">Stock</th>
                    <th scope="col" class="table-heading">Unidad</th>
                    <th scope="col" class="table-heading">Publico</th>
                </tr>
                </thead>
                <tbody>
                {%set nombres = []%}
                {%for art in articulos%}
                <!-- Jinja funciona en comentarios... sin esto imprime None en pantalla.-->
                <!--{{nombres.append(art.nombre)}} -->
                <tr>
                    <th scope="row">{{art.nombre}}</th>
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true">
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                    <td scope="row">{{art.costoTotal}}</td>
                    <td scope="row">{{art.margenGanancia * 100}}%</td>
                    <td scope="row">{{art.valor}}</td>
                    <td scope="row">{{art.stock}}</td>
                    <td scope="row">{{art.unidadMedida}}</td>
                    {% if art.ventaUsuario %}
                        <td scope="row">Si</td>
                    {% else %}
                        <td scope="row">No</td>
                    {% endif %}
                    <td class="modify-row"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon" onclick="openEditModal('{{art.id}}','{{art.nombre}}','{{art.costoProduccion}}','{{art.costoInsumos}}','{{art.costoTotal}}','{{art.valor}}','{{art.margenGanancia}}','{{art.unidadMedida}}','{{art.costoObtencionAlternativa}}','{{art.otrosCostos}}','{{art.imagen}}','{{art.ventaUsuario}}')"></i></td>
                    <td class="delete-row"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon" onclick="openBajaModal('{{art.id}}','{{art.nombre}}')"></i></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>





<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->

  <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <br><br><br><br><br><br><br><br>
        <div class="row" id="loadingRow">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              </div>
        </div>
      </div>
  </div>
</div>


<!--Alta Modal -->

<div class="modal fade modal-lg" id="altaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un nuevo Insumo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_articulo')}}" method="POST" class="modal-body" id="altaArticuloForm" autocomplete="off">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row subheader-row" id="subheader-pag-1" style="display:none;">
              <div class="col">
              <label class="subheader">Datos Básicos</label>
              </div>
            </div>
            <div class="row subheader-row" id="subheader-pag-2" style="display:none;">
              <div class="col">
              <label class="subheader">Costos</label>
              </div>
            </div>
            <div class="row subheader-row" id="subheader-pag-3" style="display:none;">
              <div class="col">
              <label class="subheader">Precio</label>
              </div>
            </div>
            <div class="row" id="row-pag-1-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="nombreInput" onkeyup = "validaNuevoNombre({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre del Artículo</label>
                        <p id="nombreArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="unidadInput" name="unidad" onkeyup = "validaUnidad();">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Unidad Medida</label>
                        <p id="unidadArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-1-2" style="display:none;">
                  <div class="col">
                    <div class="group" style="margin-left: 10%;">      
                        <input type="text" id="imagenInput" name="imagen" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Imagen</label>
                        <p id="imgArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%">
                        <div class="form-check">
                          <label style="margin-top: 1%;">Venta a usuarios</label>
                          <input style="margin-left: -3%;margin-top: 6%;" class="form-check-input" type="checkbox" id="usuariosCheck" name="ventaUsuario"></input>
                        </div>
                      </div>
                  </div>
              </div>
            <div class="row" id="row-pag-2-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ciInput" name="costoInsumos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("ins")' onkeyup='document.getElementById("costoIArtError").innerHTML="";calcularCosto("ins");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Insumos</label>
                        <p id="costoIArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="cpInput" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("prod")' onkeyup='document.getElementById("costoPArtError").innerHTML="";calcularCosto("prod");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Producción</label>
                        <p id="costoPArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-2-2" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="ocInput" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("otros")' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularCosto("otros");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Otros Costos</label>
                        <p id="costoOArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input type="text" id="coaInput" name="costoObtencionAlt" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCosto("alt")' onkeyup='document.getElementById("costoOAArtError").innerHTML="";calcularCosto("alt");'>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Costo de Obtención Alternativa</label>
                        <p id="costoOAArtError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row" id="row-pag-3-1" style="display:none;">
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input style="width:60%;" id="margenInput" name="margen" required onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularValor()' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularValor();'>
                        <span class="highlight"></span>
                        <span class="bar" style="width:60%;"></span>
                        <label>Margen Ganancia</label>
                        <p id="margenArtError" class="modalErrorMessage"></p>
                    </div>
                    <label style="margin-left: 65%;">%</label>
                </div>
                <div class="col">
                    <div class="group" style="margin-left: 10%;">
                        <input hidden>
                        <input readonly type="text" id="valorInput" name="valor" >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Precio</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText"></p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn" style="display:none;">Cancelar</button>
          <button type="button" class="btn" onclick="pasar_pagina(-1)" id="atras-btn" style="display:none;">Atrás</button>
          <button type="button" class="primary-btn btn" onclick="pasar_pagina(1)" id="siguiente-btn" name ="add-btn" disabled>Siguiente</button>
          <button type="button" class="primary-btn btn" onclick="alta_articulo()" id="alta-btn" name ="add-btn" disabled>Crear Artículo</button>
        </div>
      </div>
    </div>
</div>






<!--Edit Modal -->

<div class="modal fade modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      <div class="modal-header" style="border-bottom:none">
          <ul class="nav nav-tabs ed-tabs" id="myTab" role="tablist">
            <li class="nav-item ed-tabs-item">
              <a class="nav-link ed-link active" id="entidad-tab" onClick="configureModalTab(1);" data-toggle="tab" href="#datos-basicos" role="tab" aria-controls="datos-basicos" aria-selected="true">Datos Basicos <p hidden id="error-mark-db" style="display:inline" class="error">*</p></a>
            </li>
            <li class="nav-item ed-tabs-item">
              <a class="nav-link ed-link " id="demandas-tab" onClick="configureModalTab(2);" data-toggle="tab" href="#costos" role="tab" aria-controls="costos" aria-selected="false">Costos <p hidden id="error-mark-c" style="display:inline" class="error">*</p></a>
            </li>
            <li class="nav-item ed-tabs-item">
              <a class="nav-link ed-link " id="nuevademanda-tab" onClick="configureModalTab(3);" data-toggle="tab" href="#precio" role="tab" aria-controls="precio" aria-selected="false">Precio <p hidden id="error-mark-p" style="display:inline" class="error">*</p></a>
            </li>
          </ul>
        </div>
            <form action="{{url_for('edit_articulo')}}" method="POST" id="editArticuloForm" autocomplete="off" class="tab-content">
                
                <!-- TAB 1 -->
                <div class="tab-pane active modal-body" role="tabpanel" id="datos-basicos">
                    <div class="row" id="loadingRow">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div class="row" id="row-pag-1-1-mod">
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">
                                <input type="text" name="idArticulo" id="idArticuloMod" hidden>
                                <input type="text" id="nombreInput-mod" onkeyup = "validaNuevoNombreMod({{nombres|safe}})" name="nombre" >
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre del Artículo</label>
                                <p id="nombreArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">      
                                <input type="text" id="unidadInput-mod" name="unidad" onkeyup = "validaUnidadMod();">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Unidad Medida</label>
                                <p id="unidadArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="row-pag-1-2-mod">
                        <div class="col">
                            <div class="group" style="margin-left: 10%;">      
                                <input type="text" id="imagenInput-mod" name="imagen" onkeyup='check_imagen();'>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Imagen</label>
                                <p id="imgArtError-mod" class="modalErrorMessage"></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group" style="margin-left: 10%">
                                <div class="form-check">
                                    <label style="margin-top: 1%;">Venta a usuarios</label>
                                    <input style="margin-left: -3%;margin-top: 6%;" class="form-check-input" type="checkbox" id="usuariosCheck-mod" name="ventaUsuario" onClick='check_venta_u();'></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- TAB 2 -->
            <div class="tab-pane modal-body" id="costos" role="tabpanel">
                <div class="row" id="row-pag-2-1-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden> 
                            <input type="text" id="ciInput-mod" name="costoInsumos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("ins")' onkeyup='document.getElementById("costoIArtError").innerHTML="";calcularCostoMod("ins");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Insumos</label>
                            <p id="costoIArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="cpInput-mod" name="costoProduccion" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("prod")' onkeyup='document.getElementById("costoPArtError").innerHTML="";calcularCostoMod("prod");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Producción</label>
                            <p id="costoPArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
                <div class="row" id="row-pag-2-2-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="ocInput-mod" name="otrosCostos" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("otros")' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularCostoMod("otros");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Otros Costos</label>
                            <p id="costoOArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input type="text" id="coaInput-mod" name="costoObtencionAlt" required min=0 max=999999999 onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularCostoMod("alt")' onkeyup='document.getElementById("costoOAArtError").innerHTML="";calcularCostoMod("alt");'>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Costo de Obtención Alternativa</label>
                            <p id="costoOAArtError-mod" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- TAB 3 -->
            <div class="tab-pane modal-body" id="precio" role="tabpanel">
                <div class="row" id="row-pag-3-1-mod">
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input style="width:60%;" id="margenInput-mod" name="margen" required onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46' onclick='calcularValorMod()' onkeyup='document.getElementById("costoOArtError").innerHTML="";calcularValorMod();'>
                            <span class="highlight"></span>
                            <span class="bar" style="width:60%;"></span>
                            <label>Margen Ganancia</label>
                            <p id="margenArtError-mod" class="modalErrorMessage"></p>
                        </div>
                        <label style="margin-left: 65%;">%</label>
                    </div>
                    <div class="col">
                        <div class="group" style="margin-left: 10%;">
                            <input hidden>
                            <input class="data-show-input" readonly type="text" id="valorInput-mod" name="valor" >
                            <label>Precio</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText-mod">Una vez realizados los cambios, presionar el botón "Confirmar Cambios"</p>
            </div>
            
            </form>
        
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-mod">Cancelar</button>
          <button type="button" class="primary-btn btn" onclick="edit_articulo()" id="edit-btn" name ="add-btn" disabled>Confirmar Cambios</button>
        </div>
      </div>
    </div>
</div>





<!--Delete Modal -->

<div class="modal fade modal-lg" id="bajaArticulodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un Artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" >
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <p class="b-modal-text-baja" id="baja-custom-text">
            </p>
        </div>
        <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        <input type="text" name="" id="idArticulo" hidden>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn" onclick="baja_entidad();" id="primary-btn-alert">Eliminar</button>
        </div>
      </div>
    </div>
</div>

<script src="static/js/articulos.js"></script>
{% endblock %}