<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Entidades de Destino</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Cree, elimine, modifique y visualice salidas de las Entidades de Destino.</span></h6>
    </div>
    



    <!-- Botones Opciones-->

    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" onclick="openAltaModal();">
              <div class="option-text">
                <p class="option-title">Añadir Entidad</p>
                <p class="text-box">Añadir una nueva Entidad de Destino al sistema</p>
            </div>
            <i class="fa fa-plus option-img" id="option-img-1"></i>
            </div>
            <div class="container" id="option-middle" onclick="modifyEntidad()">
              <div class="option-text">
                <p class="option-title">Modificar Entidad</p>
                <p class="text-box">Modificar la configuración de una Entidad de Destino</p>
              </div>
              <i class="fa fa-edit option-img" id="option-img-2"></i>
            </div>
            <div class="container" id="option-right" onclick="removeEntidad()">
              <div class="option-text">
                <p class="option-title">Eliminar Entidad</p>
                <p class="text-box">Eliminar una Entidad de Destino ya registrada en el sistema</p>
              </div>
              <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>





    <!-- Tabla Entidades-->
    <button id="open-modal-desc" href='#'data-toggle="modal" data-target="#descModal"hidden="true"></button>

    <div class="container" id="table-container">
        <div class="row d-flex justify-content-center">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Nombre de la Entidad</th>
                    <th scope="col" class="table-heading">Descripción</th>
                    <th scope="col" class="table-heading">Salidas de Stock</th>
                    <th class="table-heading delete-th"></th>
                    <th class="table-heading modify-th"></th>
                </tr>
                </thead>
                <tbody>
                {%set nombres = []%}
                {%for ent in entidades%}
                <!-- Jinja funciona en comentarios... sin esto imprime None en pantalla.-->
                <!--{{nombres.append(ent.nombre)}} -->
                <tr>
                    <th scope="row">{{ent.nombre}}</th>
                    <button id="open-modal" href='#'data-toggle="modal" data-target="#tablaModal"hidden="true">
                    <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                    <td><a class="custom-link" href='#' onclick="openModalDesc('{{ent.id}}','{{ent.nombre}}','{{ent.desc}}');">Ver Descripción</a></td>
                    <td><a class="custom-link" href='#' onclick="openLoadingRing();getTablaSalidas('{{ent.id}}','{{ent.nombre}}')">Ver Salidas</a></td>
                    <td class="delete-row"><i class="fa fa-trash" style="font-size: 23px;" id="delete-table-icon" onclick="openBajaModal('{{ent.id}}','{{ent.nombre}}')"></i></td>
                    <td class="modify-row"><i class="fa fa-edit" style="font-size: 23px;" id="modify-table-icon" onclick="openEditModal('{{ent.id}}','{{ent.nombre}}')"></i></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>





<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->

<div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <br><br><br><br><br><br><br><br>
      <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
    </div>
</div>





<!-- Tabla Modal -->

<div class="modal fade modal-lg" id="tablaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="headingModal"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row d-flex justify-content-center">
          <div id="msj-empty" hidden=true>
            <br><br>
                <center><p id="empty-content" style="font-size:20px; color:#888888"></p></center>
            </div>
          <table class="table" id="content-table-modal">
              <thead style=" border-top:none">
              <tr id=headerRow>
  
              </tr>
              </thead>
              <tbody id="modalTableBody">
              </tbody>
  
          </table>
        </div>
        <div class="modal-footer">
          <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
      </div>
    </div>
</div>





<!--Alta Modal -->

<div class="modal fade modal-lg" id="altaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir una nueva Entidad de Destino</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{url_for('alta_entidad_destino')}}" method="POST" class="modal-body" id="altaEntidadForm" autocomplete="off">
          <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </div>
            <div class="row" id="row-to-hide-alta">
                <div class="col custom-center-col">
                    <div class="group">      
                        <input class="wide-input" type="text" id="nombreInput" onkeyup = "validaNuevoNombre({{nombres|safe}})" name="nombre" >
                        <span class="highlight"></span>
                        <span class="bar wide-bar"></span>
                        <label class="center-label">Nombre de la Entidad</label>
                        <p id="nombreEntidadError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="bottom-modal-text" id="bottomAltaModalText">Una vez completados todos los datos, presione el botón "Crear Entidad".</p>
            </div>
            
        </form>
        <div class="modal-footer">
          <button type="button" class="btn secondary-btn" data-dismiss="modal" id="secondary-btn">Cancelar</button>
          <button type="button" class="btn primary-btn" onclick="alta_entidad()" id="primary-btn" name = "add-btn" disabled>Crear Entidad</button>
        </div>
      </div>
    </div>
</div>






<!--Delete Modal -->

<div class="modal fade modal-lg" id="bajaEntidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar una Entidad de Destino</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-baja" >
            <div class="row" id="loadingRow">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <p class="b-modal-text-baja" id="baja-custom-text">
            </p>
        </div>
        <p class="bottom-modal-text" id="bottomBajaModalText"></p>
        <input type="text" name="" id="idEntidad" hidden>
        <div class="modal-footer">
          <button type="button" class="btn secondary-btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn primary-btn-alert" onclick="baja_entidad();" id="primary-btn-alert">Eliminar</button>
        </div>
      </div>
    </div>
</div>





<!--Edit Modal -->

<div class="modal fade modal-lg" id="editEntidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="edit-modal-header" class="modal-header"> 
          <h5 class="modal-title" id="headingModal">Modificar una Entidad de Destino</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="{{url_for('edit_entidad_destino')}}" method="POST" class="modal-body" id="modEntidadForm" autocomplete="off">
            <div class="row" id="loadingRow">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="row" id="row-to-hide-mod">
                <div class="col custom-center-col">
                    <div class="group">
                        <input class="wide-input" type="text" id="EntNombreInput" onkeyup = "validaModNombre({{nombres|safe}})" name="nombre">
                        <input type="text" id="idEntidadInput" name="id" hidden>
                        <span class="highlight"></span>
                        <span class="bar wide-bar"></span>
                        <label class="center-label">Nombre de la Entidad</label>
                        <p id="modNombreEntidadError" class="modalErrorMessage"></p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <p class="bottom-modal-text" id="bottomModModalText">Una vez completados todos los datos, presione el botón "Aceptar".</p>
            </div>
        </form>



        <input type="text" name="" id="idEntidad" hidden>
        <input type="text" name="" id="nombreEntidad" hidden>
        <div class="modal-footer">
          <button type="button" class="btn secondary-btn" data-dismiss="modal" id="secondary-btn-baja">Cancelar</button>
          <button type="button" class="btn primary-btn" onclick="mod_entidad();" id="mod-name-btn" name = "acc-btn" disabled>Aceptar</button>        </div>
      </div>
    </div>
</div>





<!-- Descripcion Modal -->
<div class="modal fade modal-lg" id="descModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="headingModalDesc"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form class="modal-body" id="desc-modal-body" action="{{url_for('edit_desc_ed')}}" method="POST" autocomplete="off">
              <div class="container" id="">
                  <div class="row" id="desc-row" style="display:none;justify-content: center;">
                      <p id="desc-label"></p>
                  </div>
                  <div class="row" id="loadingRow">
                      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                  </div>
                  <div class="row" id="edit-row" style="display:none;display:grid;margin-top:-2%;">
                      <div class="col">
                        <div class="group">
                          <p>Editar Descripción:</p>
                          <input hidden id="idDescInput" name="idED">
                          <textarea type="text" class="form-control green-text-area" id="descEditInput" name="desc" style="width:100%"></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <p id="descArtError" class="modalErrorMessage"></p>
                        </div>
                    </div>
                </div>
              </div>
          </form>        
      <div class="modal-footer">
          <div type="button" class="btn secondary-btn" id="edit-btn-desc" style="display:none;" onclick="edit_desc();"><i class="fas fa-pen"></i> Editar</div>
          <div type="button" class="btn primary-btn" id="listo-desc-btn" style="display:none;" data-dismiss="modal">Listo</div>
          <div type="button" class="btn secondary-btn" id="cancel-btn" style="display:none;" onclick="cancel_edit_desc();">Cancelar</div>
          <div type="button" class="btn primary-btn" id="confirm-btn" style="display:none;" onclick="confirmar_desc_load();confirmar_desc();">Confirmar</div>
      </div>
  </div>

  </div>
</div>




<script src="static/js/gestion-ed.js"></script>
{% endblock %}