<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EcoAsitente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">   
</head>


<body style="background-color: #f8f9fa;">
 <!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4">
      <div class="media d-flex align-items-center">
        <div class="media-body">
          <h4 class="m-0" onclick="window.location.href='/main'" id="navbar-title"><img src="/static/img/logo-gris.png" width="85%" alt=""></h4>
          <p class="font-weight-light text-muted mb-0 ml-3">Proyecto Final</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Menú</p>
  
    <ul class="nav flex-column mb-0">
      <li class="nav-item">
        <a href="/main" class="nav-link text-dark font-italic">
                  <i class="fa fa-home mr-3 fa-fw"></i>
                  Home
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card mr-3 fa-fw"></i>
                  Perfil
              </a>
      </li>
      <li class="nav-item">
        <a href="/eco-tienda" class="nav-link text-dark font-italic">
                  <i class="fa fa-shopping-bag mr-3 fa-fw"></i>
                  EcoTienda
              </a>
      </li>
      <li class="nav-item">
        <a href='/gestion-pedidos/usuario' class="nav-link text-dark font-italic">
                  <i class="fa fa-paper-plane mr-3 fa-fw"></i>
                  Mis Pedidos
              </a>
      </li>
      </li>
      <li class="nav-item">
        <a href="/logout/true" class="nav-link text-dark font-italic">
                  <i class="fas fa-sign-out-alt mr-3 fa-fw"></i>
                  Logout
              </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Administrador</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/elegir-PR" class="nav-link text-dark font-italic">
                  <i class="fa fa-paper-plane mr-3 fa-fw"></i>
                  Gestión de Pedidos
              </a>
      </li>
      <li class="nav-item">
        <a href="/insumos" class="nav-link text-dark font-italic">
                  <i class="fa fa-pallet mr-3 fa-fw"></i>
                  Gestión de Insumos
              </a>
      </li>
      <li class="nav-item">
        <a href="/materiales" class="nav-link text-dark font-italic">
                  <i class="fa fa-truck-loading mr-3 fa-fw"></i>
                  Gestión de Materiales
              </a>
      </li>
      <li class="nav-item">
        <a href="/articulos" class="nav-link text-dark font-italic">
                  <i class="fa fa-box mr-3 fa-fw"></i>
                  Gestión de Artículos
              </a>
      </li>
      <li class="nav-item">
        <a href="/gestion-ed" class="nav-link text-dark font-italic">
                  <i class="fa fa-building mr-3 fa-fw"></i>
                  Entidades Destino
              </a>
      </li>
      <li class="nav-item">
        <a href="/gestion-niveles" class="nav-link text-dark font-italic">
                  <i class="fa fa-trophy mr-3 fa-fw"></i>
                  Gestión de niveles
              </a>
      </li>
      <li class="nav-item">
        <a href="/elegir-tipo-punto" class="nav-link text-dark font-italic">
              <i class="fa fa-map-marker-alt mr-3 fa-fw"></i>
                  Gestión de Puntos
              </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar --> 
  
  <!-- Start upper navbar --> 
  <div class="page-content" style="text-align: right;" id="content">
    <p id="upper-navbar"><i class="fas fa-question-circle fa-2x" id="navbar-questions"></i><i class="fas fa-user-circle fa-2x" id="navbar-user"></i></p>
  </div>
  <!-- End upper navbar --> 


</body>

{%block body%}
{%endblock%}

<script src="static/js/layout.js"></script>
