<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap" rel="stylesheet">
</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <div class="container" id="heading-container">
        <h1 class="heading main-heading">Hola, {{usuario.nombre + ' ' + usuario.apellido}}</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Este es tu panel principal. Desde acá podés gestionar tus depósitos y pedidos, ver tus EcoPuntos y seguir los movimientos de tu cuenta.</span></h6>
    </div>
    <div class="container" id="top-container" style="margin-top: -2%; display: none;">
        <div class="row">
            <div class="container" id="user-container" style="margin-top: 5%;">
                <div class="row text-center" style="width: 100%;">
                    <p class="mi-cuenta">Mi cuenta</p>
                    <hr style="width: 100%; margin-left: 2.5%;">
                    <div class="col ml-4 mt-4 mb-3" style="width: 60%; margin-top: 3.2% !important;">
                        <div class="row d-flex justify-content-center" style="margin-top: 5%;">
                            <div class="col" style="margin-right: -20%;">
                                <p class="info-result">{{nivel.nombre}}</p>
                                <p class="info-label">Mi nivel</p>
                            </div>
                            <div class="col">
                                <p class="info-result">{{nivel.descuento}}%</p>
                                <p class="info-label">Mi descuento</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col" style="margin-right: -20%;">
                                <p class="info-result">{{usuario.depositos|length}}</p>
                                <p class="info-label">Cantidad de Depósitos</p>
                            </div>
                            <div class="col">
                                <p class="info-result">{{usuario.pedidos|length}}</p>
                                <p class="info-label">Cantidad de Pedidos</p>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button type="button" class="btn" id="ecoasistente-btn-main" data-mdb-ripple-color="dark" onclick="redirect('/eco-tienda');">
                                <i class="fa fa-shopping-bag mr-2 fa-fw" style="color: white;"></i>Visitar la EcoTienda
                            </button>
                        </div>
                        
                    </div>
                    <div class="col ml-4 mt-3 mb-3">
                        <div class="progressbar">
                        <div class="second circle" style="background-color: transparent;"data-percent="{{(usuario.totalEcopuntos - nivel.minimoEcoPuntos)*100/(nivel.maximoEcoPuntos - nivel.minimoEcoPuntos)}}">
                          <strong id="cantEP"><br><span id="label-ep">EcoPuntos</span></strong>
                          <span id="label-nivel">Nivel {{nivel.nombre}}<br></span>
                          {%if nivel.nombre|int == max_level|int%}
                          <span class="product-save" style="width: 130%; margin-left: -15%;">¡Felicitaciones! Ya alcanzaste el máximo nivel.</span>
                          {%else%}
                          <span class="product-save" style="width: 130%; margin-left: -15%;">Te faltan {{(nivel.maximoEcoPuntos - usuario.totalEcopuntos)|round|int}} EcoPuntos para subir de nivel</span>
                          {%endif%}
                        </div>
                        </div>
                    </div>             
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container" id="user-container" style="margin-top: 4%;">
                <div class="row text-center" style="width: 100%;">
                    <p class="mi-cuenta">Últimos Pedidos</p>
                    <hr style="width: 100%; margin-left: 2.5%;">
                    <div class="row" style="width: 100%; text-align: left;">
                        <table class="table content-table-main" id="">
                            <thead style=" border-top:none">
                            <tr>
                                <th scope="col" class="table-heading">Código</th>
                                <th scope="col" class="table-heading">EcoPuntos</th>
                                <th scope="col" class="table-heading">Pesos</th>
                                <th scope="col" class="table-heading">Fecha Encargo</th>
                                <th scope="col" class="table-heading">P. de Retiro</th>
                                <th scope="col" class="table-heading">Artículos</th>
                                <th scope="col" class="table-heading">Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for p in pedidos%}
                                <tr>
                                    <th scope="row">{{p.id}}</th>
                                    <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                                    <td scope="row">${{p.totalARS}}</td>
                                    <td scope="row">{{p.fechaEncargo}}</td>
                                    {%for pr in puntosRetiro%}
                                        {%if pr.id == p.idPuntoRetiro%}
                                            <td scope="row">{{pr.nombre}}</td>
                                        {%endif%}
                                    {%endfor%}
                                    <td><a class="custom-link" href='/gestion-pedidos/usuario/{{p.id}}'><i class="fa fa-box custom-link-fa"></i> Ver Artículos</a></td>  
                                    {%if p.estado == "pendiente"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#3399ff" id="estado-activo"></i>
                                                En preparación
                                            </div>
                                        </td>
                                    {%endif%}
                                    {%if p.estado == "preparado"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#ddbb44" id="estado-activo"></i>
                                                En camino
                                            </div>
                                        </td>
                                    {%endif%}
                                    {%if p.estado == "listo"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#00aa44" id="estado-activo"></i>
                                                Listo para retirar
                                            </div>
                                        </td>
                                    {%endif%}
                                    {%if p.estado == "retirado"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#95C22B" id="estado-activo"></i>
                                                Retirado
                                            </div>
                                        </td>
                                    {%endif%}
                                    {%if p.estado == "cancelado"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#cc4444" id="estado-activo"></i>
                                                Cancelado
                                            </div>
                                        </td>
                                    {%endif%}
                                    {%if p.estado == "devuelto"%}
                                        <td>
                                            <div>
                                                <i class="fas fa-circle" style="color:#882288" id="estado-activo"></i>
                                                Reembolsado
                                            </div>
                                        </td>
                                    {%endif%}
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>         
                </div>
            </div>
            <div class="row" style="margin-bottom: 100px;">
                <div class="container" id="user-container" style="margin-top: 4%;">
                    <div class="row text-center" style="width: 100%;">
                        <p class="mi-cuenta">Últimos Depósitos</p>
                        <hr style="width: 100%; margin-left: 2.5%;">
                        <div class="row d-flex justify-content-center" style="width: 100%; text-align: left;">
                            <table class="table content-table-main" id="">
                                <thead style=" border-top:none">
                                <tr>
                                    <th scope="col" class="table-heading">Código</th>
                                    <th scope="col" class="table-heading">Código acreditación</th>
                                    <th scope="col" class="table-heading">Fecha depósito</th>
                                    <th scope="col" class="table-heading">EcoPuntos</th>
                                    <th scope="col" class="table-heading">Material</th>
                                    <th scope="col" class="table-heading">Punto</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for dep in depositos%}
                                    <tr>
                                        <th scope="row">{{dep.id}}</th>
                                        <td scope="row">{{dep.codigo}}</td>
                                        <td scope="row">{{dep.fechaDeposito}}</td>
                                        <td scope="row">{{dep.ecoPuntos.cantidad}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                                        {%for mat in materiales%}
                                            {%if mat.id|int == dep.material.idMaterial|int%}
                                                <td scope="row">{{mat.nombre|truncate(25,true,'...')}}</td>
                                            {%endif%}
                                        {%endfor%} 
                                        {%for pd in puntosDep%}
                                            {%if pd.id == dep.idPuntoDeposito%}
                                                <td scope="row">{{pd.nombre}}</td>
                                            {%endif%}
                                        {%endfor%}  
                                    </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="static/js/main.js"></script>
<script>setCantEP({{usuario.totalEcopuntos}});</script>

<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
{%endblock%}