<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="contentMovStock">
    <div class="container" id="heading-container">
        <h1 class="heading">Historial de Movimientos de Stock</h1>
    </div>
    
    <!-- Stock de Materiales -->
    <div class="container" id="table-container">
        <h4 class="table-title">Movimientos de Stock</h4>
        <div class="row d-flex justify-content-center scrollable-table">
           
            <div class="row d-flex justify-content-center filert-row">

                <div class="group" id="password-input-group" style="width: 20%; margin-left: 2%;">
                    <select style="background:#fff;box-shadow:none;border: none;border-bottom: 2px solid #cfec8c;" id="type-input" class="selectpicker selectpicker-nooutline filter-input" id="nombreArtInput" name="tipo_doc" data-live-search="true">
                        <option value=-1 selected>&nbsp; Sin filtro</option>
                        
                        <option value="Depósito">&nbsp; Depósito</option>
                        <option value="Entrada Externa">&nbsp; Entrada Externa</option>
                        <option value="Pedido">&nbsp; Pedido</option>
                        <option value="Producción Insumo">&nbsp; Producción Insumo</option>
                        <option value="Producción Material">&nbsp; Producción Material</option>
                        <option value="Salida Entidad de Destino">&nbsp; Salida Entidad de Destino</option>
                        <option value="Salida Municipio">&nbsp; Salida Municipio</option>
                    </select>
                    <input type="text" id="idEntidadInput" name="id" hidden>
                    <span class="highlight password-input"></span>
                    <span class="bar password-input"></span>
                    <label class="password-input">Tipo de movimiento</label>
                    <p id="nameError" class="modalErrorMessage"></p>
                </div>

                <div class="group" id="password-input-group" style="width: 15%; margin-left: 2%;">
                    <select style="background:#fff;box-shadow:none;border: none;border-bottom: 2px solid #cfec8c;" id="in-out-input" class="selectpicker selectpicker-nooutline filter-input" name="tipo_doc" data-live-search="true">
                        <option value=-1 selected>&nbsp; Sin filtro</option>
                        <option value="Entrada">&nbsp; Entrada</option>
                        <option value="Salida">&nbsp; Salida</option>
                        
                    </select>
                    <input type="text" id="idEntidadInput" name="id" hidden>
                    <span class="highlight password-input"></span>
                    <span class="bar password-input"></span>
                    <label class="password-input">Entrada/Salida</label>
                    <p id="nameError" class="modalErrorMessage"></p>
                </div>

                <div class="group" style="width: 18%; margin-left: 2%;">  
                    <input type="text" hidden style="width: 100%; margin-right: 2%;">    
                    <input type="date" required id="date-from-input" class="filter-input" autocomplete="off" style="width: 100%; margin-right: 2%;">
                    <span class="highlight" style="width: 100%; margin-right: 2%;"></span>
                    <span class="bar" style="width: 100%; margin-right: 2%;"></span>
                    <label>Fecha Desde</label>
                </div>

                <div class="group" style="width: 18%; margin-left: 2%;">  
                    <input type="text" hidden style="width: 100%; margin-right: 2%;">    
                    <input type="date" required id="date-to-input" autocomplete="off" class="filter-input" style="width: 100%; margin-right: 2%;">
                    <span class="highlight" style="width: 100%; margin-right: 2%;"></span>
                    <span class="bar" style="width: 100%; margin-right: 2%;"></span>
                    <label>Fecha Hasta</label>
                </div>

                <div class="group" style="width: 15%; margin-left: 2%;">  
                    <button type="button" class="btn primary-btn" id="filter-btn" data-mdb-ripple-color="dark" onclick="active_filter();filter_table();">
                        <i class="fas fa-filter mr-2 fa-fw" style="color: white;"></i>Filtrar
                    </button>
                </div>
                
                
            </div>
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Tipo</th>
                    <th scope="col" class="table-heading">Nombre Elemento</th>
                    <th scope="col" class="table-heading">Movimiento</th>
                    <th scope="col" class="table-heading">Unidad de Medida</th>
                    <th scope="col" class="table-heading">Fecha</th>
                </tr>
                </thead>
                <tbody>
                    {%for ss in salidasStock%}
                    <tr>
                        <th>Salida Entidad de Destino</th>

                        {%for art in articulos%}
                            {%if art.id == ss.articulos.idTipoArticulo%}
                            <td>{{art.nombre}}</td>
                            <td value="Entrada"><i class="fas fa-caret-down color-negativo caret-up"></i> -<span id="ss-{{ss.id + art.id}}"></span></td>
                            <script>$("#ss-{{ss.id + art.id}}").text(parseFloat('{{ss.articulos.cantidad}}'));</script>
                            <td>{{art.unidadMedida}}</td>
                            {%endif%}
                        {%endfor%}
                        <td class="Fecha">{{ss.fecha}}</td>    
                    </tr>
                    {%endfor%}

                    {%for sm in salidasMun%}
                    <tr>
                        <th>Salida Municipio</th>

                        {%for art in articulos%}
                            {%if art.id == sm.articulos.idTipoArticulo%}
                            <td>{{art.nombre}}</td>
                            <td value="Entrada"><i class="fas fa-caret-down color-negativo caret-up"></i> -<span id="sm-{{sm.id + art.id}}"></span></td>
                            <script>$("#sm-{{sm.id + art.id}}").text(parseFloat('{{sm.articulos.cantidad}}'));</script>
                            <td>{{art.unidadMedida}}</td>
                            {%endif%}
                        {%endfor%}
                        <td class="Fecha">{{sm.fecha}}</td>    
                    </tr>
                    {%endfor%}

                    {%for ped in pedidos%}
                    <tr>
                        <th>Pedido</th>

                        {%for art in articulos%}
                            {%if art.id == ped.articulos.idTipoArticulo%}
                            <td>{{art.nombre}}</td>
                            <td value="Entrada"><i class="fas fa-caret-down color-negativo caret-up"></i> -<span id="ped-{{ped.id + art.id}}"></span></td>
                            <script>$("#ped-{{ped.id + art.id}}").text(parseFloat('{{ped.articulos.cantidad}}'));</script>
                            <td>{{art.unidadMedida}}</td>
                            {%endif%}
                        {%endfor%}
                        <td class="Fecha">{{ped.fechaEncargo}}</td>    
                    </tr>
                    {%endfor%}

                    {%for dep in depositos%}
                    <tr>
                        <th>Depósito</th>

                        {%for mat in materiales%}
                            {%if mat.id == dep.material.idMaterial%}
                            <td>{{mat.nombre}}</td>
                            <td value="Entrada"><i class="fas fa-caret-up color-activo caret-up"></i> +<span id="dep-{{dep.id + mat.id}}"></span></td>
                            <script>$("#dep-{{dep.id + mat.id}}").text(parseFloat('{{dep.material.cantidad}}'));</script>
                            <td>{{mat.unidadMedida}}</td>
                            {%endif%}
                        {%endfor%}
                        <td class="Fecha">{{dep.fechaDeposito}}</td>    
                    </tr>
                    {%endfor%}

                    {%for ent in entradas%}
                    <tr>
                        <th>Entrada Externa</th>

                        {%for mat in materiales%}
                            {%if mat.id == ent.material.idMaterial%}
                            <td>{{mat.nombre}}</td>
                            <td value="Entrada"><i class="fas fa-caret-up color-activo caret-up"></i> +<span id="ent-{{ent.id + mat.id}}"></span></td>
                            <script>$("#ent-{{ent.id + mat.id}}").text(parseFloat('{{ent.material.cantidad}}'));</script>
                            <td>{{mat.unidadMedida}}</td>
                            {%endif%}
                        {%endfor%}
                        <td class="Fecha">{{ent.fecha}}</td>    
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->
<div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <br><br><br><br><br><br><br><br>
      <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>

<!-- Horarios Modal -->
<div class="modal fade modal-lg" id="tablaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalHorarios"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card">
                <div class="container modal-large-card">
                    <div class="row">
                        <div class="modal-card-col" id="modal-card-col-1">
                            <img src="/static/img/open-circle-icon.jpg" class="modal-large-card-img" id="open-img">
                            <img src="/static/img/closed-circle-icon.png" class="modal-large-card-img" id="close-img">
                            <img src="/static/img/inactive-circle-icon.png" class="modal-large-card-img" id="inactive-img">
                        </div>
                        <div class="modal-card-col" >
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="estado-apertura-pos">Abierto</p>
                                <p class="open-letter" id="estado-apertura-neg">Cerrado</p>
                                <p class="open-letter" id="estado-apertura-inac">Inactivo</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Estado Actual</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="row d-flex justify-content-center card-first-row">
                                <p class="open-letter" id="cant-horas-cierre-pos">-</p>
                                <p class="open-letter" id="cant-horas-cierre-neg">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box">Tiempo para cierre</p>
                            </div>
                        </div>
                        <div class="modal-card-col">
                            <div class="vl">
                                <div class= "info-container-modal">
                                    <span class="text-muted" id="toda-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-1-pos"></i>Abre de lunes a viernes<br></span>
                                    <span class="text-muted" id="toda-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-1-neg"></i>No abre de lunes a viernes<br></span>

                                    <span class="text-muted" id="fines-semana-pos"><i class="fa fa-check modal-info-img" id="info-modal-2-pos"></i>Abre fines de semana<br></span>
                                    <span class="text-muted" id="fines-semana-neg"><i class="fa fa-times modal-info-img" id="info-modal-2-neg"></i>No abre fines de semana<br></span>

                                    <i class="fa fa-clock modal-info-img" id="info-modal-3"></i><span class="text-muted" id="horarios-apertura">Hoy abre 08:00hs y cierra 20:00hs</span>                                                                        
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
                    <div class="container modal-large-card d-flex justify-content-center" id="modal-large-card-2">
                        <table class="table" id="content-table-modal">
                            <thead>
                            <tr id=headerRow>
                            </tr>
                            </thead>
                            <tbody id="modalTableBody">
                            </tbody>
                    
                        </table>
                    </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>

<!-- Materiales Modal -->
<div class="modal fade modal-lg" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headingModalMat"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-card" id="materiales-modal-body">
                <div class="row margin-bottom-row" id="no-mats">
                    <p id="" class="advert-icon-no-mats"><i class="fa fa-exclamation-triangle advert-icon-no-mats"></i></p>
                    <p class="bottom-modal-text-baja">Este Punto de Depósito aún no acepta ningún material</p>
                    <p class="bottom-modal-text less-margin-top">Para añadir materiales aceptados, ingrese a la opción "Modificar Punto".</p>
                </div>
                <div class="container modal-large-card-sm" id="material-card">
                    <div class="row">
                        <div class="modal-card-col-sm">
                            <div class="circle materiales-large-card-img" id="material-img">M</div>
                        </div>
                        <div class="modal-card-col-sm" >
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="nombre-material">Nombre</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Nombre material</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="unidad-medida">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">Unidad de medida</p>
                            </div>
                        </div>
                        <div class="modal-card-col-sm">
                            <div class="row d-flex justify-content-center card-first-row-sm">
                                <p class="material-card-title" id="id-material">-</p>
                            </div>
                            <div class="row d-flex justify-content-center card-second-row">
                                <p class="text-box material-card-subtitle">ID material</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        <div class="modal-footer">
            <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
        </div>
    </div>

    </div>
</div>



<script src="/static/js/movimiento-stock.js"></script>

{% endblock %}