<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Mis Pedidos</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Visualice un historial de sus pedidos realizados en EcoAsistente.</span></h6>
    </div>
    



    <!-- Loading Modal -->
    <!-- Para mostrar mientras se carga un modal-->

    <div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <br><br><br><br><br><br><br><br>
            <div class="row" id="loadingRow">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>




    <!-- Articulos Modal -->
    <div class="modal fade modal-lg" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="headingModalMat"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-card" id="materiales-modal-body">
                    <div class="container modal-large-card-sm" id="material-card">
                        <div class="row">
                            <div class="modal-card-col-sm">
                                <div class="circle materiales-large-card-img" id="material-img">I</div>
                            </div>
                            <div class="modal-card-col-sm" >
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="nombre-material">Nombre</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Nombre artículo</p>
                                </div>
                            </div>
                            <div class="modal-card-col-sm">
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="unidad-medida">-</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Unidad de medida</p>
                                </div>
                            </div>
                            <div class="modal-card-col-sm">
                                <div class="row d-flex justify-content-center card-first-row-sm">
                                    <p class="material-card-title" id="cantidad">-</p>
                                </div>
                                <div class="row d-flex justify-content-center card-second-row">
                                    <p class="text-box material-card-subtitle">Cantidad</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn primary-btn" id="primary-btn" data-dismiss="modal">Listo</div>
                </div>
            </div>      
        </div>
    </div>





    <!-- Tabla Pedidos Activos-->
    <div class="container" id="table-container">
        <h4 class="table-title">Pedidos Activos</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Código</th>
                    <th scope="col" class="table-heading">EcoPuntos</th>
                    <th scope="col" class="table-heading">Pesos</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Artículos</th>
                    <th scope="col" class="table-heading">Estado</th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == "preparado" or p.estado == "pendiente" or p.estado == "listo"%}
                        {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <button id="open-modal-mat" href='#'data-toggle="modal" data-target="#materialesModal"hidden="true"></button>
                            <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row" id="price-val">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa"></i> Ver artículos</a></td>
                            {%if p.estado == "pendiente"%}
                                <td>
                                    <div>
                                        <i class="fas fa-circle" style="color:#3399ff" id="estado-activo"></i>
                                        En preparación
                                    </div>
                                </td>
                            {%endif%}
                            {%if p.estado == "preparado"%}
                                <td>
                                    <div>
                                        <i class="fas fa-circle" style="color:#ddbb44" id="estado-activo"></i>
                                        En camino
                                    </div>
                                </td>
                            {%endif%}
                            {%if p.estado == "listo"%}
                                <td>
                                    <div>
                                        <i class="fas fa-circle" style="color:#00aa44" id="estado-activo"></i>
                                        Listo para retirar
                                    </div>
                                </td>
                            {%endif%}
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    <!--Tabla Pedidos Inactivos -->
    <div class="container" id="table-container">
        <h4 class="table-title">Pedidos Inactivos</h4>
        <div class="row d-flex justify-content-center scrollable-table">
            <table class="table" id="content-table">
                <thead style=" border-top:none">
                <tr>
                    <th scope="col" class="table-heading">Código</th>
                    <th scope="col" class="table-heading">EcoPuntos</th>
                    <th scope="col" class="table-heading">Pesos</th>
                    <th scope="col" class="table-heading">Fecha Encargo</th>
                    <th scope="col" class="table-heading">P. de Retiro</th>
                    <th scope="col" class="table-heading">Artículos</th>
                    <th scope="col" class="table-heading">Estado</th>
                </tr>
                </thead>
                <tbody>
                {%for p in pedidos%}
                    {%if p.estado == "cancelado" or p.estado == "devuelto" or p.estado == "retirado"%}
                        {%set ids_articulos = []%}
                        {%set cantidades = []%}
                        {%for art in p.articulos%}
                            <!--{{ids_articulos.append(art.idTipoArticulo)}} -->
                            <!--{{cantidades.append(art.cantidad)}} -->
                        {%endfor%}
                        <tr>
                            <button id="open-modal-mat" href='#'data-toggle="modal" data-target="#materialesModal"hidden="true"></button>
                            <button id="open-loading-modal" href='#'data-toggle="modal" data-target="#loadingModal" data-backdrop="static" data-keyboard="false" hidden="true">
                            <th scope="row">{{p.id}}</th>
                            <td scope="row">{{p.totalEP}} <img src="/static/img/econpuntos-logo.png" class="depositos-ep-img"></td>
                            <td scope="row" id="price-val">${{p.totalARS}}</td>
                            <td scope="row">{{p.fechaEncargo}}</td>
                            {%for pr in puntosRetiro%}
                                {%if pr.id == p.idPuntoRetiro%}
                                    <td scope="row">{{pr.nombre}}</td>
                                {%endif%}
                            {%endfor%}
                            <td><a class="custom-link" href='#' onclick="openLoadingRing();openModalMateriales({{ids_articulos}},{{cantidades}});"><i class="fa fa-box custom-link-fa"></i> Ver artículos</a></td>
                            {%if p.estado == "retirado"%}
                                    <td>
                                        <div>
                                            <i class="fas fa-circle" style="color:#95C22B" id="estado-activo"></i>
                                            Retirado
                                        </div>
                                    </td>
                                {%endif%}
                                {%if p.estado == "cancelado"%}
                                    <td>
                                        <div>
                                            <i class="fas fa-circle" style="color:#cc4444" id="estado-activo"></i>
                                            Cancelado
                                        </div>
                                    </td>
                                {%endif%}
                                {%if p.estado == "devuelto"%}
                                    <td>
                                        <div>
                                            <i class="fas fa-circle" style="color:#882288" id="estado-activo"></i>
                                            Reembolsado
                                        </div>
                                    </td>
                                {%endif%}
                        </tr>
                    {%endif%}
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="/static/js/pedidos.js"></script>
{% endblock %}
                                