<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/codigo.css')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script data-ad-client="ca-pub-2159408717266836" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    

</head>

<!-- Sidebar import -->
{% extends 'layout.html' %}

{% block body %}
<div class="page-content" style="text-align: left;" id="content">




    <!-- Heading -->

    <div class="container" id="heading-container">
        <h1 class="heading">Gestión de Permisos y Tipos de Usuario</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Visualise y gestione los permisos de acceso a los distintos módulos de EcoAsistente para cada Tipo de Usuario</span></h6>
    </div>


    <div class="container" id="top-container">
        <div class="row">
            <div class="container" id="option-left" onclick="openAltaModal();" style="width: 49%;">
                    <div class="option-text">
                        <p class="option-title">Añadir Tipo de Usuario</p>
                        <p class="text-box">Añadir un nuevo Tipo de Usuario al sistemay determinar sus permisos de acceso</p>
                    </div>
                    <i class="fa fa-plus option-img" id="option-img-1"></i>
            </div>
            <div class="container" id="option-right" onclick="openBajaModal();" style="width: 49%;">
                <div class="option-text">
                    <p class="option-title">Eliminar Tipo de Usuario</p>
                    <p class="text-box">Eliminar un Tipo de Usuario registrado en el sistema junto con sus permisos de acceso</p>
                </div>
                <i class="fa fa-trash option-img"  id="option-img-3"></i>
            </div>
        </div>
    </div>

    <div class="container" id="table-container">
        <h4 class="table-title" style="margin-bottom: 3%;"><i class="fas fa-key" style="color: #95C22B !important;"></i> Permisos de Acceso</h4>          
        <div class="row d-flex justify-content-center mt-4" style="padding-bottom: 5%; margin-top: 2%;">
            <div class="col" style="width: 100%; margin-left: 4%;">
                <h5 class="table-title" style="margin-left: 0%;">Seleccione el Tipo de Usuario</h5> 
                <ul class="list-group" style="width: 80%; padding-top: 3%;">
                    {%for tu in tipos_usuario%}
                    <li class="list-group-item d-flex justify-content-between lh-condensed list-item-pa" id="item-{{tu.id}}" onclick="getModulos('{{tu.id}}');setUserLabel('{{tu.nombre}}');setItemColor({{tu.id}});">
                        <div>
                          <h6 class="my-0">{{tu.nombre}}</h6>
                          <small class="text-muted"></small>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                      </li>
    
                    </li>
                    {%endfor%}
                  </ul>
            </div>
            <div class="col" style="width: 100%;">
                <h5 class="table-title" id="table-permisos-title" style="margin-left: -14%;">Permisos del <span id="tipo-usuario-sel">Ciudadano</span></h5>
                <div class="table-container-permisos" id="permisos-table" style="display: none;"> 
                    <table class="table content-table-main" id="" style="margin-left: 5%; width: 90%;">
                        <thead style=" border-top:none">
                        <tr>
                            <th scope="col" class="table-heading">Nombre Módulo</th>
                            <th scope="col" class="table-heading">Acceso</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Módulos Ciudadano</td>
                                <td>
                                    <div class="custom-control custom-switch cs-disabled">
                                        <input type="checkbox" class="custom-control-input" id="acceso-0" checked disabled>
                                        <label class="custom-control-label" for="acceso-0"></label>
                                      </div>
                                </td>
                            </tr>
                            {%for modulo in modulos%}
                            <tr>
                                <td>{{modulo.nombre}}</td>
                                <td>
                                    <div class="custom-control custom-switch cs-enabled">
                                        <input type="checkbox" class="custom-control-input" id="acceso-{{modulo.id}}" oninput="cambiaSwitch({{modulo.id}});">
                                        <label class="custom-control-label" for="acceso-{{modulo.id}}"></label>
                                      </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="table-container-permisos" id="permisos-table-disabled"> 
                    <table class="table content-table-main" id="" style="margin-left: 5%; width: 90%;">
                        <thead style=" border-top:none">
                        <tr>
                            <th scope="col" class="table-heading">Nombre Módulo</th>
                            <th scope="col" class="table-heading">Acceso</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Módulos Ciudadano</td>
                                <td>
                                    <div class="custom-control custom-switch cs-disabled">
                                        <input type="checkbox" class="custom-control-input" id="acceso-disabled-0" checked disabled>
                                        <label class="custom-control-label" for="acceso-disabled-0"></label>
                                    </div>
                                </td>
                            </tr>
                            {%for modulo in modulos%}
                            <tr>
                                <td>{{modulo.nombre}}</td>
                                <td>
                                    <div class="custom-control custom-switch cs-disabled">
                                        <input type="checkbox" class="custom-control-input" id="acceso-disabled-{{modulo.id}}" disabled>
                                        <label class="custom-control-label" for="acceso-disabled-{{modulo.id}}"></label>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4" id="loading-row-permisos" style="padding-top: 10%; margin-left: -31%; display: none;">
                    <div id="lds-ring-permisos" class="lds-ring" style="display:block"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-permisos" style="margin-left: -20%; display: none;">Cargando permisos...</p>
            </div>
            
        </div>
        
    </div>
    <div class="row" id="loadingRowCodigo" style="display: none;">
        <div id="lds-ring-big" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="row d-flex justify-content-center" id="loading-text-row">
        <p id="loading-text-codigo"></p>
    </div>
    

        
</div>

<!--Modal ALta -->
<div class="modal fade modal-lg" id="tuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Añadir un Tipo de Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-card">
            <div class="row profile-loading-row mt-2" style="display: none;" id="loadingRow">
                <div class="lds-ring" style="display: none;"><div></div><div></div><div></div><div></div></div>
            </div>
            <form action="{{url_for('add_tipo_usuario')}}" method="POST" id="tuForm">
                <div class="row subheader-row" id="subheader-alta-pd">
                    <div class="col">
                        <label class="subheader" id="subheader-alta">Tipo de Usuario</label>
                    </div>
                </div>
                <div class="row" id="fieldsRow1Alta1" style="margin-top: -2%;">
                    <div class="group" style="margin-left: 10%; width: 87%; margin-top: 2%;">
                        <input type="text" oninput="validateTU(value)" required autocomplete="off" id="tuInput" class="tuInput" name="tuInput" style="width: 90%;">
                        <input type="text" id="idEntidadInput" name="id" hidden>
                        <span class="highlight" style="width: 90%;"></span>
                        <span class="bar" style="width: 90%;"></span>
                        <label style="margin-top: -5px;">Nombre Tipo de Usuario</label>
                        <p id="tu-error" class="modalErrorMessage" style="display: none;">* Nombre inválido.</p>
                    </div>
                </div>
            </form>
            <div class="row bottom-row">
                <p class="bottom-modal-text label-bottom" id="bottomAltaModalTextAltaPD" style="margin-top: 1%;">Una vez completado el nombre, presione "Crear Tipo de Usuario".</p>
                <p class="bottom-modal-text" id="bottomAltaModalTextEmail"></p>            
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn secondary-btn" data-dismiss="modal" id="secondary-btn">Cancelar</button>
          <button type="button" class="btn primary-btn" onclick="submitForm('email')" id="primary-btn-tu" disabled>Crear Tipo de Usuario</button>
        </div>
      </div>
    </div>
</div>

<!--Modal ALta -->
<div class="modal fade modal-lg" id="tuModalBaja" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Eliminar un Tipo de Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-card">
            <div class="row profile-loading-row mt-2" style="display: none;" id="loadingRow">
                <div class="lds-ring" style="display: none;"><div></div><div></div><div></div><div></div></div>
            </div>
            
            <div class="row subheader-row" id="subheader-alta-pd">
                <div class="col" id="subheader-baja">
                    <label class="subheader" id="subheader-alta-tu">Seleccione el Tipo de Usuario que desea eliminar</label>
                </div>
            </div>
            <div class="row justify-content-center" id="selectReemplazoRow" style="display: none; margin-top: -2%; margin-bottom: 2%;" >
                <select style="background:#fff;box-shadow:none;border: none; font-size: 15px; border-bottom: 2px solid #f14e4eef; width: 78% !important; margin-left: 0%;" id="tu-reemplazo" class="selectpicker selectpicker-nooutline" oninput="enable_disable_tu_baja(value);" data-live-search="true">
                    <option value=-1 selected disabled>Por favor, seleccione un tipo de usuario de reemplazo</option>
                    {%for tu in tipos_usuario%}
                        <option value='{{tu.id}},{{tu.nombre}}'>{{tu.nombre}}</option>
                    {%endfor%}    
                </select>
                <div class="row mt-4">
                    <p class="bottom-modal-text label-bottom" id="bottomAltaModalTextAltaPD" style="margin-top: 3%;">Una vez seleccionado el Tipo de Usuario de reemplazo, presione "Siguiente".</p>
                </div>
            </div>
            <div class="row mb-2" id="fieldsRow1Alta1" style="margin-top: -4%;">
                <ul class="list-group" id="list-group-baja" style="width: 80%; margin-left: 10%;">
                    {%for tu in tipos_usuario%}
                    {%if tu.nombre != 'Ciudadano'%}
                    <li class="list-group-item d-flex justify-content-between lh-condensed list-group-item-del" onmouseover="changeTrashColor({{tu.id}});" onmouseout="changeTrashColorBack({{tu.id}});">
                        <div>
                          <h6 class="my-0">{{tu.nombre}}</h6>
                          <h6 class="my-1" hidden>{{tu.id}}</h6>
                          <small class="text-muted"></small>
                        </div>
                        <i class="fas fa-trash" id="trash-{{tu.id}}" style="color: #f14e4eef;"></i>
                      </li>
                    {%endif%}
                    {%endfor%}
                  </ul>
            </div>
            <div class="modal-body-baja" id="bajaRow" style="display: none; margin-bottom: -2%; margin-top: -8%;">
                <div class="row" id="loadingRow">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <form action="{{url_for('baja_tipo_usuario')}}" method="POST" id="bajaTUform">
                    <div class="row margin-bottom-row" id="fieldsRowBaja">
                        <img src="/static/img/exclamation-mark.png" class="delete-exlamation-mark">
                        <p class="bottom-modal-text-baja" id="baja-question">¿Está seguro que desea eliminar el <span id="nombreTUbaja"></span>?</p>
                        <p class="bottom-modal-text less-margin-top">Los usuarios del tipo "<span id="nombreTUbaja2"></span>" pasarán a ser del tipo "<span id="nuevoNombre"></span>".<br>Una vez eliminado, tanto el Tipo de Usuario como sus permisos de acceso no se podrán recuperar.</p>
                        <input type="text" id="idTuBaja" name="idTuBaja" hidden>
                        <input type="text" id="idTuBajaRemplazo" name="idTuBajaRemplazo" hidden>
                    </div>
                </form>
                <p class="bottom-modal-text" id="bottomBajaModalText"></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn secondary-btn" onclick="pageHandler();" id="secondary-btn-baja">Cancelar</button>
            <button type="button" class="btn primary-btn-alert" onclick="submitFormBaja();" id="primary-btn-alert" disabled>Siguiente</button>
        </div>
      </div>
    </div>
</div>


<script src="/static/js/permisos-usuario.js"></script>
{% endblock %}