<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/master.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/reportes.css')}}">

</head>

{% extends 'layout.html' %}
{% block body %}
<div class="page-content" style="text-align: left;" id="content">
    <div class="container" id="heading-container">
        <h1 class="heading">Reportes</h1>
        <h6 class="d-flex justify-content-between align-items-center"><span class="text-muted subheading">Visualice las estadísticas de EcoAsistente.</span></h6>
    </div>
    <div id="main-content">

        <div class="container" id="top-container">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('stockArts');" style="width: 49%;">
                    <i class="fas fa-box option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Niveles de Stock de Artículos</p>
                            <p class="text-box">Visualizar los niveles de stock de los distintos Artículos registrados en el sistema</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('stockIns');" style="width: 49%;">
                    <i class="fas fa-pallet option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Niveles de Stock de Insumos</p>
                        <p class="text-box">Visualizar los niveles de stock de los distintos Insumos registrados en el sistema</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('stockMats');" style="width: 49%;">
                    <i class="fas fa-truck-loading option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Niveles de Stock de Materiales</p>
                            <p class="text-box">Visualizar los niveles de stock de los distintos Materiales registrados en el sistema</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('cantUsers');" style="width: 49%;">
                    <i class="fas fa-users option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Cantidad de Usuarios</p>
                        <p class="text-box">Visualizar la cantidad de Usuarios a través del tiempo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('cantDeps');" style="width: 49%;">
                    <i class="fas fa-recycle option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Cantidad de Depósitos</p>
                            <p class="text-box">Visualizar la cantidad de Depósitos a través del tiempo</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('cantPeds');" style="width: 49%;">
                    <i class="fas fa-paper-plane option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Cantidad de Pedidos</p>
                        <p class="text-box">Visualizar la cantidad de Pedidos a través del tiempo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('ingresos');" style="width: 49%;">
                    <i class="fas fa-money-check-alt option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Ingresos</p>
                            <p class="text-box">Visualizar los ingresos del sistema a través del tiempo</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('costos');" style="width: 49%;">
                    <i class="fas fa-file-invoice-dollar option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Costos</p>
                        <p class="text-box">Visualizar los costos del sistema a través del tiempo</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('rentabilidad');" style="width: 49%;">
                    <i class="fas fa-chart-line option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Movimientos de Dinero</p>
                            <p class="text-box">Visualizar la rentabilidad del sistema a través del tiempo</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('gananciasTotales');" style="width: 49%;">
                    <i class="fas fa-user-check option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Ganancias Totales</p>
                        <p class="text-box">Visualizar las ganancias del sistema a través del tiempo</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('gananciasArt');" style="width: 49%;">
                    <i class="fas fa-search-dollar option-img" id="option-img-1" style="display: block !important; margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Ganancias por Artículo</p>
                            <p class="text-box">Visualizar las ganancias del un artículo a través del tiempo</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('depsAcred');" style="width: 49%;">
                    <i class="fas fa-user-check option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Depósitos Acreditados</p>
                        <p class="text-box">Visualizar la proporción de depósitos que fueron acreditados a un usuario</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="top-container" style="margin-top: 2%;">
            <div class="row">
                <div class="container" id="option-left" onclick="openGraphModal('puntosDep');" style="width: 49%;">
                    <i class="fas fa-compass option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                        <div class="option-text">
                            <p class="option-title">Puntos de Depósito</p>
                            <p class="text-box">Visualizar la cantidad y proporción de depositos en cada punto de depósito</p>
                        </div>
                </div>
                <div class="container" id="option-right" onclick="openGraphModal('puntosRet');" style="width: 49%;">
                    <i class="fas fa-map-marked-alt option-img" id="option-img-1" style="margin-left:5% !important;margin-right:5% !important;text-align:center;"></i>
                    <div class="option-text">
                        <p class="option-title">Puntos de Retiro</p>
                        <p class="text-box">Visualizar la cantidad y proporción de pedidos en cada punto de retiro</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="height: 75px;">
        </div>
        <button id="open-graph-modal" href='#'data-toggle="modal" data-target="#graphModal" hidden>
    </div> 
</div>

<!-- Loading Modal -->
<!-- Para mostrar mientras se carga un modal-->
<div class="modal fade modal-lg" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <br><br><br><br><br><br><br><br>
      <div class="row" id="loadingRow">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>


    
<!--Graph Modal -->
<div class="modal fade modal-lg" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="headingModal">Visualizar Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="margin-top: 0% !important;">
            <div id="graph-stockMats" class="graph-row" style="display: none;">
                <!--START Gráfico materiales -->
                <h5 class="table-title" id="title-stockMats" style="margin-left: 6%;"></h5>
                <div>
                        <div id="inputs-mat">
                            <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="stock-mat-time-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data($('#stock-mat-sp').val(),value,'/reportes-admin/movimientos-stock-mat/')" data-live-search="true">
                                        <option value=12>&nbsp; 1 año</option>
                                        <option value=36>&nbsp; 3 años</option>
                                        <option value=60>&nbsp; 5 años</option>    
                                </select>
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 30% !important; margin-right: 7%;" id="stock-mat-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data(value, $('#stock-mat-time-sp').val(),'/reportes-admin/movimientos-stock-mat/')" data-live-search="true">
                                    {%for mat in materiales%}
                                        <option value={{mat.id}}>&nbsp; {{mat.nombre}}</option>
                                    {%endfor%}
                                    
                                </select>
                            </div>
                        </div>
                        
                        <div id="inputs-ins">
                            <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="stock-ins-time-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data($('#stock-ins-sp').val(),value,'/reportes-admin/movimientos-stock-ins/')" data-live-search="true">
                                        <option value=12>&nbsp; 1 año</option>
                                        <option value=36>&nbsp; 3 años</option>
                                        <option value=60>&nbsp; 5 años</option>    
                                </select>
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 30% !important; margin-right: 7%;" id="stock-ins-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data(value, $('#stock-ins-time-sp').val(),'/reportes-admin/movimientos-stock-ins/')" data-live-search="true">
                                    {%for ins in insumos%}
                                        <option value={{ins.id}}>&nbsp; {{ins.nombre}}</option>
                                    {%endfor%}
                                    
                                </select>
                            </div>
                        </div>

                    <div id="inputs-art">
                        <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="stock-art-time-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data($('#stock-art-sp').val(),value,'/reportes-admin/movimientos-stock-art/')" data-live-search="true">
                                        <option value=12>&nbsp; 1 año</option>
                                        <option value=36>&nbsp; 3 años</option>
                                        <option value=60>&nbsp; 5 años</option>    
                                </select>
                                <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 30% !important; margin-right: 7%;" id="stock-art-sp" class="selectpicker selectpicker-nooutline" oninput="stockMats_data(value, $('#stock-art-time-sp').val(),'/reportes-admin/movimientos-stock-art/')" data-live-search="true">
                                    {%for art in articulos%}
                                        <option value={{art.id}}>&nbsp; {{art.nombre}}</option>
                                    {%endfor%}
                                </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-mat" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-mat">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-mat">
                    <div id="chartContainer" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-mat" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Stock</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-stockMats">
                    </tbody>
                </table>
                <!--END Gráfico materiales -->
            </div>
            

            <div class="graph-row" id="graph-users" style="display: none;">
                <!--START Gráfico usuarios -->
                <h5 class="table-title" id="title-users" style="margin-left: 6%;">Cantidad de Usuarios en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="users-time-sp" class="selectpicker selectpicker-nooutline" oninput="cantUsers()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-users" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-users">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-users">
                    <div id="chartContainer-users" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-users" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Cantidad</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-users">
                    </tbody>
                </table>
                <!--END Gráfico usuarios -->
            </div>



            
            <div class="graph-row" id="graph-gananciasArt" style="display: none;">
                <!--START Gráfico ganancias por Art -->
                <h5 class="table-title" id="title-gananciasArt" style="margin-left: 6%;">Ganancias de un Artículo en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="gananciasArt-time-sp" class="selectpicker selectpicker-nooutline" oninput="gananciasArt()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 30% !important; margin-right: 7%;" id="gananciasArt-sp" class="selectpicker selectpicker-nooutline" oninput="gananciasArt()" data-live-search="true">
                            {%for art in articulos%}
                                <option value={{art.id}}>&nbsp; {{art.nombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-gananciasArt" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-gananciasArt">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-gananciasArt">
                    <div id="chartContainer-gananciasArt" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-gananciasArt" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Ganancias</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-gananciasArt">
                    </tbody>
                </table>
                <!--END Gráfico ganancias por Art -->
            </div>




            <div class="graph-row" id="graph-gananciasTotal" style="display: none;">
                <!--START Gráfico ganancias -->
                <h5 class="table-title" id="title-gananciasTotal" style="margin-left: 6%;">Ganancias Totales en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="gananciasTotal-time-sp" class="selectpicker selectpicker-nooutline" oninput="gananciasTotales()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-gananciasTotal" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-gananciasTotal">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-gananciasTotal">
                    <div id="chartContainer-gananciasTotal" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-gananciasTotal" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Ganancias</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-gananciasTotal">
                    </tbody>
                </table>
                <!--END Gráfico ganancias -->
            </div>





            <div class="graph-row" id="graph-rentabilidad" style="display: none;">
                <!--START Gráfico Rentabilidad -->
                <h5 class="table-title" id="title-rentabilidad" style="margin-left: 6%;">Movimiento de dinero en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="rentabilidad-time-sp" class="selectpicker selectpicker-nooutline" oninput="rentabilidad()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-rentabilidad" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-rentabilidad">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-rentabilidad">
                    <div id="chartContainer-rentabilidad" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-rentabilidad" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Balance</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-rentabilidad">
                    </tbody>
                </table>
                <!--END Gráfico Rentabilidad -->
            </div>



            <div class="graph-row" id="graph-cantPeds" style="display: none;">
                <!--START Gráfico Pedidos -->
                <h5 class="table-title" id="title-cantPeds" style="margin-left: 6%;">Cantidad de depósitos en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="cantPeds-time-sp" class="selectpicker selectpicker-nooutline" oninput="cantPeds()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-cantPeds" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-cantPeds">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-cantPeds">
                    <div id="chartContainer-cantPeds" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-cantPeds" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Cantidad</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-cantPeds">
                    </tbody>
                </table>
                <!--END Gráfico Pedidos -->
            </div>




            <div class="graph-row" id="graph-cantDeps" style="display: none;">
                <!--START Gráfico Depositos -->
                <h5 class="table-title" id="title-cantDeps" style="margin-left: 6%;">Cantidad de pedidos en el tiempo</h5>
                <div >
                    <div class="d-flex justify-content-end" style="margin-bottom: -3%; margin-top: 3%;">
                        <select style="background:#fff;box-shadow:none;border: none; font-size: 13px; border-bottom: 2px solid #cfec8c; width: 15% !important; margin-right: 3%;" id="cantDeps-time-sp" class="selectpicker selectpicker-nooutline" oninput="cantDeps()" data-live-search="true">
                                <option value=12>&nbsp; 1 año</option>
                                <option value=36>&nbsp; 3 años</option>
                                <option value=60>&nbsp; 5 años</option>    
                        </select>
                    </div>
                </div>
                <div class="row mt-4" id="loading-row-cantDeps" style="padding-top: 5%;">
                    <div id="lds-ring-chart" class="lds-ring" style="display: block;"><div></div><div></div><div></div><div></div></div>
                </div>
                <p class="loading-text-chart mb-4" id="loading-text-cantDeps">Cargando gráfico...</p>
                <div class="row mb-4" id="chart-row-cantDeps">
                    <div id="chartContainer-cantDeps" class="mt-4 mb-4" style="height: 300px; width: 89%; margin-left: 5%;"></div>
                </div>
                <div class="row mt-4" id="loading-row-cantDeps" style="padding-top: 3%;">
                </div>


                <table class="table" style="margin-left: 5%;width:90%;">
                    <thead style="border-top:none">
                    <tr>
                        <th scope="col" class="table-heading">Mes</th>
                        <th scope="col" class="table-heading">Cantidad</th>
                        <th scope="col" class="table-heading">Cambio</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-cantDeps">
                    </tbody>
                </table>
                <!--END Gráfico Depositos -->
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn primary-btn" data-dismiss="modal" id="primary-btn-re">Listo</button>
        </div>

      </div>
    </div>
</div>
<script src="static/js/reportes.js"></script>

{% endblock %}