<!DOCTYPE html>
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/simulador-depositos.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
</head>
<body style="background-color: #ffffff;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main"><img src="/static/img/logo-gris.png" width="150px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
        <form class="form-inline">
                <a class="nav-link disabled" href="#">Simulador de Depósitos</a>
        </form>
    </nav>

    <div class="" id="main-container">
        <div id="initial-page">
            <div class="row d-flex justify-content-center" style="width: 100%;">
                <h3 class="title">Bienvenido al simulador de Depósitos</h3>
                <p class="page-content-subtitle">Simulá la experiencia de un Punto de Depósito</p>
            </div>
            <div class="row d-flex justify-content-center" style="width: 100%;">
                <img src="/static/img/flat-man-recycling.png" class="main-img">
            </div>
            <button type="button" class="btn btn-outline-primary" id="main-button" data-mdb-ripple-color="dark" onclick="hideInitialPage();">
                Hacer un depósito
            </button>
        </div>

        <div class="multisteps-form" id="multisteps-form">
            <!--progress bar-->
            <div class="row">
              <div class="col-12 ml-auto mr-auto mb-4" style="width: 60% !important;">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button" title="User Info" disabled>Punto de Depósito</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Address" disabled>Material</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Order Info" disabled>Cantidad</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Comments" disabled>Confirmar</button>
                </div>
              </div>
            </div>
            <!--form panels-->
            <div class="row">
              <div class="col-12 ml-auto mr-auto">
                <form class="multisteps-form__form" style="margin-left: 10%; width: 80%; margin-top: 3%;">
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Seleccionar Punto de Depósito</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4 mb-4">
                        <select class="multisteps-form__select form-control mt-4" id="pd-select" onchange="setPD();">
                          <option selected disabled>-- Por favor, seleccione un Punto de Depósito --</option>
                            {% for pd in puntos_deposito%}
                              {%if pd.iDsMaterial|length > 0 %}
                                <option value="{{pd.id}},{{pd.nombre}}">{{pd.nombre}}</option>
                              {%endif%}
                            {%endfor%}
                          </select>
                      </div>
                      <div class="row d-flex btn-row">
                        <button class="btn btn-primary ml-auto js-btn-next" id="siguiente1btn" type="button" title="Next" disabled>Siguiente</button>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Seleccione el material depositado</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4 mb-4">
                        <select class="multisteps-form__select form-control mt-4" id="mat-select" onchange="setUnidadValue();">
                          <option selected disabled>-- Por favor, seleccione un Material</option>
                        </select>
                      </div>
                      <div class="row d-flex btn-row">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Anterior</button>
                        <button class="btn btn-primary ml-auto js-btn-next" id="siguiente2btn" disabled type="button" title="Next">Siguiente</button>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Ingrese la cantidad de <span id="unidadMedida"></span></h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4 mb-4">
                            <div class="col mt-4">
                                <input class="form-control" type="number" id="cantidad-input" oninput="setCant();" placeholder="Ingrese la cantidad depositada..."/>
                            </div>
                      </div>
                      <div class="row d-flex btn-row">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Anterior</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next"  id="cant-next-btn" disabled>Siguiente</button>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Resumen del Depósito</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4">
                        <div class="container modal-large-card-sm" id="material-card" style="width: 100% !important;">
                            <div class="row">
                                <div class="modal-card-col-sm">
                                    <div class="circle materiales-large-card-img" id="material-img">M</div>
                                </div>
                                <div class="modal-card-col-sm" >
                                    <div class="row d-flex justify-content-center card-first-row-sm">
                                        <p class="material-card-title" id="nombre-material">Nombre</p>
                                    </div>
                                    <div class="row d-flex justify-content-center card-second-row">
                                        <p class="text-box material-card-subtitle">Nombre material</p>
                                    </div>
                                </div>
                                <div class="modal-card-col-sm">
                                    <div class="row d-flex justify-content-center card-first-row-sm">
                                        <p class="material-card-title" id="cantidad">-</p>
                                    </div>
                                    <div class="row d-flex justify-content-center card-second-row">
                                        <p class="text-box material-card-subtitle">Cantidad</p>
                                    </div>
                                </div>
                                <div class="modal-card-col-sm">
                                    <div class="row d-flex justify-content-center card-first-row-sm">
                                        <p class="material-card-title" id="nombre-pd">-</p>
                                    </div>
                                    <div class="row d-flex justify-content-center card-second-row">
                                        <p class="text-box material-card-subtitle">Punto de depósito</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>                      
                      <div class="row d-flex btn-row">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Anterior</button>
                        <button class="btn btn-success ml-auto" type="button" title="Send" onclick="submitForm();">Confirmar depósito</button>
                      </div>
                    </div>
                  </div>
                </form>
               </div>
            </div>
          </div>

          <div class="row" id="loadingRowPuntos">
            <div id="lds-ring-big" class="lds-ring" style="display: none; margin-top: 5% !important;"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="row" id="ticket">
          <div class="container ticket-container">
            <h3 class="ticket-title">¡Ha generado 200 EcoPuntos!</h3>
            <p class="ticket-code-subtitle">Su código es:</p>

            <p class="ticket-code" id="code">
                AGSJSJ80912kJASHHS
            </p>
            <p class="ticket-thanks">¡Muchas gracias por su depósito!</p>
            <p class="ticket-subtitle">Recuerde cargar el código en EcoAsistente para acreditar sus EcoPuntos</p>

          </div>

        </div>
        </div>
        <p id="loading-text">Creando depósito..</p>

    </div>


</body>

<script src="/static/js/simulador-depositos.js"></script>
<script src="/path/to/bootstrap.min.css"></script>

