<td class="pl-0 pb-0 w-25" >Cantidad de EcoPuntos a utilizar</td>
  <div class="row" style="width: 100%;">
    <div class="col" style="width: 100%;">
      <div class="range" style="height: 2px !important; font-size: 12px; width: 100%;">
        <input type="range" id="slideInput" name="range" min="0" max="100" value="50" oninput="setPvalues(value);" style="border: none!important;">
        <div class="row">
          <div class="col">
            <p id="cantEP"></p>
          </div>
          <div class="col" style="text-align: right; width: 150%; margin-right:-10%;">
            <p id="cantMoney"></p>
          </div>
        </div>
  
      </div>
    </div>    
  </div>
</td>
                <hr/>